<div class="dialog">
  <div class="mb-6 text-base">{{ 'i18n.ft.select-traces' | translate }}</div>
  <div>{{ 'i18n.ft.select-traces-which' | translate }}</div>
  <div class="mb-4">{{ 'i18n.ft.if-selected-trace' | translate }}</div>

  <!-- traces -->
  <ng-container *ngFor="let button of traceTable; let i = index">
    <div class="text-sm">
      <rtu-multi-selection-button [button]="button" (click)="onTraceClick(i)" />
    </div>
  </ng-container>

  <!-- buttons -->
  <div class="mt-10 flex flex-row justify-end">
    <button class="button-cancel mr-2 min-w-36" (click)="onDiscardClicked()" cdkFocusInitial>
      {{ 'i18n.ft.discard' | translate }}
    </button>
    <button class="button-ok mr-2 min-w-36" (click)="onApplyClicked()">
      {{ 'i18n.ft.add-equimpent' | translate }}
    </button>
  </div>
</div>
