<div *ngIf="(alarmNotificationTotalCount$ | async)! > 0" class="flex justify-end gap-2 text-xs">
  <div class="text-gray-600 dark:text-zinc-400">{{ 'i18n.common.dismiss' | translate }}:</div>
  <div [rtuColorizeByAlarmLevelWithHover]="levels.Minor" class="cursor-pointer">
    <div (click)="dismissByLevel(levels.Minor)">{{ levels[levels.Minor] }}</div>
    <!-- Level not currently translated -->
  </div>
  <div [rtuColorizeByAlarmLevelWithHover]="levels.Major" class="cursor-pointer">
    <div (click)="dismissByLevel(levels.Major)">{{ levels[levels.Major] }}</div>
    <!-- Level not currently translated -->
  </div>
  <div [rtuColorizeByAlarmLevelWithHover]="levels.Critical" class="cursor-pointer">
    <div (click)="dismissByLevel(levels.Critical)">{{ levels[levels.Critical] }}</div>
    <!-- Level not currently translated -->
  </div>
  <div>|</div>
  <div
    (click)="dismissAll()"
    class="cursor-pointer text-blue-600 hover:text-blue-700 dark:text-blue-500 dark:hover:text-blue-600"
  >
    {{ 'i18n.common.all' | translate }}
  </div>
</div>

<ng-container *ngIf="alarmNotifications$ | async as alarmNotifications">
  <table *ngIf="alarmNotifications && alarmNotifications.length !== 0" class="min-w-full text-sm">
    <thead class="text-center text-gray-600 dark:text-zinc-400">
      <tr>
        <th class="whitespace-nowrap py-3 text-center font-thin">
          {{ 'i18n.common.alarm-id' | translate }}
        </th>
        <th class="py-3 font-thin">{{ 'i18n.common.date-time' | translate }}</th>
        <th class="py-3 font-thin">{{ 'i18n.common.port' | translate }}</th>
        <th class="py-3 font-thin">{{ 'i18n.common.level' | translate }}</th>
        <th class="py-3 pl-3 text-left font-thin">{{ 'i18n.common.type' | translate }}</th>
        <th class="whitespace-nowrap py-3 font-thin">
          {{ 'i18n.common.distance' | translate }}
        </th>

        <th class="py-3 pl-2 text-left font-thin">
          <!-- What title should be there? -->
          <!-- {{ 'i18n.common.description' | translate }} -->
        </th>
      </tr>
    </thead>
    <tbody class="text-center text-gray-700 dark:text-zinc-300">
      <tr
        *ngFor="let alarmNotification of alarmNotifications"
        (animationend)="onAnimationDone(alarmNotification)"
        [class.animate-fade-in]="alarmNotification.isNew"
        class="rounded-sm odd:bg-rtu-primary-bg dark:odd:bg-rtu-dark-primary-bg"
      >
        <td class="w-0 px-1 py-3 text-center">
          {{ alarmNotification.alarmEvent.monitoringAlarmGroupId }}
        </td>
        <td class="w-0 whitespace-nowrap px-1 py-3">
          {{ alarmNotification.alarmEvent.at | rtuDateTime : 'medium' }}
        </td>
        <td class="w-0 whitespace-nowrap px-2 py-3">
          <div
            *ngIf="
              getOtauPortPathByMonitoringPortId(
                alarmNotification.alarmEvent.monitoringPortId
              ) as otauPortPath
            "
          >
            <rtu-otau-port-path-title [otauPortPath]="otauPortPath"></rtu-otau-port-path-title>
          </div>
        </td>
        <td class="w-0 whitespace-nowrap px-2 py-3">
          <div [rtuColorizeByAlarmLevel]="alarmNotification.alarmEvent.level">
            {{ levels[alarmNotification.alarmEvent.level] }}
          </div>
        </td>
        <td class="w-0 whitespace-nowrap px-2 py-3 text-left">
          {{
            conveterUtils.monitoringAlarmTypeToString(alarmNotification.alarmEvent.type) | translate
          }}
        </td>
        <td class="w-0 min-w-[5ch] whitespace-nowrap px-2 py-3">
          {{ conveterUtils.toKmOrM(alarmNotification.alarmEvent.distanceMeters) }}
        </td>
        <td class="overflow-x-clip px-1 py-3">
          <div class="flex items-center">
            <rtu-alarm-event-viewer
              [alarmEvent]="alarmNotification.alarmEvent"
            ></rtu-alarm-event-viewer>
          </div>
        </td>
        <td class="pl-2">
          <rtu-monitoring-changes-distances
            *ngIf="alarmNotification.alarmEvent.change"
            [change]="alarmNotification.alarmEvent.change"
          ></rtu-monitoring-changes-distances>
        </td>
        <td class="w-0 px-1 py-3">
          <rtu-navigate-button
            class="ml-2 h-6 w-6"
            (click)="navigateToAlarmEvent(alarmNotification.alarmEvent.id)"
          />
        </td>
        <td class="w-0 py-3 pl-3 pr-1">
          <div class="flex items-center">
            <rtu-close-button (click)="dismissNotification(alarmNotification)" class="h-4 w-4" />
          </div>
        </td>
      </tr>
      <tr *ngIf="alarmNotifications.length === 0">
        <td colspan="100" class="py-5 text-left"></td>
      </tr>
    </tbody>
  </table>
</ng-container>
