<rtu-loading-centered-big-spinner *ngIf="loading$ | async"></rtu-loading-centered-big-spinner>

<div class="flex h-full w-full flex-col">
  <div #myDiv class="mr-1 flex h-full flex-1">
    <rtu-gis-map />
    <ng-container *ngIf="gisMapService.showTraceDefine$ | async">
      <rtu-trace-define />
    </ng-container>
  </div>

  <!--  футер карты -->
  <div class="mx-2 mb-1 mt-0.5 flex items-center justify-between text-sm">
    <div>
      <span>{{ 'zoom: ' }}{{ gisMapService.currentZoom$ | async }}</span
      ><ng-container *ngIf="gisMapService.mousePosition$ | async as coors">
        <span class="ml-3">{{ coors | geoCoordinates }}</span></ng-container
      >
    </div>
    <div class="flex">
      <rtu-select
        [items]="mapSources"
        [selectedItem]="selectedMapSource"
        (selectedItemChange)="onMapSourceChanged($event)"
      >
        <ng-template rtuSelectLabel let-selectedItem>
          {{ selectedItem.str }}
        </ng-template>
        <ng-template rtuSelectItem let-item>
          {{ item.str }}
        </ng-template>
      </rtu-select>
      <div class="w-1"></div>
      <rtu-select
        [items]="zooms"
        [selectedItem]="selectedZoom"
        (selectedItemChange)="onZoomChanged($event)"
      >
        <ng-template rtuSelectLabel let-selectedItem>
          {{ selectedItem }}
        </ng-template>
        <ng-template rtuSelectItem let-item>
          {{ item }}
        </ng-template>
      </rtu-select>
    </div>
  </div>
</div>

<ng-container *ngIf="gisMapService.showNextStepSelector$ | async">
  <rtu-next-step-selector />
</ng-container>

<ng-container *ngIf="gisMapService.showRtuAddOrEditDialog$ | async">
  <rtu-add-rtu-dialog />
</ng-container>

<ng-container *ngIf="gisMapService.showTraceInfoDialog$ | async">
  <rtu-trace-info-dialog />
</ng-container>

<ng-container *ngIf="gisMapService.showSectionInfoDialog$ | async">
  <rtu-fiber-info />
</ng-container>
