<rtu-loading-centered-big-spinner *ngIf="loading$ | async"></rtu-loading-centered-big-spinner>

<div class="flex h-full w-full flex-col">
  <div class="mr-1 flex h-full flex-1">
    <rtu-gis-map />
    <ng-container *ngIf="gisMapService.showTraceDefine$ | async">
      <rtu-trace-define />
    </ng-container>
  </div>
  <div class="text-sm">
    <span>{{ 'zoom: ' }}{{ gisMapService.currentZoom$ | async }}</span
    ><span class="ml-3">{{ gisMapService.mousePosition$ | async }}</span>
  </div>
</div>
