<div class="dialog">
  <div style="height: 240px; width: 720px">
    <div class="mb-2 ml-2">{{ 'i18n.ft.choose-trace-to-attach' | translate }}</div>
    <rtu-select
      [items]="traces"
      [selectedItem]="selectedTrace"
      (selectedItemChange)="onSelectedChanged($event)"
    >
      <ng-template rtuSelectLabel let-selectedItem>{{ selectedItem.title }} </ng-template>
      <ng-template rtuSelectItem let-item>
        {{ item.title }}
      </ng-template>
    </rtu-select>
  </div>

  <div class="mt-6 flex w-full justify-end">
    <button class="button-cancel min-w-36" (click)="onCancelClicked()">
      {{ 'i18n.ft.cancel' | translate }}
    </button>
    <button class="button-ok ml-2 min-w-36" (click)="onAttachClicked()">
      {{ 'i18n.ft.attach' | translate }}
    </button>
  </div>
</div>
