<ng-container *ngIf="rtu$ | async as rtu">
  <div class="ml-1 w-144">
    <div class="grouped-border mb-2 w-full">
      <div class="mb-2 flex justify-between">
        <div class="my-auto">{{ rtu.title }}</div>
        <ng-container *ngIf="rtu.isRtuAvailable">
          <div class="text-lg font-bold">{{ 'i18n.ft.available' | translate }}</div>
        </ng-container>
        <ng-container *ngIf="!rtu.isRtuAvailable">
          <div class="text-lg font-bold">{{ 'i18n.ft.not-available' | translate }}</div>
        </ng-container>
      </div>
      <div class="my-2 flex justify-between text-sm">
        <div>
          <span>{{ 'i18n.ft.main' | translate }}</span>
          {{ 'i18n.ft.channel' | translate }}
          <span class="ml-1">({{ rtu.mainChannel }})</span>
        </div>
        <div>{{ rtu.mainChannelState | rtuPartStatePipe | translate }}</div>
      </div>
      <div
        class="mt-2 flex justify-between text-sm"
        [ngClass]="{ 'text-gray-500': rtu.reserveChannelState === rtuPartState.NotSetYet }"
      >
        <div>
          <span>{{ 'i18n.ft.reserve' | translate }}</span>
          {{ 'i18n.ft.channel' | translate }}
          <span *ngIf="rtu.reserveChannelState !== rtuPartState.NotSetYet"
            >({{ rtu.reserveChannel }})</span
          >
        </div>
        <div>{{ rtu.reserveChannelState | rtuPartStatePipe | translate }}</div>
      </div>
    </div>

    <div class="mb-2 grid grid-cols-[42%_58%]">
      <!-- left -->
      <div class="grouped-border flex flex-col">
        <div class="my-1 flex justify-between text-sm">
          <div>{{ 'i18n.ft.port-count' | translate }}</div>
          <div>{{ rtu.ownPortCount }}/{{ rtu.fullPortCount }}</div>
        </div>
        <div class="my-1 flex justify-between text-sm">
          <div>{{ 'i18n.ft.bop-count' | translate }}</div>
          <div>{{ rtu.bops.length }}</div>
        </div>
        <div class="my-1 flex justify-between text-sm">
          <div>{{ 'i18n.ft.trace-count' | translate }}</div>
          <div>{{ rtu.ownAttachedTraceCount }}/{{ rtu.fullAttachedTraceCount }}</div>
        </div>
      </div>
      <!-- right -->
      <div class="grouped-border ml-2 flex flex-col">
        <div class="my-1 flex justify-between text-sm">
          <div>{{ 'i18n.ft.bop' | translate }}</div>
          <div>{{ rtu.bopsState | rtuPartStatePipe | translate }}</div>
        </div>
        <div class="my-1 flex justify-between text-sm">
          <div>{{ 'i18n.ft.traces-state' | translate }}</div>
          <div>{{ rtu.attachedTracesWorstState }}</div>
        </div>
        <div class="my-1 flex justify-between text-sm">
          <div>{{ 'i18n.ft.monitoring-mode' | translate }}</div>
          <ng-container *ngIf="rtu.isMonitoringOn">
            <div>{{ 'i18n.ft.automatic' | translate }}</div>
          </ng-container>
          <ng-container *ngIf="!rtu.isMonitoringOn">
            <div>{{ 'i18n.ft.manual' | translate }}</div>
          </ng-container>
        </div>
      </div>
    </div>

    <div class="grouped-border w-full"></div>

    <div></div>
    <!-- port table -->
    <ng-container *ngIf="portTable$ | async as portTable">
      <div class="grouped-border mt-2">
        <table class="min-w-full text-sm">
          <thead class="text-center text-gray-600 dark:text-zinc-400">
            <tr>
              <th class="w-12 font-thin">{{ 'i18n.ft.port' | translate }}</th>
              <th class="font-thin">{{ 'i18n.ft.trace' | translate }}</th>
              <th class="w-35 font-thin">{{ 'i18n.ft.state' | translate }}</th>
              <th class="w-12 font-thin">ID</th>
              <th class="w-40 font-thin">{{ 'i18n.ft.registered-at' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let port of portTable; index as i"
              class="odd:bg-rtu-second-bg dark:odd:bg-rtu-dark-second-bg"
            >
              <td class="text-center">
                <div class="my-1">{{ port.port }}</div>
              </td>
              <td class="text-center">{{ port.title }}</td>
              <td class="text-center">
                <ng-container *ngIf="port.state"
                  ><div
                    [rtuColorizeBgByTraceState]="{
                      traceState: port.state,
                      baseRefType: baseRefType.Precise
                    }"
                    class="py-0.5"
                  >
                    {{ port.state | traceStatePipe : baseRefType.Precise | translate }}
                  </div></ng-container
                >
              </td>
              <td class="text-center">
                <ng-container *ngIf="port.sorFileId > -1">{{ port.sorFileId }}</ng-container>
              </td>
              <td class="text-center">
                <ng-container *ngIf="port.registeredAt">{{
                  port.registeredAt | rtuDateTime : 'medium'
                }}</ng-container>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </ng-container>
  </div>
</ng-container>
