<div class="modal-backdrop">
  <div
    cdkDrag
    class="draggable-window absolute left-[190px] top-[80px] flex w-96 flex-col px-1 pb-1 text-sm"
  >
    <div cdkDragHandle class="ml-1 py-2 text-left">{{ 'i18n.ft.next-step' | translate }}</div>
    <!-- radio buttons -->
    <div class="mb-2 max-h-64 overflow-y-auto border border-gray-500 p-2">
      <ng-container *ngFor="let button of buttons; let i = index">
        <div class="mb-2 text-sm">
          <rtu-radio-button [button]="button" (click)="onRadioButtonClick(i)" />
        </div>
      </ng-container>
    </div>
    <div class="flex self-end">
      <button class="button-extra mr-2 w-36" (click)="onSelect()">
        {{ 'i18n.ft.select' | translate }}
      </button>
      <button class="button-extra mr-2 w-36" (click)="onDiscard()">
        {{ 'i18n.ft.discard' | translate }}
      </button>
    </div>
  </div>
</div>
