<!-- prettier-ignore -->
<div [formGroup]="form" class="mb-2 border border-gray-500 p-1 monospace" >
  <fieldset [disabled]="inputDisabled()">
    <div class="grid grid-cols-[16rem_14rem_14rem_auto]">
      <div class="flex flex-col">
        <label class="ml-2" [ngClass]="{ 'disabled-label': inputDisabled() }">{{ 'i18n.ft.node' | translate }}</label>
        <input formControlName="nodeTitle" type="text" class="input-simple"/>
        <label class="ml-2 mt-2" [ngClass]="{ 'disabled-label': inputDisabled() }">{{ 'i18n.ft.comment' | translate }}</label>
        <input formControlName="nodeComment" type="text" class="input-simple"/>
      </div>
      <div class="flex flex-col ml-2">
        <label class="ml-2" [ngClass]="{ 'disabled-label': inputDisabled() }">{{ 'i18n.ft.equipment' | translate }}</label>
        <input formControlName="equipmentTitle" type="text" class="input-simple"/>
        <label class="ml-2 mt-2" [ngClass]="{ 'disabled-label': inputDisabled() }">{{ 'i18n.ft.type' | translate }}</label>
       
        <rtu-select formControlName="equipmentType" [items]="equipmentTypes" >
          <ng-template rtuSelectLabel let-selectedItem>
            <div class="pl-1 ">{{ selectedItem | equipmentPipe | translate }}</div>
          </ng-template>
          <ng-template rtuSelectItem let-item>
            {{ item | equipmentPipe | translate }}
          </ng-template>
        </rtu-select>
      </div>

      <div class="flex flex-col ml-2">
        <div class="grid grid-cols-2">
          <div class="flex flex-col">
            <label class=" ml-2" [ngClass]="{ 'disabled-label': leftCableReserveInputDisabled() }">{{ 'i18n.ft.left-m' | translate }}</label>
  <fieldset [disabled]="leftCableReserveInputDisabled()" class="contents">
            <input formControlName="leftCableReserve" type="text" class="input-simple" [ngClass]="{ 'invalid-border': !isCableReserveValid('left') }"/>
  </fieldset>
          </div>
          <div class="flex flex-col ml-2">
            <label class=" ml-2" [ngClass]="{ 'disabled-label': rightCableReserveInputDisabled() }">{{ 'i18n.ft.right-m' | translate }}</label>
  <fieldset [disabled]="rightCableReserveInputDisabled()" class="contents">
            <input formControlName="rightCableReserve" type="text" class="input-simple" [ngClass]="{ 'invalid-border': !isCableReserveValid('right') }"/>
  </fieldset>
          </div>
        </div>
        <div class="flex flex-col mt-2">
          <label class="ml-2" [ngClass]="{ 'disabled-label': inputDisabled() }">{{ 'i18n.ft.user-length-m' | translate }}</label>
          <input formControlName="userInputLength" type="text" class="input-simple" [ngClass]="{ 'invalid-border': !isUserLengthValid() }"/>
        </div>
      </div>
      <div class="ml-2 w-full">
        <ng-container *ngIf="canShow$ | async as model">
          <rtu-gps-input #gpsInput [coors]="model.gpsCoors" (previewClick)="onPreview($event)"></rtu-gps-input>
        </ng-container>
      </div>
    </div>
  </fieldset>
   <!-- buttons -->
  <div class="mt-2 flex justify-start">
    <button class="button-extra w-56" (click)="updateTable()" [disabled]="isUpdateTableDisabled()">
      {{ 'i18n.ft.update-table' | translate }}
    </button>
    <button class="button-extra ml-1 w-56" (click)="cancelChanges()" [disabled]="isCancelDisabled()">
      {{ 'i18n.ft.cancel-changes' | translate }}
    </button>
  </div>
</div>
