<ng-container *ngIf="rtu$ | async as rtu">
  <ng-container *ngIf="trace$ | async as trace">
    <div
      class="flex items-center"
      [ngClass]="{
  'bg-rtu-second-bg dark:bg-rtu-dark-second-bg': i % 2 === 0,
  'border-t-rtu-second-bg dark:border-t-rtu-dark-second-bg': i % 2 !== 0,
  'border-t-rtu-primary-bg dark:border-t-rtu-dark-primary-bg': i % 2 === 0,
}"
    >
      <div class="w-full whitespace-nowrap py-1 text-left">
        <rtu-attached-trace-menu
          [trace]="trace"
          [rtu]="rtu"
          [isRtuAvailableNow]="rtu.isRtuAvailable"
          [isMonitoringOn]="rtu.isMonitoringOn"
        ></rtu-attached-trace-menu>
      </div>
    </div>
  </ng-container>
</ng-container>
