<rtu-single-error-popup [errorMessageId$]="errorMessageId$"></rtu-single-error-popup>
<rtu-loading-centered-big-spinner *ngIf="loading$ | async"></rtu-loading-centered-big-spinner>

<div *ngIf="ntfState$ | async as set">
  <div class="flex flex-col">
    <div class="m-2 mb-4">
      {{ 'i18n.notification-settings.notification-configuration' | translate }}
    </div>
    <fieldset [disabled]="(hasChangeNotificationSettingsPermission$ | async) === false">
      <div style="height: 700px" class="flex flex-col flex-wrap gap-2">
        <rtu-email-notification-settings
          [emailServer]="set.emailServer"
          [hasPermission]="(hasChangeNotificationSettingsPermission$ | async)!"
        ></rtu-email-notification-settings>

        <rtu-snmp-notification-settings
          [trapReceiver]="set.trapReceiver"
          [hasPermission]="(hasChangeNotificationSettingsPermission$ | async)!"
        ></rtu-snmp-notification-settings>
      </div>
    </fieldset>
  </div>
</div>
