<div class="grid grid-cols-[minmax(12ch,auto),minmax(12ch,auto)] gap-x-4 text-sm">
  <!-- <div>{{ 'i18n.monitoring.port-status' | translate }}:</div> -->
  <div class="text-right">{{ 'i18n.monitoring.port-status' | translate }}:</div>
  <rtu-monitoring-port-status [status]="monitoringPort.status"></rtu-monitoring-port-status>
  <ng-container *ngIf="monitoringPort.status === statuses.On">
    <div class="text-right">{{ 'i18n.monitoring.alarm-status' | translate }}:</div>
    <rtu-port-alarm-status [monitoringPortId]="monitoringPort.id"></rtu-port-alarm-status>
  </ng-container>
  <ng-container *ngIf="lastMonitoringCompletedAt">
    <div class="text-right">{{ 'i18n.common.last-test' | translate }}:</div>
    <div>{{ lastMonitoringCompletedAt | rtuDateTime : 'medium' : 'full' }}</div>
  </ng-container>
</div>
