<div class="grouped-border min-w-144">
  <div class="flex flex-col">
    <div [formGroup]="form">
      <div class="mx-2 flex justify-between">
        <label style="grid-area: enabledLabel" class="my-auto text-base">{{
          'i18n.notification-settings.relay-notifications' | translate
        }}</label>
        <label
          style="grid-area: enabledValue"
          class="toggle my-2 place-self-end"
          [ngClass]="{ 'inaccessible-slider': isSlidersDisabled() }"
        >
          <input formControlName="enabled" type="checkbox" />
          <div class="slider"></div>
        </label>
      </div>

      <fieldset [disabled]="!isSettingOff()">
        <div class="grid-container mx-2 gap-x-6 gap-y-2 text-sm">
          <label
            style="grid-area: relay1Label"
            class="my-auto"
            [ngClass]="{ 'disabled-label': isSettingOff() }"
            >{{ 'i18n.notification-settings.relay1' | translate }}</label
          >
          <label
            style="grid-area: relay1Value"
            class="toggle my-2 place-self-end"
            [ngClass]="{ 'disabled-slider': isSlidersDisabled() }"
          >
            <input formControlName="relay1" type="checkbox" />
            <div class="slider"></div>
          </label>

          <label
            style="grid-area: relay2Label"
            class="my-auto"
            [ngClass]="{ 'disabled-label': isSettingOff() }"
            >{{ 'i18n.notification-settings.relay2' | translate }}</label
          >
          <label
            style="grid-area: relay2Value"
            class="toggle my-2 place-self-end"
            [ngClass]="{ 'disabled-slider': isSlidersDisabled() }"
          >
            <input formControlName="relay2" type="checkbox" />
            <div class="slider"></div>
          </label>
        </div>
      </fieldset>
    </div>
  </div>
</div>
