.grid-container {
  display: grid;

  grid-template-columns: auto_minmax(0, 1fr);

  grid-template-areas:
    'titleLabel titleValue'
    'idLabel idValue'
    'rtuLabel rtuValue'
    'portLabel portValue';
}
