<ng-container *ngIf="networkSettings$ | async as networkSettings">
  <div class="grouped-border my-4 min-w-96">
    <div class="flex flex-col">
      <div class="m-2 mb-4">
        {{ 'i18n.network-settings' | translate }}
      </div>
      <rtu-ipv4-settings [networkSettings]="networkSettings"></rtu-ipv4-settings>
    </div>
    <div class="mr-2 mt-6 flex flex-row justify-end">
      <button
        *ngIf="false"
        class="button-cancel mr-2 min-w-36"
        [disabled]="isDiscardDisabled()"
        (click)="onDiscardClicked()"
        cdkFocusInitial
      >
        {{ 'i18n.common.discard' | translate }}
      </button>
      <button
        class="button-ok mr-0 min-w-36"
        [disabled]="isApplyDisabled()"
        (click)="onApplyClicked()"
      >
        {{ 'i18n.common.apply' | translate }}
      </button>
    </div>
  </div>
</ng-container>
