.first-line-grid {
  display: grid;
  /*label truncate does not work if column width set as 1fr */
  grid-template-columns: max-content max-content minmax(0, 99999px) max-content;
}

.ports-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-container {
  display: grid;
  grid-template-columns: minmax(max-content, max-content) minmax(0, 99999px);

  grid-template-areas:
    'portsLabel portsValue'
    'locationLabel locationValue'
    'rockLabel rockValue'
    'shelfLabel shelfValue'
    'noteLabel noteValue'
    'statusLabel statusValue';
}
