<rtu-loading-centered-big-spinner *ngIf="spinning$ | async"></rtu-loading-centered-big-spinner>

<div class="modal-backdrop">
  <div
    cdkDrag
    (cdkDragMoved)="dragWatcher.onDragMoved($event)"
    (cdkDragStarted)="dragWatcher.onDragStarted($event)"
    class="draggable-window fixed left-0 top-0 flex w-120 flex-col px-1 pb-1 text-sm"
  >
    <!-- draggable header -->
    <div cdkDragHandle class="ml-3 py-2">
      <div class="flex items-center justify-between">
        <ng-container *ngIf="mode === traceInfoMode.CreateTrace">
          {{ 'i18n.ft.create-trace' | translate }}
        </ng-container>
        <ng-container *ngIf="mode !== traceInfoMode.CreateTrace">
          {{ 'i18n.ft.information' | translate }}
        </ng-container>
        <rtu-close-button class="mr-2 h-6 w-6" (click)="onCloseEvent(null)" />
      </div>
    </div>
    <!-- content -->
    <rtu-trace-info [data]="traceInfoData" (closeEvent)="onCloseEvent($event)"></rtu-trace-info>
  </div>
</div>
