<rtu-loading-centered-big-spinner *ngIf="spinning$ | async"></rtu-loading-centered-big-spinner>

<div class="modal-backdrop">
  <div
    cdkDrag
    class="draggable-window absolute left-[190px] top-[80px] flex w-120 flex-col p-2 text-sm"
  >
    <!-- draggable header -->
    <div cdkDragHandle class="mb-2 ml-1 text-left">
      <ng-container *ngIf="mode === traceInfoMode.CreateTrace">
        {{ 'i18n.ft.create-trace' | translate }}
      </ng-container>
      <ng-container *ngIf="mode !== traceInfoMode.CreateTrace">
        {{ 'i18n.ft.information' | translate }}
      </ng-container>
    </div>
    <!-- content -->
    <rtu-trace-info [data]="traceInfoData" (closeEvent)="onCloseEvent($event)"></rtu-trace-info>
  </div>
</div>
