<rtu-single-error-popup
  [errorMessageId$]="errorMessageId$"
  [resetErrorAction]="onDemandHistoryActions.resetError()"
></rtu-single-error-popup>
<rtu-loading-centered-big-spinner *ngIf="loading$ | async"></rtu-loading-centered-big-spinner>

<div class="h-full w-full p-5">
  <rtu-monitoring-history-filter
    (filterChanged)="onFilterChanged($event)"
  ></rtu-monitoring-history-filter>
  <div class="relative">
    <rtu-relative-time-refresh
      [loadedTime]="loadedTime$ | async"
      (refresh)="refresh()"
    ></rtu-relative-time-refresh>
    <table class="min-w-full text-sm">
      <thead class="text-center text-gray-600 dark:text-zinc-400">
        <tr>
          <th class="pb-3 font-thin">{{ 'i18n.common.at' | translate }}</th>
          <th class="pb-3 font-thin">{{ 'i18n.common.user' | translate }}</th>
          <th class="pb-3 font-thin">{{ 'i18n.common.port' | translate }}</th>
          <!-- <th class="pb-3 font-thin">
            {{ 'i18n.on-demand-test-settings.network-type' | translate }}
          </th> -->
          <th class="whitespace-nowrap pb-3 pl-5 text-left font-thin">
            {{ 'i18n.measurement.measurement-settings' | translate }}
          </th>
        </tr>
      </thead>
      <tbody
        *ngIf="onDemands$ | async as onDemands"
        class="text-center text-gray-700 dark:text-zinc-300"
      >
        <tr
          [id]="onDemand.id"
          [ngClass]="{
            'animate-bounce-higlight': (higlightOnDemandId$ | async) === onDemand.id
          }"
          *ngFor="let onDemand of onDemands"
          class="rounded-sm odd:bg-rtu-second-bg dark:odd:bg-rtu-dark-second-bg"
        >
          <td class="w-0 whitespace-nowrap py-3 pl-5 pr-5">
            {{ onDemand.completedAt | rtuDateTime : 'medium' }}
          </td>
          <td class="w-0 whitespace-nowrap py-3 pl-5 pr-5">
            {{ getUserById(onDemand.createdByUserId)?.fullName }}
          </td>
          <td class="w-0 whitespace-nowrap py-3 pl-5 pr-5">
            <div
              *ngIf="getOtauPortPathByMonitoringPortId(onDemand.monitoringPortId) as otauPortPath"
            >
              <rtu-otau-port-path-title [otauPortPath]="otauPortPath"></rtu-otau-port-path-title>
            </div>
          </td>
          <!-- <td class="w-0 whitespace-nowrap py-3 pl-5 pr-5">
            {{
              convertUtils.networkTypeToString(onDemand.measurementSettings.networkType) | translate
            }}
          </td> -->
          <td class="whitespace-nowrap py-3 pl-5 pr-5">
            <rtu-on-demand-measurement-settings-info
              [measSettings]="onDemand.measurementSettings"
            ></rtu-on-demand-measurement-settings-info>
          </td>
          <td class="w-0 py-3 pr-5">
            <rtu-navigate-button class="ml-2 h-6 w-6" [routerLink]="['./', onDemand.id]" />
          </td>
        </tr>
        <tr *ngIf="onDemands.length === 0">
          <td colspan="100" class="py-5 text-left">{{ 'i18n.common.no-data' | translate }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
