<div *ngIf="showOnDemandNotification$ | async" class="grouped-border relative mb-3 mt-1 p-3">
  <span
    class="absolute -top-2 bg-rtu-second-bg px-2 text-xs text-gray-600 dark:bg-rtu-dark-second-bg dark:text-zinc-400"
  >
    {{ 'i18n.common.on-demand' | translate }}
  </span>

  <div class="flex items-center justify-between">
    <div class="flex">
      <div class="flex items-center" *ngIf="onDemandCompleted$ | async as onDemandCompleted">
        <div class="text-sm text-green-600 dark:text-green-500">
          {{ 'i18n.on-demand-status.completed-at' | translate }}
          {{ (finishedDate$ | async)! | rtuDateTime : 'medium' : 'time' }}
        </div>

        <rtu-navigate-button class="ml-2 h-6 w-6" (click)="navigateToOnDemand()" />
      </div>

      <rtu-on-demand-status class=""></rtu-on-demand-status>

      <div
        class="ml-3 cursor-pointer"
        [ngClass]="{ 'pointer-events-none': onDemandCancelling$ | async }"
        *ngIf="onDemandStarted$ | async"
        (click)="stopOnDemand()"
      >
        <rtu-loading-spinner
          *ngIf="onDemandCancelling$ | async"
          class="h-5 w-5"
        ></rtu-loading-spinner>
        <!-- prettier-ignore -->
        <svg class="h-5 w-5  text-red-400 hover:text-red-500 dark:text-red-400 dark:hover:text-red-500" 
            *ngIf="(onDemandCancelling$ | async) === false"
            version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve">
                <path fill="currentColor" d="M20,2c9.926,0,18,8.075,18,18c0,9.926-8.074,18-18,18S2,29.926,2,20C2,10.075,10.075,2,20,2 M20,0
                      C8.955,0,0,8.955,0,20c0,11.047,8.954,20,20,20c11.045,0,20-8.953,20-20C40,8.955,31.045,0,20,0L20,0z"/>
                <path fill="currentColor" d="M28,26c0,1.105-0.896,2-2,2H14c-1.104,0-2-0.895-2-2V14c0-1.104,0.896-2,2-2h12c1.104,0,2,0.896,2,2V26z"/>
              </svg>
      </div>
    </div>
    <rtu-close-button
      *ngIf="onDemandCompleted$ | async"
      (click)="hideOnDemandNotification()"
      class="h-4 w-4"
    />
  </div>
</div>
