.header-grid {
  grid-template-columns: 8rem minmax(0, 1fr);

  grid-template-areas:
    'rtuLabel rtuValue'
    'portLabel portValue'
    'traceLabel traceValue';
}

.settings-grid {
  grid-template-columns: 16rem minmax(0, 1fr);

  grid-template-areas:
    'laserLabel laserValue'
    'backscatteringCoeffLabel backscatteringCoeffValue'
    'refractiveIndexLabel refractiveIndexValue'
    'distanceLabel distanceValue'
    'resolutionLabel resolutionValue'
    'pulseLabel pulseValue'
    'averagingTimeLabel averagingTimeValue';
}
