.settings-grid {
  grid-template-columns: auto minmax(0, 1fr);

  grid-template-areas:
    'laserLabel laserValue'
    'backscatteringCoeffLabel backscatteringCoeffValue'
    'refractiveIndexLabel refractiveIndexValue'
    'distanceLabel distanceValue'
    'resolutionLabel resolutionValue'
    'pulseLable pulseValue'
    'averagingTimeLabel averagingTimeValue';
}

@media (min-width: 640px) {
  .settings-grid {
    grid-template-columns: minmax(6rem, 1fr) minmax(6rem, 1fr) 2rem minmax(6rem, 1fr) minmax(
        6rem,
        1fr
      );

    grid-template-areas:
      'laserLabel laserValue space pulseLable pulseValue'
      'backscatteringCoeffLabel backscatteringCoeffValue space resolutionLabel resolutionValue'
      'refractiveIndexLabel refractiveIndexValue space averagingTimeLabel averagingTimeValue'
      'distanceLabel distanceValue space a b';
  }
}

@media (min-width: 1060px) {
  .settings-grid {
    grid-template-columns:
      minmax(6rem, 1fr) minmax(6rem, 1fr) 6rem minmax(6rem, 1fr) minmax(6rem, 1fr)
      6rem minmax(6rem, 1fr) minmax(6rem, 1fr);

    grid-template-areas:
      'laserLabel laserValue space averagingTimeLabel averagingTimeValue space2 distanceLabel distanceValue'
      'backscatteringCoeffLabel backscatteringCoeffValue space resolutionLabel resolutionValue space2 pulseLable pulseValue'
      'refractiveIndexLabel refractiveIndexValue space a b space2 c d ';
  }
}
