<div class="flex h-full w-full">
  <ng-container *ngIf="!fullScreen">
    <div class="mt-12 flex min-w-120 flex-col">
      <div class="grouped-border m-2">
        <div class="header-grid grid gap-y-2 text-sm">
          <label style="grid-area: rtuLabel" class="m-2 my-auto">
            {{ 'RTU' }}
          </label>
          <label style="grid-area: rtuValue" class="m-2 my-auto">
            {{ rtu.title }}
          </label>
          <label style="grid-area: portLabel" class="m-2 my-auto">
            {{ 'i18n.ft.port' | translate }}
          </label>
          <label style="grid-area: portValue" class="m-2 my-auto">
            {{ portName }}
          </label>
          <label style="grid-area: traceLabel" class="m-2 my-auto">
            {{ 'i18n.ft.trace' | translate }}
          </label>
          <label style="grid-area: traceValue" class="m-2 my-auto">
            {{ traceName }}
          </label>
        </div>
      </div>
      <div class="grouped-border m-2">
        <div class="label-color mb-2">{{ 'i18n.ft.measurement-settings' | translate }}</div>
        <div [formGroup]="form" class="settings-grid grid gap-y-1 text-sm">
          <ng-container>
            <label style="grid-area: laserLabel" class="m-2 my-auto">
              {{ 'i18n.ft.laser' | translate }}
            </label>
            <rtu-select
              style="grid-area: laserValue"
              [items]="lasers"
              [selectedItem]="ms.laser"
              (selectedItemChange)="onLaserChanged($event)"
            >
              <ng-template rtuSelectLabel let-selectedItem>
                <rtu-description-label
                  [description]="'i18n.ft.available-lasers' | translate"
                  [label]="selectedItem.unit"
                ></rtu-description-label>
              </ng-template>
              <ng-template rtuSelectItem let-item>
                {{ item.unit }}
              </ng-template>
            </rtu-select>
          </ng-container>

          <ng-container>
            <label style="grid-area: backscatteringCoeffLabel" class="m-2 my-auto">
              {{ 'i18n.ft.backscattering-coeff-dB' | translate }}
            </label>

            <div style="grid-area: backscatteringCoeffValue">
              <input
                formControlName="backscatteringCoeff"
                type="text"
                class="input-simple peer w-full text-center"
                [ngClass]="{
                  'invalid-border': isInvalidAndTouched(form.controls['backscatteringCoeff'])
                }"
              />

              <rtu-validation-error
                class="hidden peer-focus:block"
                [errors]="form.controls['backscatteringCoeff'].errors"
              ></rtu-validation-error>
            </div>
          </ng-container>

          <ng-container>
            <label style="grid-area: refractiveIndexLabel" class="m-2 my-auto">
              {{ 'i18n.ft.refractive-index' | translate }}
            </label>

            <div style="grid-area: refractiveIndexValue">
              <input
                formControlName="refractiveIndex"
                type="text"
                class="input-simple peer w-full text-center"
                [ngClass]="{
                  'invalid-border': isInvalidAndTouched(form.controls['refractiveIndex'])
                }"
              />

              <rtu-validation-error
                class="hidden peer-focus:block"
                [errors]="form.controls['refractiveIndex'].errors"
              ></rtu-validation-error>
            </div>
          </ng-container>

          <ng-container>
            <label style="grid-area: distanceLabel" class="m-2 my-auto">
              {{ 'i18n.ft.distance-range-km' | translate }}
            </label>

            <rtu-select
              style="grid-area: distanceValue"
              class="my-auto"
              [items]="distances"
              [selectedItem]="ms.distance"
              (selectedItemChange)="onDistanceChanged($event)"
            >
              <ng-template rtuSelectLabel let-selectedItem>
                <div class="pl-1">{{ selectedItem.distance }}</div>
              </ng-template>
              <ng-template rtuSelectItem let-item>
                {{ item.distance }}
              </ng-template>
            </rtu-select>
          </ng-container>

          <ng-container>
            <label style="grid-area: resolutionLabel" class="m-2 my-auto">
              {{ 'i18n.ft.sampling-resolution-m' | translate }}
            </label>
            <rtu-select
              style="grid-area: resolutionValue"
              class="my-auto"
              [items]="resolutions"
              [selectedItem]="ms.resolution"
              (selectedItemChange)="onResolutionChanged($event)"
            >
              <ng-template rtuSelectLabel let-selectedItem>
                <div class="pl-1">{{ selectedItem }}</div>
              </ng-template>
              <ng-template rtuSelectItem let-item>
                {{ item }}
              </ng-template>
            </rtu-select>
          </ng-container>

          <ng-container>
            <label style="grid-area: pulseLabel" class="m-2 my-auto">
              {{ 'i18n.ft.pulse-width-ns' | translate }}
            </label>

            <rtu-select
              style="grid-area: pulseValue"
              class="my-auto"
              [items]="pulseDurations"
              [selectedItem]="ms.pulse"
              (selectedItemChange)="onPulseChanged($event)"
            >
              <ng-template rtuSelectLabel let-selectedItem>
                <div class="pl-1">{{ selectedItem }}</div>
              </ng-template>
              <ng-template rtuSelectItem let-item>
                {{ item }}
              </ng-template>
            </rtu-select>
          </ng-container>

          <ng-container>
            <label style="grid-area: averagingTimeLabel" class="m-2 my-auto">
              {{ 'i18n.ft.averaging-time' | translate }}
            </label>
            <rtu-select
              style="grid-area: averagingTimeValue"
              [items]="periodsToAverage"
              [selectedItem]="ms.averagingTime"
              (selectedItemChange)="onAveragingTimeChanged($event)"
            >
              <ng-template rtuSelectLabel let-selectedItem>
                <rtu-description-label
                  [description]="'i18n.ft.minutes-seconds' | translate"
                  [label]="selectedItem"
                ></rtu-description-label>
              </ng-template>
              <ng-template rtuSelectItem let-item>
                {{ item }}
              </ng-template>
            </rtu-select>
          </ng-container>
        </div>
      </div>

      <div class="ml-4 flex items-center">
        <button class="button-neutral m-2 min-w-48 self-start" (click)="onMeasureClicked()">
          {{ 'i18n.ft.measure' | translate }}
        </button>
        <div *ngIf="measurementInProgress$ | async">
          <rtu-loading-spinner class="ml-2 h-4 w-4"></rtu-loading-spinner>
        </div>
        <div *ngIf="(startSuccess$ | async) === true">
          <span class="ml-3 text-green-600">{{
            'i18n.ft.measurement-in-progress' | translate
          }}</span>
        </div>
        <div *ngIf="error$ | async as error">
          <span class="ml-3 text-red-600">{{ error | translate }}</span>
        </div>
      </div>
    </div>
  </ng-container>

  <div class="flex h-full w-full flex-col">
    <ng-container *ngIf="completedMeasurement$ | async as completedMeasurement">
      <div class="flex items-center justify-end">
        <div class="available-action action-non-active mr-2" (click)="saveSor()">
          <rtu-save-button class="h-8 w-8" />
          <div class="my-auto text-center text-xs">
            {{ 'i18n.ft.save' | translate }}
          </div>
        </div>
        <rtu-expand-minimize-avaiable-action
          (click)="toggleFullScreen()"
          [fullScreen]="fullScreen"
        />
      </div>

      <div class="ml-1 h-full w-full">
        <rtu-sor-area-provider [sors]="[completedMeasurement.sor!]"></rtu-sor-area-provider>
      </div>
    </ng-container>
  </div>
</div>
