<div class="dialog">
  <div class="flex flex-col">
    <rtu-dialog-header>{{ 'i18n.ft.my-settings' | translate }}</rtu-dialog-header>
    <div *ngIf="user$ | async as user">
      <rtu-user-card [user]="user"></rtu-user-card>
    </div>
    <div class="mt-5">
      <div class="grid grid-cols-[auto_minmax(0,_1fr)] gap-x-4 gap-y-2">
        <div class="flex items-center">
          <label class="m-2 my-auto w-20">{{ 'i18n.ft.language' | translate }}</label>
          <rtu-language-switcher class="w-28"></rtu-language-switcher>
        </div>

        <div class="flex items-center">
          <label class="m-2 my-auto w-40">{{ 'i18n.ft.date-time-format' | translate }}</label>
          <rtu-datetime-format-switcher class="w-48"></rtu-datetime-format-switcher>
        </div>

        <div class="flex items-center">
          <label class="m-2 my-auto w-20">{{ 'i18n.ft.theme' | translate }}</label>
          <rtu-theme-switcher class="w-28"></rtu-theme-switcher>
        </div>

        <div class="flex items-center">
          <label class="m-2 my-auto w-40">{{ 'i18n.ft.coordinates-format' | translate }}</label>
          <rtu-latlng-format-switcher class="w-48"></rtu-latlng-format-switcher>
        </div>
      </div>
    </div>

    <!-- сигнализация -->
    <div class="m-2 mt-2">
      <div class="my-2 flex items-center">
        <label class="toggle mr-2">
          <input
            type="checkbox"
            [(ngModel)]="isSuspicionSignallingChecked"
            (change)="onChangeSuspicionSignalling()"
          />
          <div class="slider"></div>
        </label>
        {{ 'i18n.ft.switch-off-audio-and-video-signalling-of-Suspicion-level-events' | translate }}
      </div>
      <div class="my-2 flex items-center">
        <label class="toggle mr-2">
          <input
            type="checkbox"
            [(ngModel)]="isRtuStatusSignallingChecked"
            (change)="onChangeRtuStatusSignalling()"
          />
          <div class="slider"></div>
        </label>
        {{ 'i18n.ft.switch-off-audio-and-video-signalling-of-RTU-status-events' | translate }}
      </div>
      <button class="button-extra mt-2" (click)="testAudio()">
        <ng-container *ngIf="isAudioOn">
          {{ 'i18n.ft.switch-off-audio-signalling' | translate }}
        </ng-container>
        <ng-container *ngIf="!isAudioOn">
          {{ 'i18n.ft.test-audio-signalling' | translate }}
        </ng-container>
      </button>
    </div>

    <rtu-simple-error
      *ngIf="saveUserSettingsError$ | async as error"
      class="mt-5"
      [error]="'i18n.ft.save-error' | translate"
    ></rtu-simple-error>
  </div>
</div>
