<div class="dialog">
  <div class="flex flex-col">
    <rtu-dialog-header>{{ 'i18n.ft.my-settings' | translate }}</rtu-dialog-header>
    <div *ngIf="user$ | async as user">
      <rtu-user-card [user]="user"></rtu-user-card>
    </div>
    <div class="mt-5">
      <!-- 
        To add an additional gap between two selects the gap column is used in between.
        For small screen grid is collapsed and the gap column is hidden
      -->
      <div
        class="group grid grid-cols-[auto_minmax(0,_1fr)] gap-y-1 sm:grid-cols-[auto_minmax(0,_1fr)_2rem_auto_minmax(0,_1fr)]"
      >
        <label class="m-2 my-auto">{{ 'i18n.ft.language' | translate }}</label>
        <rtu-language-switcher class="w-full"></rtu-language-switcher>

        <label class="col-start-1 row-start-2 m-2 my-auto">{{
          'i18n.ft.date-time-format' | translate
        }}</label>
        <rtu-datetime-format-switcher
          class="col-start-2 row-start-2"
        ></rtu-datetime-format-switcher>

        <div class="hidden sm:block"></div>

        <label class="m-2 my-auto">{{ 'i18n.ft.theme' | translate }}</label>
        <rtu-theme-switcher class="my-auto"></rtu-theme-switcher>
      </div>
    </div>

    <div class="m-2 mt-2">
      <div class="my-2 flex items-center">
        <label class="toggle mr-2">
          <input
            type="checkbox"
            [(ngModel)]="isSuspicionSignallingChecked"
            (change)="onChangeSuspicionSignalling()"
          />
          <div class="slider"></div>
        </label>
        {{ 'i18n.ft.switch-off-audio-and-video-signalling-of-Suspicion-level-events' | translate }}
      </div>
      <div class="my-2 flex items-center">
        <label class="toggle mr-2">
          <input
            type="checkbox"
            [(ngModel)]="isRtuStatusSignallingChecked"
            (change)="onChangeRtuStatusSignalling()"
          />
          <div class="slider"></div>
        </label>
        {{ 'i18n.ft.switch-off-audio-and-video-signalling-of-RTU-status-events' | translate }}
      </div>
      <button class="button-extra mt-2" (click)="testAudio()">
        {{ 'i18n.ft.test-audio-signalling' | translate }}
      </button>
    </div>

    <rtu-simple-error
      *ngIf="saveUserSettingsError$ | async as error"
      class="mt-5"
      [error]="'i18n.ft.save-error' | translate"
    ></rtu-simple-error>
  </div>
</div>
