<rtu-single-error-popup [errorMessageId$]="errorMessageId$"></rtu-single-error-popup>
<rtu-loading-centered-big-spinner *ngIf="loading$ | async"></rtu-loading-centered-big-spinner>

<div class="flex h-full w-full flex-col">
  <div class="flex items-center justify-end">
    <div class="available-action action-non-active mr-2" (click)="saveSor()">
      <rtu-save-button class="h-8 w-8" />
      <div class="my-auto text-center text-xs">
        {{ 'i18n.ft.save' | translate }}
      </div>
    </div>
  </div>
  <div class="flex h-full w-full">
    <div class="ml-1 h-full w-full">
      <ng-container *ngIf="baselineTrace !== null">
        <rtu-sor-result-baseline-provider
          [baseline]="baselineTrace"
        ></rtu-sor-result-baseline-provider>
      </ng-container>
      <ng-container *ngIf="baselineTrace === null">
        {{ 'loading...' }}
      </ng-container>
    </div>
  </div>
</div>
