.grid-container {
  display: grid;

  grid-template-columns: auto_minmax(0, 1fr);

  grid-template-areas:
    'primaryNtpServerLabel primaryNtpServerValue'
    'secondaryNtpServerLabel secondaryNtpServerValue';
}
