<div [formGroup]="form">
  <div class="mx-0 flex justify-between">
    <div class="grid-container mx-2 gap-x-12 gap-y-2 text-sm">
      <label style="grid-area: primaryNtpServerLabel" class="my-auto">{{
        'i18n.ntp-settings.primary-ntp-server' | translate
      }}</label>
      <div style="grid-area: primaryNtpServerValue">
        <input formControlName="primaryNtpServer" type="text" class="input-simple w-full" />
      </div>

      <label style="grid-area: secondaryNtpServerLabel" class="my-auto">{{
        'i18n.ntp-settings.secondary-ntp-server' | translate
      }}</label>
      <div style="grid-area: secondaryNtpServerValue">
        <input formControlName="secondaryNtpServer" type="text" class="input-simple w-full" />
      </div>
    </div>
  </div>
</div>
