<button
  class="combobox flex w-full items-center whitespace-nowrap border focus:ring-0 focus-visible:border-black focus-visible:dark:border-white"
  (click)="onMainButtonClicked()"
  cdkOverlayOrigin
  #selectButton="cdkOverlayOrigin"
  type="button"
  [disabled]="disabled"
  [ngClass]="{
    'border-none': minimalistic,
    'pr-4': !minimalistic,
    'cursor-default': !hasPermission
  }"
  [ngStyle]="{ background: minimalistic ? 'none' : '', padding: minimalistic ? '0' : '' }"
>
  <rtu-schedule-mode-line
    [mode]="selectedMode"
    [interval]="selectedInterval"
    [slotsString]="selectedSlotsString"
  ></rtu-schedule-mode-line>
  <span class="ml-auto w-2" *ngIf="!minimalistic">
    <!-- prettier-ignore -->
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-4 w-5">
    <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
  </svg>
  </span>
</button>

<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="selectButton"
  [cdkConnectedOverlayOpen]="open"
>
  <div
    class="background-base rounded-sm border border-gray-300 dark:border-[#575859]"
    (click)="onOverlayClick($event)"
  >
    <div *ngIf="overlayMode === monitoringSchedulerMode.AtLeastOnceIn" class="flex flex-col p-1">
      <div class="flex items-center justify-between">
        <div></div>
        <div class="pointer-events-none flex items-center">
          <rtu-schedule-mode-icon class="mr-2 h-6 w-6" [mode]="overlayMode">
          </rtu-schedule-mode-icon>
          {{ 'i18n.monitoring.schedule-mode-at-least-once-in' | translate }}
        </div>
        <button class="button-extra" (click)="onAtLeastOnceCaptionClick()">
          <!-- prettier-inore -->
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" viewBox="0 0 24 24">
            <path fill="currentColor" d="m12 10.8l-4.6 4.6L6 14l6-6l6 6l-1.4 1.4l-4.6-4.6Z" />
          </svg>
        </button>
      </div>

      <div class="mb-2 grid grid-cols-3 gap-1 text-sm">
        <div
          *ngFor="let item of intervalItems"
          [ngClass]="{
            'bg-zinc-200 dark:bg-zinc-500':
              selectedInterval !== undefined && item.seconds === selectedInterval.seconds
          }"
          class="cursor-pointer rounded-sm p-3 hover:bg-blue-500 focus:bg-blue-500"
          (click)="setInterval($event, item)"
        >
          {{ item.value }} {{ item.unit | translate }}
        </div>
      </div>
    </div>
    <div *ngIf="overlayMode === monitoringSchedulerMode.FixedTimeSlot" class="flex flex-col p-1">
      <div class="mb-1 flex items-center justify-between">
        <div></div>
        <div class="pointer-events-none flex items-center">
          <rtu-schedule-mode-icon class="mr-2 h-6 w-6" [mode]="overlayMode">
          </rtu-schedule-mode-icon>
          {{ 'i18n.monitoring.schedule-mode-fixed-time-slot' | translate }}
        </div>
        <button class="button-extra" (click)="onFixedTimeSlotCaptionClick()">
          <!-- prettier-inore -->
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" viewBox="0 0 24 24">
            <path fill="currentColor" d="m12 10.8l-4.6 4.6L6 14l6-6l6 6l-1.4 1.4l-4.6-4.6Z" />
          </svg>
        </button>
      </div>
      <div class="grid grid-flow-col grid-rows-6 gap-1 text-sm">
        <div
          *ngFor="let item of timeSlots"
          [ngClass]="{
            'bg-zinc-200 dark:bg-zinc-500': item.monitoringPortId === port!.id,
            'cursor-not-allowed text-red-500 dark:text-red-400':
              item.monitoringPortId !== -1 && item.monitoringPortId !== port!.id,
            'cursor-pointer hover:bg-blue-500 focus:bg-blue-500':
              item.monitoringPortId === -1 || item.monitoringPortId === port!.id,
          }"
          class="flex w-full justify-center rounded-sm px-3 py-1 font-roboto"
          (click)="toggleTimeSlot($event, item)"
        >
          {{ item.name }}
        </div>
      </div>
      <button class="button-extra mt-2 self-center px-5" (click)="applyTimeSlots()">
        <div *ngIf="!isTimeSlotsChanged()">
          {{ 'i18n.common.close' | translate }}
        </div>
        <div *ngIf="isTimeSlotsChanged()">
          {{ 'i18n.common.done' | translate }}
        </div>
      </button>
    </div>
    <ul
      *ngIf="overlayMode === 0"
      #overlayList
      [style.width.px]="selectButtonWidth"
      class="background-base z-10 mt-0.5 grid max-h-[40vh] min-w-max overflow-x-auto overflow-y-auto rounded-sm bg-white p-1 text-sm shadow-md"
    >
      <li
        *ngFor="let item of scheduleModes"
        [ngClass]="{ ' bg-zinc-200 dark:bg-zinc-500': item === selectedMode }"
        class="m-[1px] flex cursor-pointer items-center gap-x-1 rounded-sm p-2 hover:bg-blue-500 focus:bg-blue-500 focus:outline-none"
        (click)="setMode($event, item)"
      >
        <div class="flex w-full items-center">
          <rtu-schedule-mode-icon class="mr-2 h-6 w-6" [mode]="item"></rtu-schedule-mode-icon>
          <div class="flex flex-1 flex-col">
            <div class="">
              {{ convertUtils.scheduleModeToString(item) | translate }}
            </div>
            <div class="my-[1px] max-w-xs text-xs">
              {{ getModeDetailsString(item) | translate }}
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</ng-template>
