<div class="flex flex-col">
  <div [formGroup]="form">
    <div class="flex justify-between">
      <div class="grid-container ml-2 gap-x-12 gap-y-2 text-sm">
        <label style="grid-area: localIpAddressLabel" class="my-auto">{{
          'i18n.network-settings.local-ip-address' | translate
        }}</label>
        <div style="grid-area: localIpAddressValue">
          <input
            formControlName="localIpAddress"
            [ngClass]="{ 'invalid-border': !isLocalIpAddressValid() }"
            type="text"
            class="input-simple w-full"
          />
        </div>

        <label style="grid-area: localSubnetMaskLabel" class="my-auto">{{
          'i18n.network-settings.local-subnet-mask' | translate
        }}</label>
        <div style="grid-area: localSubnetMaskValue">
          <input
            formControlName="localSubnetMask"
            [ngClass]="{ 'invalid-border': !isLocalSubnetMaskValid() }"
            type="text"
            class="input-simple w-full"
          />
        </div>

        <label style="grid-area: localGatewayIpLabel" class="my-auto">{{
          'i18n.network-settings.local-gateway-ip' | translate
        }}</label>
        <div style="grid-area: localGatewayIpValue">
          <input
            formControlName="localGatewayIp"
            [ngClass]="{ 'invalid-border': !isLocalGatewayIpValid() }"
            type="text"
            class="input-simple w-full"
          />
        </div>

        <label style="grid-area: primaryDnsServerLabel" class="my-auto">{{
          'i18n.network-settings.primary-dns-server' | translate
        }}</label>
        <div style="grid-area: primaryDnsServerValue">
          <input
            formControlName="primaryDnsServer"
            [ngClass]="{ 'invalid-border': !isPrimaryDnsServerValid() }"
            type="text"
            class="input-simple w-full"
          />
        </div>

        <label style="grid-area: secondaryDnsServerLabel" class="my-auto">{{
          'i18n.network-settings.secondary-dns-server' | translate
        }}</label>
        <div style="grid-area: secondaryDnsServerValue">
          <input
            formControlName="secondaryDnsServer"
            [ngClass]="{ 'invalid-border': !isSecondaryDnsServerValid() }"
            type="text"
            class="input-simple w-full"
          />
        </div>
      </div>
    </div>
  </div>
</div>
