.grid-container {
  display: grid;

  grid-template-columns: auto_minmax(0, 1fr);

  grid-template-areas:
    'localIpAddressLabel localIpAddressValue'
    'localSubnetMaskLabel localSubnetMaskValue'
    'localGatewayIpLabel localGatewayIpValue'
    'primaryDnsServerLabel primaryDnsServerValue'
    'secondaryDnsServerLabel secondaryDnsServerValue';
}
