<rtu-loading-centered-big-spinner *ngIf="spinning$ | async"></rtu-loading-centered-big-spinner>

<div class="modal-backdrop">
  <div
    cdkDrag
    (cdkDragMoved)="dragWatcher.onDragMoved($event)"
    (cdkDragStarted)="dragWatcher.onDragStarted($event)"
    class="draggable-window fixed left-0 top-0 flex w-120 flex-col px-1 pb-1 text-sm"
  >
    <!-- draggable header -->
    <div cdkDragHandle class="w-full py-2">
      <div class="flex items-center justify-between">
        <div class="ml-3">
          {{ 'i18n.ft.section' | translate }}
        </div>
        <rtu-close-button class="mr-2 h-6 w-6" (click)="close()" />
      </div>
    </div>
    <!-- content -->
    <ng-container *ngIf="model$ | async as model">
      <div *ngIf="isDevMode" class="ml-2 text-gray-500">{{ model.fiberId }}</div>
      <div class="grouped-border m-1">
        <div class="mb-2">{{ 'i18n.ft.nodes-of-section' | translate }}</div>
        <div class="ml-2">{{ model.node1 }} - {{ model.node2 }}</div>
      </div>

      <div class="grouped-border mx-1">
        <div class="mb-2">{{ 'i18n.ft.physical-length' | translate }}</div>
        <div class="mr-5 flex justify-between">
          <div>{{ 'i18n.ft.gps-length-m' | translate }}</div>
          <div>{{ model.gpsLength }}</div>
        </div>
        <div class="mr-5 mt-1 flex items-center justify-between" [formGroup]="form">
          <div>{{ 'i18n.ft.user-length-m' | translate }}</div>
          <fieldset [disabled]="isInputDisabled()">
            <input
              type="text"
              formControlName="userInputLength"
              class="input-simple peer ml-2 w-24"
              [ngClass]="{ 'invalid-border': isUserLengthInvalid() }"
            />
          </fieldset>
        </div>
        <!-- buttons -->
        <div class="mt-6 flex flex-row justify-end">
          <button
            class="button-cancel mr-2 min-w-36"
            [disabled]="isDiscardDisabled()"
            (click)="onDiscardClicked()"
            cdkFocusInitial
          >
            {{ 'i18n.ft.discard' | translate }}
          </button>
          <button
            class="button-ok mr-2 min-w-36"
            [disabled]="isApplyDisabled()"
            (click)="onApplyClicked()"
          >
            {{ 'i18n.ft.apply' | translate }}
          </button>
        </div>
      </div>

      <!-- traces -->
      <div class="grouped-border m-1">
        <table class="min-w-full text-sm">
          <thead class="bg-rtu-second-bg text-left dark:bg-rtu-dark-second-bg">
            <tr>
              <th class="py-3 font-thin">{{ 'i18n.ft.trace' | translate }}</th>
              <th class="py-3 font-thin">{{ 'i18n.ft.opt-length-m' | translate }}</th>
            </tr>
          </thead>
          <tbody class="text-left text-gray-700 dark:text-zinc-300">
            <tr *ngFor="let line of model.tracesThrough">
              <td>{{ line.trace }}</td>
              <td>{{ line.length | translate }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </ng-container>
  </div>
</div>
