<rtu-loading-centered-big-spinner *ngIf="spinning$ | async"></rtu-loading-centered-big-spinner>

<rtu-draggable-window
  [caption]="'i18n.ft.information-section' | translate"
  [modal]="true"
  (closeEvent)="close()"
>
  <!-- content -->
  <ng-container *ngIf="model$ | async as model">
    <div *ngIf="isDevMode" class="ml-2 text-gray-500">{{ model.fiberId }}</div>
    <rtu-group-box class="m-1 w-120" [header]="'i18n.ft.nodes-of-section'">
      <div class="ml-2">{{ model.node1 }} - {{ model.node2 }}</div>
    </rtu-group-box>

    <rtu-group-box class="mx-1" [header]="'i18n.ft.physical-length'">
      <div class="mr-2 flex justify-between">
        <div>{{ 'i18n.ft.gps-length-m' | translate }}</div>
        <div>{{ model.gpsLength }}</div>
      </div>
      <div class="mr-2 mt-1 flex items-center justify-between" [formGroup]="form">
        <div>{{ 'i18n.ft.user-length-m' | translate }}</div>
        <fieldset [disabled]="isInputDisabled()">
          <input
            type="text"
            formControlName="userInputLength"
            class="input-simple peer ml-2 w-24"
            [ngClass]="{ 'invalid-border': isUserLengthInvalid() }"
          />
        </fieldset>
      </div>
      <!-- buttons -->
      <div class="mt-6 flex flex-row justify-end">
        <button
          class="button-cancel mr-2 min-w-36"
          [disabled]="isDiscardDisabled()"
          (click)="onDiscardClicked()"
          cdkFocusInitial
        >
          {{ 'i18n.ft.discard' | translate }}
        </button>
        <button
          class="button-ok mr-2 min-w-36"
          [disabled]="isApplyDisabled()"
          (click)="onApplyClicked()"
        >
          {{ 'i18n.ft.apply' | translate }}
        </button>
      </div>
    </rtu-group-box>

    <!-- traces -->
    <div class="grouped-border m-1 w-120">
      <table class="min-w-full text-sm">
        <thead class="bg-rtu-second-bg text-left dark:bg-rtu-dark-second-bg">
          <tr>
            <th class="py-3 font-thin">{{ 'i18n.ft.trace' | translate }}</th>
            <th class="py-3 font-thin">{{ 'i18n.ft.opt-length-m' | translate }}</th>
          </tr>
        </thead>
        <tbody class="text-left text-gray-700 dark:text-zinc-300">
          <tr *ngFor="let line of model.tracesThrough">
            <td>{{ line.trace }}</td>
            <td>{{ line.length | translate }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </ng-container>
</rtu-draggable-window>
