<button
  class="cursor-pointer"
  cdkOverlayOrigin
  #selectButton="cdkOverlayOrigin"
  type="button"
  (click)="onRtuNameClicked()"
>
  <span>{{ rtu.title }}</span>
</button>

<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="selectButton"
  [cdkConnectedOverlayOpen]="open"
>
  <div
    class="min-w-40 rounded-sm border border-gray-300 bg-rtu-second-bg p-2 dark:border-[#575859] dark:bg-rtu-dark-second-bg"
  >
    <!-- prettier-ignore -->
    <div class="flex flex-col" (click)="onOverlayClick($event)">
      <button class="context-menu-line" (click)="onInformationClicked()">{{ 'i18n.ft.information' | translate }}</button>
      <button class="context-menu-line" (click)="onNetworkSettignsClicked()" [disabled]="!canInitialize()">{{ 'i18n.ft.network-settings' | translate }}</button>
      <button class="context-menu-line" (click)="onStateClicked()">{{ 'i18n.ft.state' | translate }}</button>
      <button class="context-menu-line" (click)="onLandmarksClicked()">{{ 'i18n.ft.landmarks' | translate }}</button>
      <hr class="my-2" />
      <button class="context-menu-line" (click)="onAutomaticBaseRefsClicked()">{{ 'i18n.ft.automatic-base-refs' | translate }}</button>
      <hr class="my-2" />
      <button class="context-menu-line" (click)="onMonitoringSettingsClicked()">{{ 'i18n.ft.monitoring-settings' | translate }}</button>
      <button class="context-menu-line" (click)="onManualModeClicked()">{{ 'i18n.ft.manual-mode' | translate }}</button>
      <button class="context-menu-line" (click)="onClicked()">{{ 'i18n.ft.automatic-mode' | translate }}</button>
      <hr class="my-2" />
      <button class="context-menu-line" (click)="onClicked()">{{ 'i18n.ft.detach-all-traces' | translate }}</button>
      <button class="context-menu-line" (click)="onClicked()">{{ 'i18n.ft.remove' | translate }}</button>
      <hr class="my-2" />
      <button class="context-menu-line" (click)="onClicked()">{{ 'i18n.ft.define-trace' | translate }}</button>
    </div>
  </div>
</ng-template>
