<button
  class="flex w-full cursor-pointer justify-start"
  cdkOverlayOrigin
  #selectButton="cdkOverlayOrigin"
  type="button"
  (click)="onRtuNameClicked()"
  (contextmenu)="onRtuNameClicked()"
>
  <div class="flex items-center">
    <rtu-monitoring-mode-pictogram [mode]="rtu.monitoringMode"></rtu-monitoring-mode-pictogram>
    <rtu-rtu-part-state-pictogram [state]="rtu.bopsState"></rtu-rtu-part-state-pictogram>
    <rtu-rtu-part-state-pictogram [state]="rtu.mainChannelState"></rtu-rtu-part-state-pictogram>
    <rtu-rtu-part-state-pictogram [state]="rtu.reserveChannelState"></rtu-rtu-part-state-pictogram>
    <span class="ml-2">{{ rtu.title }}</span>
  </div>
</button>

<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="selectButton"
  [cdkConnectedOverlayOpen]="open"
>
  <div
    class="min-w-40 rounded-sm border border-gray-300 bg-rtu-second-bg p-2 dark:border-[#575859] dark:bg-rtu-dark-second-bg"
  >
    <!-- prettier-ignore -->
    <div class="flex flex-col " (click)="onOverlayClick($event)" >
      <button class="context-menu-line" (click)="onInformationClicked()">{{ 'i18n.ft.information' | translate }}</button>
      <button class="context-menu-line" (click)="onShowClicked()">{{ 'i18n.ft.show' | translate }}</button>
      <button class="context-menu-line" (click)="onNetworkSettingsClicked()" >{{ 'i18n.ft.network-settings' | translate }}</button>
      <button class="context-menu-line" (click)="onStateClicked()">{{ 'i18n.ft.state' | translate }}</button>
      <button class="context-menu-line" (click)="onLandmarksClicked()">{{ 'i18n.ft.landmarks' | translate }}</button>
      <hr class="my-2" />
      <button class="context-menu-line" (click)="onAutomaticBaseRefsClicked()" [disabled]="!canAutomaticBaseRefs()">{{ 'i18n.ft.automatic-base-refs' | translate }}</button>
      <hr class="my-2" />
      <button class="context-menu-line" (click)="onMonitoringSettingsClicked()" [disabled]="!canMonitoringSettings()">{{ 'i18n.ft.monitoring-settings' | translate }}</button>
      <button class="context-menu-line" (click)="onManualModeClicked()" [disabled]="!canManualMode()">{{ 'i18n.ft.manual-mode' | translate }}</button>
      <button class="context-menu-line" (click)="onAutomaticModeClicked()" [disabled]="!canAutomaticMode()">{{ 'i18n.ft.automatic-mode' | translate }}</button>
      <hr class="my-2" />
      <button class="context-menu-line" (click)="onDetachAllTracesClicked()" [disabled]="!canDetachAllTraces()">{{ 'i18n.ft.detach-all-traces' | translate }}</button>
      <button class="context-menu-line" (click)="onRemoveClicked()" [disabled]="!canRemove()">{{ 'i18n.ft.remove' | translate }}</button>
      <hr class="my-2" />
      <button class="context-menu-line" (click)="onDefineTraceClicked()" [disabled]="!canDefineTrace()">{{ 'i18n.ft.define-trace' | translate }}</button>
    </div>
  </div>
</ng-template>
