<rtu-single-error-popup
  [errorMessageId$]="errorMessageId$"
  [resetErrorAction]="otausActions.resetError()"
></rtu-single-error-popup>
<rtu-loading-centered-big-spinner *ngIf="loading$ | async"></rtu-loading-centered-big-spinner>

<div class="mx-2 mt-4 text-xs">
  <table class="min-w-full text-sm">
    <thead class="text-center text-gray-600 dark:text-zinc-400">
      <tr>
        <th class="whitespace-nowrap pb-1 font-thin">{{ 'i18n.common.ocm-port' | translate }}</th>
        <th class="pb-1 pl-3 text-left font-thin">{{ 'i18n.common.status' | translate }}</th>
        <th class="pb-1 pl-3 text-left font-thin">{{ 'i18n.common.info' | translate }}</th>
        <th class="pb-1 font-thin"></th>
      </tr>
    </thead>
    <tbody *ngIf="ocmOtau$ | async as ocmOtau" class="text-center text-gray-700 dark:text-zinc-300">
      <ng-container *ngFor="let combinedPort of ocmOtauCombinedPorts$ | async">
        <ng-container
          *ngIf="
            !combinedPort.cascadeOtau &&
            !combinedPort.otauPort.unavailable &&
            combinedPort.monitoringPort &&
            combinedPort.monitoringPort.status !== monitoringPortStatus.Off
          "
        >
          <tr class="rounded-sm odd:bg-rtu-second-bg dark:odd:bg-rtu-dark-second-bg">
            <td class="w-0 whitespace-nowrap py-4 pl-3 pr-3">
              <rtu-otau-port-index [otauPort]="combinedPort.otauPort"></rtu-otau-port-index>
            </td>
            <td colspan="100" class="w-0 whitespace-nowrap py-4 pl-3 pr-3 text-left">
              <div class="flex">
                <div class="mr-2">{{ 'i18n.common.monitoring' | translate }}:</div>
                <rtu-monitoring-port-status
                  [status]="combinedPort.monitoringPort.status"
                ></rtu-monitoring-port-status>
              </div>
            </td>
          </tr>
        </ng-container>
        <ng-container
          *ngIf="
            !combinedPort.cascadeOtau &&
            !combinedPort.otauPort.unavailable &&
            combinedPort.monitoringPort &&
            combinedPort.monitoringPort.status === monitoringPortStatus.Off
          "
        >
          <tr class="rounded-sm odd:bg-rtu-second-bg dark:odd:bg-rtu-dark-second-bg">
            <td class="w-0 whitespace-nowrap py-4 pl-3 pr-3">
              <rtu-otau-port-index [otauPort]="combinedPort.otauPort"></rtu-otau-port-index>
            </td>
            <td colspan="2" class="pl-3">
              <div class="flex">
                <div class="mr-2">{{ 'i18n.common.monitoring' | translate }}:</div>
                <rtu-monitoring-port-status
                  [status]="combinedPort.monitoringPort.status"
                ></rtu-monitoring-port-status>
              </div>
            </td>
            <td
              class="w-0 whitespace-nowrap pl-3 pr-3 text-left"
              *ngIf="hasOtauConfigurationPermission$ | async"
            >
              <button
                *ngIf="!combinedPort.otauPort.unavailable"
                class="button-ok w-full px-10 text-xs text-black dark:text-white"
                (click)="onAddOtauClick(combinedPort.otauPort.portIndex)"
              >
                {{ 'i18n.otau-management.add-otau' | translate }}
              </button>
            </td>
          </tr>
        </ng-container>
        <ng-container *ngIf="combinedPort.cascadeOtau">
          <tr class="rounded-sm odd:bg-rtu-second-bg dark:odd:bg-rtu-dark-second-bg">
            <td class="w-0 whitespace-nowrap py-4 pl-3 pr-3">
              <rtu-otau-port-index [otauPort]="combinedPort.otauPort"></rtu-otau-port-index>
            </td>
            <td class="py-2 pl-3 pr-3 text-left">
              <div class="flex items-center justify-between">
                <div class="flex items-center">
                  <rtu-blink-otau
                    class="mr-2"
                    [otauId]="combinedPort.cascadeOtau.id"
                  ></rtu-blink-otau>
                </div>
                <div class="flex-1">
                  <span class="text-data-highlight"
                    >{{ 'i18n.otau-management.assigned-to' | translate }}
                  </span>
                  <span class="uppercase">{{
                    convertUtils.otauTypeToString(combinedPort.cascadeOtau.type)
                  }}</span>
                  <span class="ml-1">{{ combinedPort.cascadeOtau.name }}</span>
                </div>
              </div>
            </td>
            <td class="w-0 py-2 pl-3 pr-3 text-left">
              <div>
                <div>
                  <span class="text-data-highlight whitespace-nowrap"
                    >{{ 'i18n.common.serial-number' | translate }}:</span
                  >
                  <span class="ml-1 whitespace-nowrap uppercase">{{
                    combinedPort.cascadeOtau.serialNumber
                  }}</span>
                </div>
                <div>
                  <span class="text-data-highlight whitespace-nowrap"
                    >{{ 'i18n.common.port-count' | translate }}:</span
                  >
                  <span class="ml-1 whitespace-nowrap uppercase">{{
                    combinedPort.cascadeOtau.portCount
                  }}</span>
                </div>
                <div *ngIf="combinedPort.cascadeOtau.type === 'Oxc'">
                  <span class="text-data-highlight whitespace-nowrap"
                    >{{ 'i18n.common.address' | translate }}:</span
                  >
                  <span class="ml-1 whitespace-nowrap uppercase">{{
                    oxcParametersToAddress(combinedPort.cascadeOtau.jsonParameters)
                  }}</span>
                </div>
              </div>
            </td>
            <td
              class="w-0 whitespace-nowrap py-1 pl-3 pr-3"
              *ngIf="hasOtauConfigurationPermission$ | async"
            >
              <ng-container>
                <button
                  class="button-delete w-full px-10 text-xs text-black dark:text-white"
                  (click)="
                    removeOtau(
                      combinedPort.cascadeOtau.type,
                      combinedPort.otauPort.portIndex,
                      combinedPort.cascadeOtau.id
                    )
                  "
                >
                  <span> {{ 'i18n.common.remove' | translate }} </span>
                  <span class="uppercase">{{
                    convertUtils.otauTypeToString(combinedPort.cascadeOtau.type)
                  }}</span>
                  <span class="ml-1">{{ combinedPort.otauPort.portIndex }}</span>
                </button>
              </ng-container>
            </td>
          </tr>
        </ng-container>
      </ng-container>
    </tbody>
  </table>
</div>
