<rtu-single-error-popup [errorMessageId$]="errorMessageId$"></rtu-single-error-popup>
<rtu-loading-centered-big-spinner *ngIf="loading$ | async"></rtu-loading-centered-big-spinner>

<div class="flex h-full w-full flex-col">
  <div class="flex items-center justify-end">
    <div class="available-action action-non-active mr-2" (click)="saveSor()">
      <rtu-save-button class="h-8 w-8" />
      <div class="my-auto text-center text-xs">
        {{ 'i18n.ft.save' | translate }}
      </div>
    </div>
    <rtu-expand-minimize-avaiable-action (click)="toggleFullScreen()" [fullScreen]="fullScreen" />
  </div>
  <div class="flex h-full w-full">
    <ng-container *ngIf="opticalEvent && !fullScreen">
      <rtu-trace-info class="w-96" [opticalEvent]="opticalEvent"></rtu-trace-info>
    </ng-container>
    <div class="ml-1 h-full w-full">
      <ng-container *ngIf="measurementTrace !== null && baselineTrace !== null">
        <!-- <rtu-sor-area-provider [sors]="[measurementTrace, baselineTrace]"></rtu-sor-area-provider> -->
        <rtu-sor-result-baseline-provider
          [result]="measurementTrace"
          [baseline]="baselineTrace"
        ></rtu-sor-result-baseline-provider>
      </ng-container>
      <ng-container *ngIf="measurementTrace === null || baselineTrace === null">
        {{ 'loading...' }}
      </ng-container>
    </div>
  </div>
</div>
