<div class="flex w-full items-center overflow-hidden">
  <rtu-schedule-mode-icon class="mr-2 h-4 w-4" [mode]="mode"></rtu-schedule-mode-icon>
  <div *ngIf="mode === monitoringScheduleMode.AtLeastOnceIn">
    {{ convertUtils.scheduleModeToString(mode) | translate }}
    {{ interval?.value }} {{ interval?.unit | translate }}
  </div>
  <div *ngIf="mode === monitoringScheduleMode.FixedTimeSlot">
    {{ convertUtils.scheduleModeToString(mode) | translate }}
    <span class="ml-1">{{ slotsString }}</span>
  </div>
  <div *ngIf="mode === monitoringScheduleMode.RoundRobin">
    {{ convertUtils.scheduleModeToString(mode) | translate }}
  </div>
</div>
