<div
  class="absolute z-10 mt-1 rounded-sm bg-rtu-second-bg text-sm text-red-500 dark:bg-rtu-dark-second-bg dark:text-red-400"
  *ngIf="showErrors"
>
  <p class="p-2" *ngIf="errors!['min'] as min">
    {{ 'i18n.common.validation.cannot-be-less-than' | translate }} {{ min.min }}
  </p>
  <p class="p-2" *ngIf="errors!['max'] as max">
    {{ 'i18n.common.validation.cannot-be-more-than' | translate }} {{ max.max }}
  </p>
  <p class="p-2" *ngIf="errors!['doNotMatch']">
    {{ 'i18n.users.passwords-do-not-match' | translate }}
  </p>
  <p class="p-2" *ngIf="errors!['notUnique']">
    {{ 'i18n.validation.not-unique' | translate }}
  </p>
  <!-- <p *ngIf="errors!['required']">{{ 'i18n.users.required' | translate }}</p> -->
  <p class="p-2" *ngIf="errors!['theSameIp']">
    {{ 'i18n.otau.error.otau-with-this-ip-address-is-already-added' | translate }}
  </p>
  <p class="p-2" *ngIf="errors!['precision']">
    {{ 'i18n.validation.precision-limit' | translate }}
  </p>
  <p class="p-2" *ngIf="errors!['incorrectLevelOrder']">
    {{ 'i18n.validation.incorrect-level-order' | translate }}
  </p>
</div>
