<div class="grouped-border min-w-96">
  <div class="flex flex-col">
    <div class="m-2 mb-4">
      {{ 'i18n.datetime-settings' | translate }}
    </div>
    <rtu-time-zone #timeZone class="mx-2 mb-4"></rtu-time-zone>
    <div *ngIf="ntpSettings$ | async">
      <rtu-ntp-settings #ntpSettings></rtu-ntp-settings>
    </div>
  </div>
  <div class="mr-2 mt-6 flex flex-row justify-end">
    <button
      class="button-ok mr-0 min-w-36"
      [disabled]="isApplyDisabled()"
      (click)="onApplyClicked()"
    >
      {{ 'i18n.common.apply' | translate }}
    </button>
  </div>
</div>
