<rtu-draggable-window
  [caption]="'i18n.ft.rtu-state' | translate"
  [modal]="false"
  [left]="150"
  [top]="110"
  [closeOnEscape]="false"
  [windowId]="rtuId"
  [windowName]="'RtuState'"
  [zIndex]="zIndex"
  (closeEvent)="close()"
>
  <ng-container *ngIf="rtu$ | async as rtu">
    <div class="mx-1 w-144">
      <!-- доступность RTU -->
      <div class="grouped-border mb-1 w-full">
        <div class="mb-2 flex justify-between">
          <div class="my-auto">{{ rtu.title }}</div>
          <ng-container *ngIf="rtu.isRtuAvailable">
            <div class="text-lg font-bold">{{ 'i18n.ft.available' | translate }}</div>
          </ng-container>
          <ng-container *ngIf="!rtu.isRtuAvailable">
            <div class="text-lg font-bold text-red-500">
              {{ 'i18n.ft.not-available' | translate }}
            </div>
          </ng-container>
        </div>
        <div
          class="my-2 flex justify-between text-sm"
          [ngClass]="{ 'text-gray-500': rtu.mainChannelState === rtuPartState.NotSetYet }"
        >
          <div>
            <span>{{ 'i18n.ft.main' | translate }}</span>
            {{ 'i18n.ft.channel' | translate }}
            <ng-container *ngIf="rtu.mainChannelState !== rtuPartState.NotSetYet">
              <span class="ml-1">({{ rtu.mainChannel }})</span></ng-container
            >
          </div>
          <div [ngClass]="{ 'text-red-500': rtu.mainChannelState === rtuPartState.Broken }">
            {{ rtu.mainChannelState | rtuPartStatePipe | translate }}
          </div>
        </div>
        <div
          class="mt-2 flex justify-between text-sm"
          [ngClass]="{ 'text-gray-500': rtu.reserveChannelState === rtuPartState.NotSetYet }"
        >
          <div>
            <span>{{ 'i18n.ft.reserve' | translate }}</span>
            {{ 'i18n.ft.channel' | translate }}
            <span *ngIf="rtu.reserveChannelState !== rtuPartState.NotSetYet"
              >({{ rtu.reserveChannel }})</span
            >
          </div>
          <div [ngClass]="{ 'text-red-500': rtu.mainChannelState === rtuPartState.Broken }">
            {{ rtu.reserveChannelState | rtuPartStatePipe | translate }}
          </div>
        </div>
      </div>
      <!-- компоненты RTU -->
      <div class="mb-1 grid grid-cols-[42%_58%]">
        <!-- left -->
        <div class="grouped-border flex flex-col">
          <div class="my-1 flex justify-between text-sm">
            <div>{{ 'i18n.ft.port-count' | translate }}</div>
            <ng-container *ngIf="rtu.ownPortCount !== rtu.fullPortCount">
              <div>{{ rtu.ownPortCount }}/{{ rtu.fullPortCount }}</div>
            </ng-container>
            <ng-container *ngIf="rtu.ownPortCount === rtu.fullPortCount">
              <div>{{ rtu.ownPortCount }}</div>
            </ng-container>
          </div>
          <div class="my-1 flex justify-between text-sm">
            <div>{{ 'i18n.ft.bop-count' | translate }}</div>
            <div>{{ rtu.bops.length }}</div>
          </div>
          <div class="my-1 flex justify-between text-sm">
            <div>{{ 'i18n.ft.trace-count' | translate }}</div>
            <div>{{ rtu.fullAttachedTraceCount }}</div>
          </div>
        </div>
        <!-- right -->
        <div class="grouped-border ml-2 flex flex-col">
          <div class="my-1 flex justify-between text-sm">
            <div>{{ 'i18n.ft.bop' | translate }}</div>
            <div
              class="px-2"
              [ngClass]="{ 'bg-red-500 text-white': rtu.bopsState === rtuPartState.Broken }"
            >
              {{ rtu.bopsState | rtuPartStatePipe | translate }}
            </div>
          </div>
          <div class="my-1 flex justify-between text-sm">
            <div>{{ 'i18n.ft.traces-state' | translate }}</div>
            <ng-container *ngIf="worstPort$ | async as worst"
              ><div
                [rtuColorizeBgByTraceState]="{
                  traceState: worst.state,
                  baseRefType: worst.baseRefType
                }"
                class="px-2"
              >
                {{ worst.state! | traceStatePipe : worst.baseRefType | translate }}
              </div></ng-container
            >
          </div>
          <div class="my-1 flex justify-between text-sm">
            <div>{{ 'i18n.ft.monitoring-mode' | translate }}</div>
            <ng-container *ngIf="rtu.isMonitoringOn">
              <div>{{ 'i18n.ft.automatic' | translate }}</div>
            </ng-container>
            <ng-container *ngIf="!rtu.isMonitoringOn">
              <div>{{ 'i18n.ft.manual' | translate }}</div>
            </ng-container>
          </div>
        </div>
      </div>
      <!-- текущее действие на RTU -->
      <div
        class="grouped-border mb-1 flex w-full animate-pulse justify-center text-green-700 dark:text-green-500"
      >
        {{ stepLine }}
      </div>
      <!-- таблица портов -->
      <div class="grouped-border mb-1 h-72 overflow-y-auto">
        <ng-container *ngIf="portTable$ | async as portTable">
          <table class="min-w-full text-sm">
            <thead class="text-center text-gray-600 dark:text-zinc-400">
              <tr>
                <th class="w-12 font-thin">{{ 'i18n.ft.port' | translate }}</th>
                <th class="font-thin">{{ 'i18n.ft.trace' | translate }}</th>
                <th class="w-35 font-thin">{{ 'i18n.ft.state' | translate }}</th>
                <th class="w-12 font-thin">ID</th>
                <th class="w-40 font-thin">{{ 'i18n.ft.registered-at' | translate }}</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let port of portTable; index as i"
                class="odd:bg-rtu-second-bg dark:odd:bg-rtu-dark-second-bg"
              >
                <td class="text-center">
                  <div class="my-1">{{ port.port }}</div>
                </td>
                <td class="text-center">{{ port.title }}</td>
                <td class="text-center">
                  <ng-container *ngIf="port.state"
                    ><div
                      [rtuColorizeBgByTraceState]="{
                        traceState: port.state,
                        baseRefType: baseRefType.Precise
                      }"
                      class="py-0.5"
                    >
                      {{ port.state | traceStatePipe : baseRefType.Precise | translate }}
                    </div></ng-container
                  >
                </td>
                <td class="text-center">
                  <ng-container *ngIf="port.sorFileId > -1">{{ port.sorFileId }}</ng-container>
                </td>
                <td class="text-center">
                  <ng-container *ngIf="port.registeredAt">{{
                    port.registeredAt | rtuDateTime : 'medium'
                  }}</ng-container>
                </td>
              </tr>
            </tbody>
          </table>
        </ng-container>
      </div>
    </div>
  </ng-container>
</rtu-draggable-window>
