<mat-form-field appearance="fill">
  <mat-label>Enter a date range</mat-label>
  <input (dateChange)="dateChange($event)" [value]="date" matInput [matDatepicker]="picker" />
  <mat-datepicker-toggle matIconSuffix [for]="picker">
    <mat-icon matDatepickerToggleIcon>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        data-name="Layer 1"
        viewBox="0 0 24 24"
        aria-hidden="true"
        width="16"
        height="16"
        class="leading-0 inline-block flex-shrink-0 fill-current align-middle text-gray-800 dark:text-gray-300"
      >
        <path
          d="M12,19a1,1,0,1,0-1-1A1,1,0,0,0,12,19Zm5,0a1,1,0,1,0-1-1A1,1,0,0,0,17,19Zm0-4a1,1,0,1,0-1-1A1,1,0,0,0,17,15Zm-5,0a1,1,0,1,0-1-1A1,1,0,0,0,12,15ZM19,3H18V2a1,1,0,0,0-2,0V3H8V2A1,1,0,0,0,6,2V3H5A3,3,0,0,0,2,6V20a3,3,0,0,0,3,3H19a3,3,0,0,0,3-3V6A3,3,0,0,0,19,3Zm1,17a1,1,0,0,1-1,1H5a1,1,0,0,1-1-1V11H20ZM20,9H4V6A1,1,0,0,1,5,5H6V6A1,1,0,0,0,8,6V5h8V6a1,1,0,0,0,2,0V5h1a1,1,0,0,1,1,1ZM7,15a1,1,0,1,0-1-1A1,1,0,0,0,7,15Zm0,4a1,1,0,1,0-1-1A1,1,0,0,0,7,19Z"
        ></path>
      </svg>
    </mat-icon>
  </mat-datepicker-toggle>
  <mat-datepicker #picker (opened)="onOpened()" (closed)="onClosed()"></mat-datepicker>
</mat-form-field>
