<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayPositions]="[
    {
      originX: 'end',
      originY: 'top',
      overlayX: 'start',
      overlayY: 'top'
    }
  ]"
  [cdkConnectedOverlayOffsetX]="5"
  [cdkConnectedOverlayOffsetY]="-5"
  [cdkConnectedOverlayOrigin]="overlayOrigin"
  [cdkConnectedOverlayOpen]="open"
>
  <div class="mt-1 rounded-sm bg-rtu-second-bg p-2 text-xs dark:bg-rtu-dark-second-bg">
    <div class="mb-1">{{ 'i18n.ft.password-rules' | translate }}:</div>

    <div class="flex flex-row items-center">
      <rtu-checkmark-or-circle [isCheckmark]="isLength"></rtu-checkmark-or-circle>
      <div [ngClass]="{ 'line-through': isLength }">
        {{ 'i18n.ft.password-rule-length' | translate }}
      </div>
    </div>

    <div class="flex flex-row items-center">
      <rtu-checkmark-or-circle [isCheckmark]="isUpper"></rtu-checkmark-or-circle>
      <div [ngClass]="{ 'line-through': isUpper }">
        {{ 'i18n.ft.password-rule-uppercase' | translate }}
      </div>
    </div>

    <div class="flex flex-row items-center">
      <rtu-checkmark-or-circle [isCheckmark]="isLower"></rtu-checkmark-or-circle>
      <div [ngClass]="{ 'line-through': isLower }">
        {{ 'i18n.ft.password-rule-lowercase' | translate }}
      </div>
    </div>

    <div class="flex flex-row items-center">
      <rtu-checkmark-or-circle [isCheckmark]="isDigit"></rtu-checkmark-or-circle>
      <div [ngClass]="{ 'line-through': isDigit }">
        {{ 'i18n.ft.password-rule-digit' | translate }}
      </div>
    </div>

    <div class="flex flex-row items-center">
      <rtu-checkmark-or-circle [isCheckmark]="isSpecial"></rtu-checkmark-or-circle>
      <div [ngClass]="{ 'line-through': isSpecial }">
        {{ 'i18n.ft.password-rule-special' | translate }}
      </div>
    </div>
  </div>
</ng-template>
