<div class="flex h-full w-full flex-1 flex-col">
  <div
    class="mx-2 flex items-center justify-between"
    *ngIf="(hideMonitoringsAvailableActions$ | async) === false"
  >
    <div class="flex items-stretch">
      <div class="mr-2 self-center">
        {{ 'i18n.common.available-actions' | translate }}
      </div>
      <div
        class="available-action"
        [routerLink]="['./ports']"
        routerLinkActive
        #rlaTestPorts="routerLinkActive"
        [ngClass]="rlaTestPorts.isActive ? 'action-active' : 'action-non-active'"
      >
        <!-- prettier-ignore -->
        <svg class="h-8 w-8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 40 40" xml:space="preserve">
              <path
                fill="currentColor"
                d="M33,10v17c0,1.103-0.897,2-2,2H9c-1.103,0-2-0.897-2-2V10H33 M35,8H5v19c0,2.209,1.791,4,4,4h22
                    c2.209,0,4-1.791,4-4V8L35,8z"
              />
              <path fill="currentColor" d="M26.654,36H13.344L10,29h20L26.654,36z" />
              <path fill="currentColor" d="M31,10H9V3h4V0h14v3h4V10z M11,8h18V5h-4V2H15v3h-4V8z" />
              <rect x="16" y="36" fill="currentColor" width="8" height="4" />
            </svg>

        <div class="my-auto text-center text-xs">
          {{ 'i18n.monitoring.ports' | translate }}
        </div>
      </div>
      <div
        *ngIf="false"
        class="available-action"
        [routerLink]="['./otau-dashboard']"
        routerLinkActive
        #rlaOtauDashboard="routerLinkActive"
        [ngClass]="rlaOtauDashboard.isActive ? 'action-active' : 'action-non-active'"
      >
        <!-- prettier-ignore -->
        <svg class="w-8 h-8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 40 40" xml:space="preserve">
        <path
          fill="currentColor"
          d="M38,13v24H10V13H38 M38,11H10c-1.104,0-2,0.896-2,2v24c0,1.104,0.896,2,2,2h28c1.104,0,2-0.896,2-2V13
              C40,11.896,39.104,11,38,11L38,11z"
        />
        <path fill="currentColor" d="M8,27H2V3h28v8h2V3c0-1.104-0.896-2-2-2H2C0.896,1,0,1.896,0,3v24c0,1.104,0.896,2,2,2h6V27z" />
        <path fill="currentColor" d="M16,24v2h-2v-2H16 M17,23h-4v4h4V23L17,23z" />
        <path fill="currentColor" d="M22,24v2h-2v-2H22 M23,23h-4v4h4V23L23,23z" />
        <path fill="currentColor" d="M28,24v2h-2v-2H28 M29,23h-4v4h4V23L29,23z" />
        <path fill="currentColor" d="M34,24v2h-2v-2H34 M35,23h-4v4h4V23L35,23z" />
        <path fill="currentColor" d="M22,30v2h-2v-2H22 M23,29h-4v4h4V29L23,29z" />
        <path fill="currentColor" d="M28,30v2h-2v-2H28 M29,29h-4v4h4V29L29,29z" />
        <path fill="currentColor" d="M34,30v2h-2v-2H34 M35,29h-4v4h4V29L35,29z" />
        <path fill="currentColor" d="M22,18v2h-2v-2H22 M23,17h-4v4h4V17L23,17z" />
        <path fill="currentColor" d="M28,18v2h-2v-2H28 M29,17h-4v4h4V17L29,17z" />
        <path fill="currentColor" d="M34,18v2h-2v-2H34 M35,17h-4v4h4V17L35,17z" />
      </svg>

        <div class="my-auto text-center text-xs">
          {{ 'i18n.monitoring.otau-dashboard' | translate }}
        </div>
      </div>

      <div
        *ngIf="false"
        class="available-action"
        [routerLink]="['./monitoring-profiles']"
        routerLinkActive
        #rlaMonitoringProfiles="routerLinkActive"
        [ngClass]="rlaMonitoringProfiles.isActive ? 'action-active' : 'action-non-active'"
      >
        <!-- prettier-ignore -->
        <svg class="w-8 h-8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 40 40" xml:space="preserve">
          <path
            fill="currentColor"
            d="M8.5,5.5C8.5,6.328,7.828,7,7,7l0,0C6.172,7,5.5,6.328,5.5,5.5v-4C5.5,0.672,6.172,0,7,0l0,0
                    c0.828,0,1.5,0.672,1.5,1.5V5.5z"
          />
          <path
            fill="currentColor"
            d="M20.5,5.5C20.5,6.328,19.828,7,19,7l0,0c-0.828,0-1.5-0.672-1.5-1.5v-4C17.5,0.672,18.172,0,19,0l0,0
                    c0.828,0,1.5,0.672,1.5,1.5V5.5z"
          />
          <path
            fill="currentColor"
            d="M32.5,5.5C32.5,6.328,31.828,7,31,7l0,0c-0.828,0-1.5-0.672-1.5-1.5v-4C29.5,0.672,30.172,0,31,0l0,0
                    c0.828,0,1.5,0.672,1.5,1.5V5.5z"
          />
          <rect x="5" y="11" fill="currentColor" width="4" height="4" />
          <rect x="13" y="11" fill="currentColor" width="4" height="4" />
          <rect x="21" y="11" fill="currentColor" width="4" height="4" />
          <rect x="5" y="19" fill="currentColor" width="4" height="4" />
          <rect x="13" y="19" fill="currentColor" width="4" height="4" />
          <rect x="21" y="19" fill="currentColor" width="4" height="4" />
          <rect x="5" y="27" fill="currentColor" width="4" height="4" />
          <rect x="13" y="27" fill="currentColor" width="4" height="4" />
          <rect x="29" y="11" fill="currentColor" width="4" height="4" />
          <path
            fill="currentColor"
            d="M23.947,36H4c-1.102,0-2-0.897-2-2V7c0-1.103,0.898-2,2-2h30c1.104,0,2,0.897,2,2v16.946
                c0.73,0.363,1.4,0.821,2,1.358V7c0-2.209-1.791-4-4-4H4C1.791,3,0,4.791,0,7v27c0,2.209,1.791,4,4,4h21.307
                C24.768,37.4,24.311,36.729,23.947,36z"
          />
          <path
            fill="currentColor"
            d="M32,26c3.309,0,6,2.691,6,6s-2.691,6-6,6s-6-2.691-6-6S28.691,26,32,26 M32,25c-3.865,0-7,3.135-7,7
                    s3.135,7,7,7c3.867,0,7-3.135,7-7S35.867,25,32,25L32,25z"
          />
          <path
            fill="currentColor"
            d="M39.561,37.439l-2.396-2.396c-0.516,0.875-1.246,1.605-2.121,2.121l2.396,2.396
                    c0.586,0.586,1.537,0.585,2.121,0C40.146,38.976,40.146,38.025,39.561,37.439z"
          />
        </svg>

        <div class="my-auto text-center text-xs">
          {{ 'i18n.monitoring.monitoring-profiles' | translate }}
        </div>
      </div>
    </div>

    <ng-container *ngIf="otaus$ | async as otaus">
      <ng-container *ngIf="otaus.length > 1">
        <div *ngIf="hasOcmPortIndex$ | async">
          <rtu-select
            [items]="otaus"
            [selectedItem]="routedSelectedOtau$ | async"
            (selectedItemChange)="setSelectedOtau($event)"
          >
            <ng-template rtuSelectLabel let-selectedItem>
              <div class="pl-1">
                <rtu-otau-title [otauId]="selectedItem.id"></rtu-otau-title>
              </div>
            </ng-template>
            <ng-template rtuSelectItem let-item>
              <div><rtu-otau-title [otauId]="item.id"></rtu-otau-title></div>
            </ng-template>
          </rtu-select>
        </div>
      </ng-container>
    </ng-container>
  </div>

  <div class="flex flex-1">
    <router-outlet></router-outlet>
  </div>
</div>
