<div class="flex h-full w-full flex-1 flex-col">
  <div class="mx-2 flex items-stretch">
    <div
      class="available-action mx-8"
      [routerLink]="['./monitoring-system-report']"
      routerLinkActive
      #rlaMonitoringSystemReport="routerLinkActive"
      [ngClass]="rlaMonitoringSystemReport.isActive ? 'action-active' : 'action-non-active'"
    >
      <!-- prettier-ignore -->
      <rtu-structure-button></rtu-structure-button>

      <div class="my-auto min-w-24 text-center text-xs">
        {{ 'i18n.ft.components-of-a-monitoring-system' | translate }}
      </div>
    </div>

    <div
      class="available-action mr-8"
      [routerLink]="['./optical-events-report']"
      routerLinkActive
      #rlaOpticalEventsReport="routerLinkActive"
      [ngClass]="rlaOpticalEventsReport.isActive ? 'action-active' : 'action-non-active'"
    >
      <!-- prettier-ignore -->
      <rtu-fix-button></rtu-fix-button>

      <div class="my-auto text-center text-xs">
        {{ 'i18n.ft.optical-events-report' | translate }}
      </div>
    </div>

    <div
      class="available-action"
      [routerLink]="['./user-actions-report']"
      routerLinkActive
      #rlaUserActionsReport="routerLinkActive"
      [ngClass]="rlaUserActionsReport.isActive ? 'action-active' : 'action-non-active'"
    >
      <!-- prettier-ignore -->
      <rtu-logging-button></rtu-logging-button>

      <div class="my-auto text-center text-xs">
        {{ 'i18n.ft.operations-log' | translate }}
      </div>
    </div>
  </div>

  <div class="flex-1 overflow-y-auto">
    <router-outlet></router-outlet>
  </div>
</div>
