.grid-container {
  display: grid;

  grid-template-columns:
    minmax(min-content, auto) /* Левая колонка */
    minmax(0, 1fr); /* Правая колонка */

  grid-template-areas:
    'titleLabel titleValue'
    'coordinatesLabel coordinatesValue'
    'commentLabel commentValue';
}
