<div class="text-left">
  <td class="w-0" *ngIf="!isExpanded">
    <div class="flex items-center">
      <rtu-expand-branch class="ml-2 h-6 w-6" (click)="flipExpanded()"></rtu-expand-branch>
    </div>
  </td>
  <td class="w-0" *ngIf="isExpanded">
    <div class="flex items-center">
      <rtu-collapse-branch class="ml-2 h-6 w-6" (click)="flipExpanded()"></rtu-collapse-branch>
    </div>
  </td>

  <td class="w-0">
    <div class="flex items-center">
      <rtu-square-pictogram
        class="ml-1 h-4 w-4 text-blue-500"
        [fillColor]="'currentColor'"
      ></rtu-square-pictogram>
    </div>
  </td>
  <td class="w-0">
    <div class="flex items-center">
      <rtu-square-pictogram
        class="ml-1 h-4 w-4 text-gray-500"
        [fillColor]="'currentColor'"
      ></rtu-square-pictogram>
    </div>
  </td>
  <td class="w-0">
    <div class="flex items-center">
      <rtu-square-pictogram
        class="ml-1 h-4 w-4 text-red-500"
        [fillColor]="'currentColor'"
      ></rtu-square-pictogram>
    </div>
  </td>
  <td class="w-0">
    <div class="flex items-center">
      <rtu-square-pictogram class="ml-1 h-4 w-4" [fillColor]="'none'"></rtu-square-pictogram>
    </div>
  </td>

  <td class="w-0 min-w-36 whitespace-nowrap px-3 py-2 text-left">{{ rtu.title }}</td>
  <td></td>

  <tr *ngIf="isExpanded" class="rounded-sm border-t-4">
    <table>
      <tbody class="text-center">
        <ng-container *ngFor="let child of children; let i = index">
          <tr
            [ngClass]="{
            'bg-rtu-second-bg dark:bg-rtu-dark-second-bg': i % 2 === 0,
            'border-t-rtu-second-bg dark:border-t-rtu-dark-second-bg': i % 2 !== 0,
            'border-t-rtu-primary-bg dark:border-t-rtu-dark-primary-bg': i % 2 === 0,
     
          }"
          >
            <ng-container *ngIf="child.type === 'bop'">
              <rtu-one-bop [bop]="child.payload"></rtu-one-bop>
            </ng-container>
            <ng-container *ngIf="child.type === 'attached-trace'">
              <rtu-attached-trace [trace]="child.payload"></rtu-attached-trace>
            </ng-container>
            <ng-container *ngIf="child.type === 'free-port'">
              <rtu-free-port [port]="child.port"></rtu-free-port>
            </ng-container>
            <ng-container *ngIf="child.type === 'detached-trace'">
              <rtu-detached-trace [trace]="child.payload"></rtu-detached-trace>
            </ng-container>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </tr>
</div>
