<!-- rtu line itself -->
<div
  class="flex items-center text-left"
  [ngClass]="{
  'bg-rtu-second-bg dark:bg-rtu-dark-second-bg': i % 2 === 0,
}"
>
  <div *ngIf="rtu.ownPortCount === 0">
    <div class="ml-8"></div>
  </div>
  <div *ngIf="rtu.ownPortCount !== 0" class="mt-1">
    <rtu-expand-branch
      *ngIf="!isExpanded"
      class="ml-2 h-6 w-6"
      (click)="flipExpanded()"
    ></rtu-expand-branch>
    <rtu-collapse-branch
      *ngIf="isExpanded"
      class="ml-2 h-6 w-6"
      (click)="flipExpanded()"
    ></rtu-collapse-branch>
  </div>

  <rtu-monitoring-mode-pictogram [mode]="rtu.monitoringMode"></rtu-monitoring-mode-pictogram>
  <rtu-rtu-part-state-pictogram [state]="bopState"></rtu-rtu-part-state-pictogram>
  <rtu-rtu-part-state-pictogram [state]="rtu.mainChannelState"></rtu-rtu-part-state-pictogram>
  <rtu-rtu-part-state-pictogram [state]="rtu.reserveChannelState"></rtu-rtu-part-state-pictogram>

  <div class="w-0 min-w-36 whitespace-nowrap px-3 py-1 text-left">
    <rtu-one-rtu-menu [rtu]="rtu" [children]="children"></rtu-one-rtu-menu>
  </div>
  <div></div>
</div>

<!-- children -->
<ng-container *ngIf="isExpanded" class="rounded-sm">
  <div class="ml-32 border-t-4 border-t-rtu-primary-bg dark:border-t-rtu-dark-primary-bg">
    <ng-container *ngFor="let child of children; let ic = index">
      <ng-container *ngIf="child.type === 'bop'">
        <rtu-one-bop
          [bop]="child.payload"
          [children]="collectionOfChildren[ic]"
          [isRtuAvailableNow]="rtu.isRtuAvailable"
          [rtuMonitoringMode]="rtu.monitoringMode"
          [i]="ic"
        ></rtu-one-bop>
      </ng-container>
      <ng-container *ngIf="child.type === 'attached-trace'">
        <rtu-attached-trace
          [trace]="child.payload"
          [rtuMonitoringMode]="rtu.monitoringMode"
          [isRtuAvailableNow]="rtu.isRtuAvailable"
          [i]="ic"
        ></rtu-attached-trace>
      </ng-container>
      <ng-container *ngIf="child.type === 'free-port'">
        <rtu-free-port
          [portOfOtau]="child.payload"
          [isRtuAvailableNow]="rtu.isRtuAvailable"
          [i]="ic"
        ></rtu-free-port>
      </ng-container>
      <ng-container *ngIf="child.type === 'detached-trace'">
        <rtu-detached-trace [trace]="child.payload" [i]="ic"></rtu-detached-trace>
      </ng-container>
    </ng-container>
  </div>
</ng-container>
