<div class="modal-backdrop">
  <div
    cdkDrag
    (cdkDragMoved)="dragWatcher.onDragMoved($event)"
    (cdkDragStarted)="dragWatcher.onDragStarted($event)"
    class="draggable-window"
  >
    <!-- draggable header -->
    <div cdkDragHandle class="flex items-center justify-between py-2">
      <div class="ml-2 text-left">
        {{ 'i18n.ft.assign-base-refs' | translate }}
      </div>
      <rtu-close-button class="mr-1 h-6 w-6" (click)="close()" />
    </div>
    <!-- content -->
    <rtu-trace-assign-base
      *ngIf="traceInfoData$ | async as traceInfoData"
      [data]="traceInfoData"
      (closeEvent)="onCloseEvent()"
    ></rtu-trace-assign-base>
  </div>
</div>
