<rtu-on-demand-status
  class="fixed right-4 top-28 z-10 bg-rtu-primary-bg dark:bg-rtu-dark-primary-bg"
></rtu-on-demand-status>

<div class="flex h-full w-full flex-1 flex-col">
  <div class="flex justify-between">
    <rtu-on-demand-available-actions
      #actionsCtrl
      [fullScreen]="fullScreen"
      (fullScreenChange)="onFullScreenChanged($event)"
    >
    </rtu-on-demand-available-actions>
  </div>

  <div class="m-2 flex flex-wrap gap-2" *ngIf="!fullScreen">
    <div class="grouped-border">
      <div class="label-color mb-2">{{ 'i18n.on-demand.on-demand-settings' | translate }}</div>
      <rtu-on-demand-test-settings></rtu-on-demand-test-settings>
    </div>
    <div
      class="grouped-border"
      *ngIf="supportedMeasurementParameters$ | async as supportedMeasurementParameters"
    >
      <div class="label-color mb-2">{{ 'i18n.measurement.measurement-settings' | translate }}</div>
      <rtu-measurement-settings></rtu-measurement-settings>
    </div>
  </div>

  <ng-container *ngIf="onDemandProgress$ | async as onDemandProgress">
    <div
      style="min-height: 50%"
      class="h-full w-full flex-1 pl-3 pt-3"
      [ngClass]="{ 'pr-3': onDemandProgress.status === 'running' }"
    >
      <ng-container *ngIf="lastProgressSorTrace$ | async as lastProgressSorTrace">
        <rtu-sor-viewer-realtime-provider
          *ngIf="lastProgressSorTrace"
          [sor]="lastProgressSorTrace"
        ></rtu-sor-viewer-realtime-provider>
      </ng-container>

      <ng-container *ngIf="completedSorTraceAndLinkmap$ | async as completedSorTraceAndLinkmap">
        <rtu-sor-area-provider
          *ngIf="!actionsCtrl.linkMapMode"
          [sors]="[completedSorTraceAndLinkmap.sor!]"
        ></rtu-sor-area-provider>

        <rtu-link-map-area-provider
          *ngIf="actionsCtrl.linkMapMode"
          [vscout]="completedSorTraceAndLinkmap.lmap!"
        ></rtu-link-map-area-provider>
      </ng-container>
    </div>
  </ng-container>
</div>
