<rtu-single-error-popup
  [errorMessageId$]="errorMessageId$"
  [resetErrorAction]="usersActions.resetError()"
></rtu-single-error-popup>
<rtu-loading-centered-big-spinner *ngIf="loading$ | async"></rtu-loading-centered-big-spinner>

<div class="flex flex-col" *ngIf="loaded$ | async">
  <p class="m-2">{{ 'i18n.ft.user-accounts' | translate }}</p>
  <div class="m-2 flex grow flex-wrap content-start gap-2">
    <ng-container *ngFor="let user of users$ | async">
      <div class="grouped-border min-h-32 min-w-96">
        <div class="relative">
          <rtu-user-card [user]="user"></rtu-user-card>

          <rtu-pencil-button
            class="absolute right-1 top-2 h-3 w-3"
            (click)="onUserCardClick(user)"
          />
        </div>
      </div>
    </ng-container>
    <rtu-user-plus
      *ngIf="hasEditUsersPermission$ | async"
      class="cursor-pointer"
      (click)="onUserPlusClick()"
    ></rtu-user-plus>
  </div>
</div>
