<div class="m-1">
  <div class="my-1">HandleAlarm permission is required</div>

  <div class="flex gap-2">
    <button class="button-ok" (click)="sayHello()">Say Hello</button>
    <button class="button-ok" (click)="streamHello()">Stream Hello</button>
  </div>

  <div *ngIf="message$ | async as message">Response: {{ message }}</div>
  <div style="color: red" *ngIf="error$ | async as error">Error: {{ error }}</div>
  <div *ngIf="loading$ | async">Loading..</div>

  <div *ngIf="(greeter$ | async)?.message as message">Response: {{ message }}</div>
  <div style="color: red" *ngIf="(greeter$ | async)?.error as error">Error: {{ error }}</div>
  <div *ngIf="(greeter$ | async)?.loading">Loading..</div>
</div>
