<ng-content></ng-content>
<div class="flex justify-between">
  <div class="flex items-center gap-2">
    <span *ngIf="!otau.Offline" class="text-green-400">Online</span>
    <span *ngIf="otau.Offline" class="text-red-400">Offline</span>
    <label class="toggle">
      <input type="checkbox" (change)="toggleOffline()" [checked]="!otau.Offline" />
      <div class="slider"></div>
    </label>
  </div>
  <div class="flex items-center">
    <div>Port Count</div>
    <rtu-select
      class="ml-2 w-16"
      [disabled]="!otau.Offline"
      [cols]="3"
      [items]="[1, 2, 4, 8, 16, 32, 64, 128, 256]"
      [selectedItem]="otau.PortCount"
      (selectedItemChange)="onPortCountChange($event)"
    >
      <ng-template rtuSelectLabel let-selectedItem>
        <div>{{ selectedItem }}</div>
      </ng-template>
      <ng-template rtuSelectItem let-item>
        <div class="flex w-full justify-center">{{ item }}</div>
      </ng-template>
    </rtu-select>
  </div>
</div>

<div class="mt-5 flex justify-start">
  <div class="flex items-center gap-2">
    <span class="text-sm text-gray-400">Support blink</span>
    <label class="toggle">
      <input type="checkbox" (change)="toggleSupportBlink()" [checked]="otau.SupportBlink" />
      <div class="slider"></div>
    </label>
  </div>
</div>
<div>
  <div class="mt-1 text-sm text-gray-400">
    <div (click)="onExceptionExpandedChange()" class="cursor-pointer">
      Exceptions
      <ng-container *ngIf="getSetExceptionsCount() as setExceptionsCount">
        <span class="text-red-400">({{ setExceptionsCount }} of 6 set)</span>
      </ng-container>
    </div>
  </div>
  <div class="grid grid-cols-[auto_auto_auto_auto_auto] gap-1 text-sm" *ngIf="exceptionExpanded">
    <div>Discover</div>
    <label class="toggle flex justify-end">
      <input type="checkbox" (change)="toggleDiscover()" [checked]="otau.Exceptions.Discover" />
      <div class="slider"></div>
    </label>
    <div class="w-12"></div>
    <div>Ping</div>
    <label class="toggle flex justify-end">
      <input type="checkbox" (change)="togglePing()" [checked]="otau.Exceptions.Ping" />
      <div class="slider"></div>
    </label>
    <div>Connect</div>
    <label class="toggle flex justify-end">
      <input type="checkbox" (change)="toggleConnect()" [checked]="otau.Exceptions.Connect" />
      <div class="slider"></div>
    </label>
    <div class="w-12"></div>
    <div>Disconnect</div>
    <label class="toggle flex justify-end">
      <input type="checkbox" (change)="toggleDisconnect()" [checked]="otau.Exceptions.Disconnect" />
      <div class="slider"></div>
    </label>
    <div>SetPort</div>
    <label class="toggle flex justify-end">
      <input type="checkbox" (change)="toggleSetPort()" [checked]="otau.Exceptions.SetPort" />
      <div class="slider"></div>
    </label>
    <div class="w-12"></div>
    <div>Blink</div>
    <label class="toggle flex justify-end">
      <input type="checkbox" (change)="toggleBlink()" [checked]="otau.Exceptions.Blink" />
      <div class="slider"></div>
    </label>
    <div>UnknownModel</div>
    <label class="toggle flex justify-end">
      <input
        type="checkbox"
        (change)="toggleUnknowModel()"
        [checked]="otau.Exceptions.UnknownOsmModel"
      />
      <div class="slider"></div>
    </label>
  </div>
</div>
