<!-- информация о трассе -->
<div class="grouped-border flex-1">
  <div class="grid-container ml-1 gap-y-1 text-sm">
    <label style="grid-area: traceTitleLabel" class="my-auto mr-2">{{
      'i18n.ft.trace' | translate
    }}</label>
    <div style="grid-area: traceTitleValue" class="mb-1">{{ traceTitle }}</div>

    <label style="grid-area: portLabel" class="my-auto mr-2">{{
      'i18n.ft.port' | translate
    }}</label>
    <div style="grid-area: portValue" class="mb-1">{{ port }}</div>

    <label style="grid-area: rtuLabel" class="my-auto mr-2">{{ 'RTU' }}</label>
    <div style="grid-area: rtuValue" class="mb-1">{{ rtuTitle }}</div>
  </div>
</div>
<!-- состояние -->
<div class="grouped-border mt-1 flex-1">
  <div class="inline whitespace-nowrap text-sm">
    <span class="ml-1">{{ 'i18n.ft.state-at' | translate }}</span>
    <span class="ml-1">{{ _opticalEvent.measuredAt | rtuDateTime : 'short' : 'date' }}</span>
    <span class="ml-1">
      {{ _opticalEvent.measuredAt | rtuDateTime : 'medium' : 'time' }}
    </span>
    <span class="ml-1">(ID {{ _opticalEvent.eventId }})</span>
  </div>
  <div
    [rtuColorizeBgByTraceState]="{
      traceState: _opticalEvent.traceState,
      baseRefType: _opticalEvent.baseRefType
    }"
    class="mt-1 py-0.5 text-center"
  >
    {{ _opticalEvent.traceState | traceStatePipe : _opticalEvent.baseRefType | translate }}
  </div>
</div>
<!-- неисправности -->
<ng-container *ngIf="accidents.length > 0">
  <div class="grouped-border mt-1 w-120">
    {{ 'i18n.ft.accident-count' | translate }}
    <span class="ml-2"> {{ accidents.length }}</span>
    <ng-container *ngFor="let accident of accidents; let i = index">
      <div class="ml-1 mt-2">
        <div class="mb-1 text-sm font-semibold">
          {{ accident.numberOfAccident }}.
          {{ accident.accidentSeriousness | fiberStatePipe | translate }}
          <span *ngIf="accident.accidentTypeLetter !== ' '"
            >({{ accident.accidentTypeLetter }})
          </span>
          {{ accident.accidentTypeWords | translate }}
        </div>
        <div class="flex w-full justify-between text-xs">
          <div>
            {{ accident.topLeft
            }}<span *ngIf="accident.accidentPlace === accidentPlace.InNode">{{
              'i18n.ft.km' | translate
            }}</span>
          </div>
          <div>
            {{ accident.topCenter
            }}<span *ngIf="accident.accidentPlace === accidentPlace.BetweenNodes">{{
              'i18n.ft.km' | translate
            }}</span>
          </div>
          <div>{{ accident.topRight }}</div>
        </div>

        <rtu-accident-scheme [scheme]="accident.scheme"></rtu-accident-scheme>

        <div class="flex w-full justify-between text-xs">
          <div>{{ accident.bottom0 }}</div>
          <div>
            {{ accident.bottom1 }}
            <span *ngIf="accident.bottom1">{{ 'i18n.ft.km' | translate }}</span>
          </div>
          <div *ngIf="accident.position">{{ accident.position | geoCoordinates }}</div>
          <div>
            {{ accident.bottom3
            }}<span *ngIf="accident.bottom3">{{ 'i18n.ft.km' | translate }}</span>
          </div>
          <div>{{ accident.bottom4 }}</div>
        </div>
      </div>
      <div *ngIf="i !== accidents.length - 1" class="mt-3 border-t border-gray-500"></div>
    </ng-container>
  </div>
</ng-container>
