<div>
  <div class="flex items-center">
    {{ 'i18n.common.port' | translate }}
    <rtu-otau-port-path-title
      *ngIf="
        getOtauPortPathByMonitoringPortId(data.MonitoringPortId) as otauPortPath;
        else noOtauPortPath
      "
      class="ml-1"
      [otauPortPath]="otauPortPath"
    ></rtu-otau-port-path-title>
    <ng-template #noOtauPortPath>
      <span class="text-data-highlight ml-1 lowercase">
        -{{ 'i18n.common.deleted' | translate }}-
      </span>
    </ng-template>
    <rtu-schedule-mode-line
      class="ml-4"
      [mode]="data.Mode"
      [interval]="interval"
      [slotsString]="slotsString"
    ></rtu-schedule-mode-line>
  </div>
</div>
