<div class="grid grid-cols-[auto_minmax(10rem,_1fr)] gap-y-1 text-sm">
  <label class="m-2 my-auto" [rtuContextTooltip]="'TestPortHelpComponent'">
    {{ 'i18n.common.test-port' | translate }}
  </label>

  <rtu-select
    [items]="allOnlinePorts$ | async"
    [selectedItem]="otauPortPath$ | async"
    (selectedItemChange)="setTestPort($event)"
  >
    <ng-template rtuSelectLabel let-selectedItem>
      <div class="pl-1">
        <rtu-otau-port-path-title [otauPortPath]="selectedItem" />
      </div>
    </ng-template>
    <ng-template rtuSelectItem let-item>
      <rtu-otau-port-path-title [otauPortPath]="item" />
    </ng-template>
  </rtu-select>

  <!-- <label class="m-2 my-auto">
    {{ 'i18n.on-demand-test-settings.network-type' | translate }}
  </label>

  <rtu-select
    [items]="settingsService.networkTypes"
    [selectedItem]="settingsService.selectedNetworkType"
    (selectedItemChange)="settingsService.setNetworkType($event)"
  >
    <ng-template rtuSelectLabel let-selectedItem>
      <div class="pl-1">{{ selectedItem.nameId | translate }}</div>
    </ng-template>
    <ng-template rtuSelectItem let-item>
      {{ item.nameId | translate }}
    </ng-template>
  </rtu-select> -->

  <!-- <label
    *ngIf="false"
    class="m-2 my-auto"
    [rtuContextTooltip]="{
      header: 'i18n.on-demand-test-settings.front-panel-check',
      message: 'i18n.tooltip.front-panel-check'
    }"
  >
    {{ 'i18n.on-demand-test-settings.front-panel-check' | translate }}
  </label>

  <label *ngIf="false" class="toggle my-2 flex justify-start">
    <input
      #frontPanelCheckRef
      type="checkbox"
      [checked]="settingsService.frontPanelCheck"
      (change)="settingsService.setFrontPanelCheck(frontPanelCheckRef.checked)"
    />
    <div class="slider"></div>
  </label>
</div> -->

  <ng-template #tooltip>
    <span class="inline-block h-1 w-1 rounded-full bg-blue-400 align-top"></span>
  </ng-template>
</div>
