<div class="flex w-full">
  <div class="w-96 overflow-y-auto text-sm text-gray-700 dark:text-zinc-300">
    <ng-container *ngIf="rtus$ | async as rtuArray">
      <ng-container *ngFor="let rtu of rtuArray; let i = index">
        <rtu-one-rtu class="text-xs" [rtuId]="rtu.rtuId" [i]="i"></rtu-one-rtu>
      </ng-container>
    </ng-container>
    <div class="h-5"></div>
  </div>
  <!-- когда-нибудь сделать слайдер cursor-col-resize -->
  <div class="h-full w-1"></div>
  <div class="ml-0 flex flex-1">
    <rtu-gis />
  </div>
</div>
<rtu-loading-centered-big-spinner
  *ngIf="(inProgress$ | async) === true"
></rtu-loading-centered-big-spinner>
<rtu-loading-centered-big-spinner
  *ngIf="(loading$ | async) === true"
></rtu-loading-centered-big-spinner>
