<rtu-single-error-popup [errorMessageId$]="errorMessageId$"></rtu-single-error-popup>
<rtu-loading-centered-big-spinner *ngIf="loading$ | async"></rtu-loading-centered-big-spinner>

<div class="flex h-full w-full flex-col" *ngIf="onDemand !== null && onDemandTrace !== null">
  <div class="mx-2 flex justify-between">
    <div class="flex">
      <div class="mr-2 self-center">
        {{ 'i18n.common.available-actions' | translate }}
      </div>
      <div *ngIf="false" class="available-action action-non-active">
        <!-- prettier-ignore -->
        <svg class="h-8 w-8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve">
              <path fill="currentColor" d="M26.672,2l8.828,8.829V37c0,0.551-0.449,1-1,1h-29c-0.552,0-1-0.449-1-1V3c0-0.551,0.448-1,1-1H26.672
                      M27.5,0h-22c-1.656,0-3,1.343-3,3v34c0,1.658,1.344,3,3,3h29c1.656,0,3-1.342,3-3V10L27.5,0L27.5,0z"/>
              <path fill="currentColor" d="M35.5,10h-7c-0.551,0-1-0.448-1-1V2h-2v7c0,1.657,1.342,3,3,3h7V10z"/>
              <rect x="12" y="20.5" fill="currentColor" width="16" height="3"/>
              <rect x="18.5" y="14" fill="currentColor" width="3" height="16"/>
            </svg>

        <div class="my-auto text-center text-xs">
          {{ 'i18n.on-demand.create-report' | translate }}
        </div>
      </div>
      <div *ngIf="false" class="available-action action-non-active">
        <!-- prettier-ignore -->
        <svg class="h-8 w-8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve">
              <path fill="currentColor" d="M29.25,26.4c0.783,0,0.984-0.348,0.449-0.771l-8.727-6.909c-0.535-0.426-1.411-0.426-1.946,0l-8.728,6.909
                    C9.765,26.052,9.966,26.4,10.75,26.4H14v8h12v-8H29.25z"/>
              <path fill="currentColor" d="M34.717,18.15c-0.881-3.309-3.775-5.743-7.217-5.743c-0.131,0-0.258,0.015-0.387,0.021
                    C25.256,8.388,21.313,5.6,16.745,5.6c-6.351,0-11.5,5.393-11.5,12.044c0,0.172,0.006,0.345,0.013,0.516
                    C2.192,19.333,0,22.406,0,26.021c0,4.627,3.58,8.379,8,8.379h3v-2H8c-3.309,0-6-2.861-6-6.379c0-2.676,1.597-5.084,3.972-5.994
                    l1.341-0.513L7.255,18.08c-0.006-0.145-0.011-0.29-0.011-0.436c0-5.538,4.262-10.044,9.5-10.044c3.67,0,6.945,2.17,8.551,5.663
                    l0.568,1.233l1.355-0.071l0.176-0.012c0.035-0.003,0.072-0.007,0.105-0.007c2.443,0,4.617,1.751,5.285,4.258l0.264,0.992
                    l0.959,0.363C36.397,20.923,38,23.335,38,26.021c0,3.518-2.691,6.379-6,6.379h-3v2h3c4.418,0,8-3.752,8-8.379
                    C40,22.396,37.795,19.316,34.717,18.15z"/>
            </svg>
        <div class="my-auto text-center text-xs">
          {{ 'i18n.on-demand.upload-to-fiberizer-cloud' | translate }}
        </div>
      </div>
      <div class="available-action action-non-active" (click)="saveSor()">
        <rtu-save-button class="h-8 w-8" />
        <div class="my-auto text-center text-xs">
          {{ 'i18n.common.save-sor' | translate }}
        </div>
      </div>
    </div>

    <div class="flex">
      <div class="available-action action-non-active" (click)="linkMapMode = !linkMapMode">
        <ng-container *ngIf="!linkMapMode">
          <!-- prettier-ignore -->
          <svg class="h-8 w-8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"   viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve">
              <path fill="currentColor" d="M19,33V7c0-2.757-2.243-5-5-5h-4C7.244,2,5,4.244,5,7v18H3V7c0-3.859,3.14-7,7-7h4c3.86,0,7,3.141,7,7v26
                    c0,2.758,2.242,5,5,5h4c2.756,0,5-2.242,5-5V17h2v16c0,3.859-3.141,7-7,7h-4C22.139,40,19,36.86,19,33z"/>
              <circle fill="currentColor" cx="4" cy="24.854" r="4"/>
              <circle fill="currentColor" cx="36" cy="17.104" r="4"/>
            </svg>

          <div class="my-auto text-center text-xs">
            {{ 'i18n.on-demand.switch-to-link-map' | translate }}
          </div>
        </ng-container>
        <ng-container *ngIf="linkMapMode">
          <!-- prettier-ignore -->
          <svg class="h-8 w-8"  version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve">
              <path fill="currentColor" d="M40,32.292l-5.256-4.645c-0.266-0.232-0.617-0.34-0.969-0.287c-0.35,0.051-0.658,0.254-0.846,0.555
                    l-2.889,4.656L27.84,3.584c-0.045-0.601-0.529-1.075-1.131-1.107c-0.6-0.02-1.133,0.385-1.244,0.978l-3.764,20.103L0,22.432v2.402
                    l22.625,1.174c0.609,0.037,1.133-0.385,1.242-0.977l2.273-12.142l1.785,23.527c0.039,0.518,0.408,0.951,0.912,1.074
                    c0.502,0.123,1.029-0.092,1.305-0.531l4.078-6.572L40,35.495V32.292z"/>
              <g>
                <rect x="4.5" y="6.5" fill="currentColor" width="1" height="7"/>
                <rect x="4.5" y="0" fill="currentColor" width="1" height="3.5"/>
                <rect x="4.5" y="36.5" fill="currentColor" width="1" height="3.5"/>
                <rect x="4.5" y="16.5" fill="currentColor" width="1" height="7"/>
                <rect x="4.5" y="26.5" fill="currentColor" width="1" height="7"/>
              </g>
              <g>
                <rect x="19.5" y="6.5" fill="currentColor" width="1" height="7"/>
                <rect x="19.5" y="0" fill="currentColor" width="1" height="3.5"/>
                <rect x="19.5" y="36.5" fill="currentColor" width="1" height="3.5"/>
                <rect x="19.5" y="16.5" fill="currentColor" width="1" height="7"/>
                <rect x="19.5" y="26.5" fill="currentColor" width="1" height="7"/>
              </g>
              <g>
                <rect x="34.5" y="6.5" fill="currentColor" width="1" height="7"/>
                <rect x="34.5" y="0" fill="currentColor" width="1" height="3.5"/>
                <rect x="34.5" y="36.5" fill="currentColor" width="1" height="3.5"/>
                <rect x="34.5" y="16.5" fill="currentColor" width="1" height="7"/>
                <rect x="34.5" y="26.5" fill="currentColor" width="1" height="7"/>
              </g>
            </svg>

          <div class="my-auto text-center text-xs">
            {{ 'i18n.on-demand.switch-to-otdr' | translate }}
          </div>
        </ng-container>
      </div>
      <div class="available-action action-non-active" (click)="toggleFullScreen()">
        <!-- prettier-ignore -->
        <svg  *ngIf="!fullScreen" class="h-8 w-8"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
        <path d="M10 40 V10 H40 M60 10 H90 V40 M 90 60 V90 H60 M 40 90 H10 V60" stroke="currentColor" fill="none" stroke-width="10" />
      </svg>
        <!-- prettier-ignore -->
        <svg *ngIf="fullScreen"  class="h-8 w-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
        <path d="M10 40 H40 V10 M60 10 V40 H90 M 90 60 H60 V90 M 40 90 V60 H10" stroke="currentColor" fill="none" stroke-width="10" />
       </svg>

        <div class="my-auto text-center text-xs">
          <span *ngIf="!fullScreen">{{ 'i18n.common.expand' | translate }}</span>
          <span *ngIf="fullScreen">{{ 'i18n.common.minimize' | translate }}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="m-3 flex flex-wrap gap-3" *ngIf="!fullScreen">
    <div class="grouped-border flex-1">
      <div class="mb-2">{{ 'i18n.common.info' | translate }}</div>
      <div>
        <div class="grid grid-cols-[auto,minmax(150px,1fr)] gap-x-4 gap-y-1 text-left">
          <span class="text-gray-400 dark:text-zinc-400">{{
            'i18n.on-demand-status.completed-at' | translate
          }}</span>

          <div class="inline">
            <span class="">{{ onDemand.completedAt | rtuDateTime : 'short' : 'date' }}</span>
            <span class="ml-2">
              {{ onDemand.completedAt | rtuDateTime : 'medium' : 'time' }}
            </span>
          </div>
          <span class="text-gray-400 dark:text-zinc-400">{{ 'i18n.common.user' | translate }}</span
          ><span class="">{{ getUserById(onDemand.createdByUserId)?.fullName }} </span>
          <span class="whitespace-nowrap text-gray-400 dark:text-zinc-400"
            >{{ 'i18n.common.test-port' | translate }}
          </span>
          <span class="whitespace-nowrap">
            <div
              *ngIf="getOtauPortPathByMonitoringPortId(onDemand.monitoringPortId) as otauPortPath"
            >
              <rtu-otau-port-path-title [otauPortPath]="otauPortPath"></rtu-otau-port-path-title>
            </div>
          </span>
          <!-- <span class="whitespace-nowrap text-gray-400 dark:text-zinc-400"
            >{{ 'i18n.on-demand-test-settings.network-type' | translate }}
          </span>
          <span class="whitespace-nowrap">{{
            convertUtils.networkTypeToString(onDemand.measurementSettings.networkType) | translate
          }}</span> -->
        </div>
      </div>
    </div>
    <div class="grouped-border flex-1">
      <div class="mb-2">{{ 'i18n.measurement.measurement-settings' | translate }}</div>
      <rtu-on-demand-measurement-settings-info
        [mode]="'full'"
        [measSettings]="onDemand.measurementSettings"
      >
      </rtu-on-demand-measurement-settings-info>
    </div>
  </div>

  <div class="h-full w-full flex-1">
    <rtu-sor-area-provider *ngIf="!linkMapMode" [sors]="[onDemandTrace]"></rtu-sor-area-provider>

    <rtu-link-map-area-provider
      *ngIf="linkMapMode"
      [vscout]="onDemandLinkmap!"
    ></rtu-link-map-area-provider>
  </div>
</div>
