.settings-grid {
  grid-template-columns: auto minmax(0, 1fr);

  grid-template-areas:
    'autModeLabel autoModeValue'
    'laserLabel laserValue'
    'backscatteringCoeffLabel backscatteringCoeffValue'
    'refractiveIndexLabel refractiveIndexValue'
    'distanceRangeLabel distanceRangeValue'
    'fastMeasurementLabel fastMeasurementValue'
    'averagingTimeLabel averagingTimeValue'
    'sampleResolutionLabel sampleResolutionValue'
    'pulseLable pulseValue'
    'dynamic1Label dynamic1Value'
    'dynamic2Label dynamic2Value'
    'eventLossThresholdLabel eventLossThresholdValue'
    'reflectanceThresholdLabel reflectanceThresholdValue'
    'endOfFiberThresholdLabel endOfFiberThresholdValue';
}

.settings-grid-auto {
  grid-template-columns: auto minmax(0, 1fr);

  grid-template-areas:
    'autModeLabel autoModeValue'
    'laserLabel laserValue'
    'backscatteringCoeffLabel backscatteringCoeffValue'
    'refractiveIndexLabel refractiveIndexValue'
    'dynamic1Label dynamic1Value'
    'dynamic2Label dynamic2Value'
    'eventLossThresholdLabel eventLossThresholdValue'
    'reflectanceThresholdLabel reflectanceThresholdValue'
    'endOfFiberThresholdLabel endOfFiberThresholdValue';
}

@media (min-width: 640px) {
  .settings-grid {
    grid-template-columns: minmax(6rem, 1fr) minmax(6rem, 1fr) 2rem minmax(6rem, 1fr) minmax(
        6rem,
        1fr
      );

    grid-template-areas:
      'autModeLabel autoModeValue space fastMeasurementLabel fastMeasurementValue'
      'laserLabel laserValue space averagingTimeLabel averagingTimeValue'
      'backscatteringCoeffLabel backscatteringCoeffValue space sampleResolutionLabel sampleResolutionValue'
      'refractiveIndexLabel refractiveIndexValue space pulseLable pulseValue'
      'distanceRangeLabel distanceRangeValue space eventLossThresholdLabel eventLossThresholdValue'
      'dynamic1Label dynamic1Value space reflectanceThresholdLabel reflectanceThresholdValue'
      'dynamic2Label dynamic2Value space endOfFiberThresholdLabel endOfFiberThresholdValue';
  }

  .settings-grid-auto {
    grid-template-columns: minmax(6rem, 1fr) minmax(6rem, 1fr) 2rem minmax(6rem, 1fr) minmax(
        6rem,
        1fr
      );

    grid-template-areas:
      'autModeLabel autoModeValue space empty1 empty2 '
      'laserLabel laserValue space eventLossThresholdLabel eventLossThresholdValue'
      'backscatteringCoeffLabel backscatteringCoeffValue space reflectanceThresholdLabel reflectanceThresholdValue'
      'refractiveIndexLabel refractiveIndexValue space endOfFiberThresholdLabel endOfFiberThresholdValue'
      'dynamic1Label dynamic1Value space empty3 empty4'
      'dynamic2Label dynamic2Value space empty5 empty6';
  }
}
