<div
  [formGroup]="settingsService.form"
  [ngClass]="settingsService.autoMode ? 'settings-grid-auto' : 'settings-grid'"
  class="grid gap-y-1 text-sm"
>
  <label style="grid-area: autModeLabel" class="m-2 my-auto">
    {{ 'i18n.ft.use-auto-mode' | translate }}
  </label>
  <label style="grid-area: autoModeValue" class="toggle my-2 flex w-max justify-start">
    <input
      #autoModeRef
      type="checkbox"
      [checked]="settingsService.autoMode"
      (change)="settingsService.setAutoMode(autoModeRef.checked)"
    />
    <div class="slider"></div>
  </label>

  <ng-container *ngIf="!settingsService.autoMode">
    <label style="grid-area: fastMeasurementLabel" class="m-2 my-auto">
      {{ 'i18n.ft.fast-measurement' | translate }}
    </label>
    <label style="grid-area: fastMeasurementValue" class="toggle my-2 flex w-max justify-start">
      <input
        #fastMeasurementRef
        type="checkbox"
        [checked]="settingsService.fastMeasurement"
        (change)="settingsService.setFastMeasurement(fastMeasurementRef.checked)"
      />
      <div class="slider"></div>
    </label>
  </ng-container>

  <label style="grid-area: laserLabel" class="m-2 my-auto">
    {{ 'i18n.ft.laser' | translate }}
  </label>
  <rtu-select
    style="grid-area: laserValue"
    [items]="settingsService.lasers"
    [selectedItem]="settingsService.selectedLaser"
    (selectedItemChange)="settingsService.setLaser($event)"
  >
    <ng-template rtuSelectLabel let-selectedItem>
      <rtu-description-label
        [description]="'i18n.on-demand.available-lasers' | translate"
        [label]="selectedItem.name"
      ></rtu-description-label>
    </ng-template>
    <ng-template rtuSelectItem let-item>
      {{ item.name }}
    </ng-template>
  </rtu-select>

  <ng-container *ngIf="!settingsService.autoMode">
    <label style="grid-area: averagingTimeLabel" class="m-2 my-auto">
      {{ 'i18n.ft.averaging-time' | translate }}
    </label>
    <rtu-select
      style="grid-area: averagingTimeValue"
      [items]="settingsService.averagingTimes"
      [selectedItem]="settingsService.selectedAveragingTime"
      (selectedItemChange)="settingsService.setAveragingTime($event)"
    >
      <ng-template rtuSelectLabel let-selectedItem>
        <rtu-description-label
          [description]="'i18n.on-demand.minutes-seconds' | translate"
          [label]="selectedItem"
        ></rtu-description-label>
      </ng-template>
      <ng-template rtuSelectItem let-item>
        {{ item }}
      </ng-template>
    </rtu-select>
  </ng-container>

  <ng-container>
    <label style="grid-area: backscatteringCoeffLabel" class="m-2 my-auto">
      {{ 'i18n.ft.backscattering-coeff-dB' | translate }}
    </label>

    <!-- 
    You may wondering what max-w-[25ch] is for.

    The default input="text" width (is no width is set) is calculated by a browser to correspond to size="20".
    This depends on font family, font size and sometimes font style.

    The thing is: in Firefox, when Poppins font is used the input becomes too big
    (much bigger than size="20", probably this is a bug).

    When input gets bigger the Measurement Settings group can't fit 
    in 15.4 screen size and carried over to the next line.

    To avoid it I restrict input with to 25ch. 
    25ch is handpicked the way input is not too big, but can grow to the size of selects.
  -->

    <div style="grid-area: backscatteringCoeffValue">
      <input
        formControlName="backscatteringCoeff"
        type="text"
        class="input-simple peer w-full max-w-[25ch] text-center"
        [ngClass]="{
          'invalid-border': settingsService.isInvalidAndTouched(
            settingsService.form.controls['backscatteringCoeff']
          )
        }"
      />

      <rtu-validation-error
        class="hidden peer-focus:block"
        [errors]="settingsService.form.controls['backscatteringCoeff'].errors"
      ></rtu-validation-error>
    </div>
  </ng-container>

  <ng-container *ngIf="!settingsService.autoMode">
    <label style="grid-area: sampleResolutionLabel" class="m-2 my-auto">
      {{ 'i18n.ft.sampling-resolution-m' | translate }}
    </label>
    <rtu-select
      style="grid-area: sampleResolutionValue"
      class="my-auto"
      [items]="settingsService.samplingResolutions"
      [selectedItem]="settingsService.selectedSamplingResolution"
      (selectedItemChange)="settingsService.setSamplingResolution($event)"
    >
      <ng-template rtuSelectLabel let-selectedItem>
        <div class="pl-1">{{ selectedItem }}</div>
      </ng-template>
      <ng-template rtuSelectItem let-item>
        {{ item }}
      </ng-template>
    </rtu-select>
  </ng-container>

  <ng-container>
    <label style="grid-area: refractiveIndexLabel" class="m-2 my-auto">
      {{ 'i18n.ft.refractive-index' | translate }}
    </label>

    <div style="grid-area: refractiveIndexValue">
      <input
        formControlName="refractiveIndex"
        type="text"
        class="input-simple peer w-full max-w-[25ch] text-center"
        [ngClass]="{
          'invalid-border': settingsService.isInvalidAndTouched(
            settingsService.form.controls['refractiveIndex']
          )
        }"
      />

      <rtu-validation-error
        class="hidden peer-focus:block"
        [errors]="settingsService.form.controls['refractiveIndex'].errors"
      ></rtu-validation-error>
    </div>
  </ng-container>

  <ng-container *ngIf="!settingsService.autoMode">
    <label style="grid-area: pulseLable" class="m-2 my-auto">
      {{ 'i18n.ft.pulse-width-ns' | translate }}
    </label>

    <rtu-select
      style="grid-area: pulseValue"
      class="my-auto"
      [items]="settingsService.pulses"
      [selectedItem]="settingsService.selectedPulse"
      (selectedItemChange)="settingsService.setPulse($event)"
    >
      <ng-template rtuSelectLabel let-selectedItem>
        <div class="pl-1">{{ selectedItem }}</div>
      </ng-template>
      <ng-template rtuSelectItem let-item>
        {{ item }}
      </ng-template>
    </rtu-select>
  </ng-container>

  <ng-container *ngIf="!settingsService.autoMode">
    <label style="grid-area: distanceRangeLabel" class="m-2 my-auto">
      {{ 'i18n.ft.distance-range-km' | translate }}
    </label>

    <rtu-select
      style="grid-area: distanceRangeValue"
      class="my-auto"
      [items]="settingsService.distanceRanges"
      [selectedItem]="settingsService.selectedDistanceRange"
      (selectedItemChange)="settingsService.setDistanceRange($event)"
    >
      <ng-template rtuSelectLabel let-selectedItem>
        <div class="pl-1">{{ selectedItem?.name }}</div>
      </ng-template>
      <ng-template rtuSelectItem let-item>
        {{ item.name }}
      </ng-template>
    </rtu-select>
  </ng-container>

  <label style="grid-area: eventLossThresholdLabel" class="m-2 my-auto">
    {{ 'i18n.ft.event-loss-threshold-dB' | translate }}
  </label>

  <div style="grid-area: eventLossThresholdValue">
    <input
      formControlName="eventLossThreshold"
      type="text"
      class="input-simple peer w-full max-w-[25ch] text-center"
      [ngClass]="{
        'invalid-border': settingsService.isInvalidAndTouched(
          settingsService.form.controls['eventLossThreshold']
        )
      }"
    />

    <rtu-validation-error
      class="hidden peer-focus:block"
      [errors]="settingsService.form.controls['eventLossThreshold'].errors"
    ></rtu-validation-error>
  </div>

  <label style="grid-area: reflectanceThresholdLabel" class="m-2 my-auto">
    {{ 'i18n.ft.reflectance-threshold-dB' | translate }}
  </label>

  <div style="grid-area: reflectanceThresholdValue" class="flex items-center">
    <input
      formControlName="eventReflectanceThreshold"
      type="text"
      class="input-simple peer w-full max-w-[25ch] text-center"
      [ngClass]="{
        'invalid-border': settingsService.isInvalidAndTouched(
          settingsService.form.controls['eventReflectanceThreshold']
        )
      }"
    />

    <rtu-validation-error
      class="hidden peer-focus:block"
      [errors]="settingsService.form.controls['eventReflectanceThreshold'].errors"
    ></rtu-validation-error>
  </div>

  <label
    style="grid-area: endOfFiberThresholdLabel"
    class="m-2 my-auto"
    [rtuContextTooltip]="'EofThresholdHelpComponent'"
  >
    {{ 'i18n.ft.end-of-fiber-threshold-dB' | translate }}
  </label>

  <div style="grid-area: endOfFiberThresholdValue">
    <input
      formControlName="endOfFiberThreshold"
      type="text"
      class="input-simple peer w-full max-w-[25ch] text-center"
      [ngClass]="{
        'invalid-border': settingsService.isInvalidAndTouched(
          settingsService.form.controls['endOfFiberThreshold']
        )
      }"
    />

    <rtu-validation-error
      class="hidden peer-focus:block"
      [errors]="settingsService.form.controls['endOfFiberThreshold'].errors"
    ></rtu-validation-error>
  </div>

  <ng-container *ngIf="settingsService.showMux">
    <label style="grid-area: dynamic1Label" class="m-2 my-auto">
      {{ 'i18n.ft.number-of-mux' | translate }}
    </label>

    <rtu-select
      style="grid-area: dynamic1Value"
      class="my-auto"
      [items]="settingsService.muxs"
      [selectedItem]="settingsService.selectedMux"
      (selectedItemChange)="settingsService.setMux($event)"
    >
      <ng-template rtuSelectLabel let-selectedItem>
        <div class="pl-1">{{ selectedItem }}</div>
      </ng-template>
      <ng-template rtuSelectItem let-item>
        {{ item }}
      </ng-template>
    </rtu-select>
  </ng-container>

  <ng-container *ngIf="settingsService.showSplitters">
    <label style="grid-area: dynamic1Label" class="m-2 my-auto">
      {{ 'i18n.ft.splitter' | translate }} 1
    </label>

    <rtu-select
      style="grid-area: dynamic1Value"
      class="my-auto"
      [items]="settingsService.splitters"
      [selectedItem]="settingsService.selectedSplitter1"
      (selectedItemChange)="settingsService.setSplitter1($event)"
    >
      <ng-template rtuSelectLabel let-selectedItem>
        <div class="pl-1">{{ settingsService.splitterToString(selectedItem) }}</div>
      </ng-template>
      <ng-template rtuSelectItem let-item>
        {{ settingsService.splitterToString(item) }}
      </ng-template>
    </rtu-select>
  </ng-container>

  <ng-container *ngIf="settingsService.showSplitters">
    <label style="grid-area: dynamic2Label" class="m-2 my-auto">
      {{ 'i18n.ft.splitter' | translate }} 2
    </label>

    <rtu-select
      style="grid-area: dynamic2Value"
      class="my-auto"
      [items]="settingsService.splitters"
      [selectedItem]="settingsService.selectedSplitter2"
      (selectedItemChange)="settingsService.setSplitter2($event)"
    >
      <ng-template rtuSelectLabel let-selectedItem>
        <div class="pl-1">{{ settingsService.splitterToString(selectedItem) }}</div>
      </ng-template>
      <ng-template rtuSelectItem let-item>
        {{ settingsService.splitterToString(item) }}
      </ng-template>
    </rtu-select>
  </ng-container>
</div>

<ng-template #tooltip>
  <span class="inline-block h-1 w-1 rounded-full bg-blue-400 align-top"></span>
</ng-template>
