<rtu-loading-centered-big-spinner *ngIf="spinning$ | async"></rtu-loading-centered-big-spinner>

<div
  cdkDrag
  (cdkDragMoved)="dragWatcher.onDragMoved($event)"
  (cdkDragStarted)="dragWatcher.onDragStarted($event)"
  class="draggable-window"
  (mousedown)="bringToFront()"
  [style.z-index]="zIndex"
>
  <rtu-drag-header [caption]="'i18n.ft.landmarks' | translate" (closeEvent)="close()" />
  <!-- content -->
  <!-- prettier-ignore -->
  <ng-container *ngIf="model$ | async as model" >
    <!-- table -->
    <div class="relative h-[402px] w-[1056px] overflow-y-auto mb-2">
      <table class="monospace table-fixed min-w-full border-separate border-spacing-0 border border-gray-500 ">
        <thead>
          <tr class="bg-rtu-second-bg dark:bg-rtu-dark-second-bg  sticky top-0 z-10">
            <th class="headercell">{{ 'i18n.ft.nn' | translate }}</th>
            <th class="headercell">{{ 'i18n.ft.node' | translate }}</th>
            <th class="headercell">
              <div class="flex flex-col">
                <div>{{ 'i18n.ft.type' | translate }}</div>
                <div class="flex mt-1 items-center">
                  <input type="checkbox" (change)="onEquipmChanged()" />
                  <label class="ml-2 overflow-hidden whitespace-nowrap">{{ 'i18n.ft.equipm' | translate }}</label>
                </div>
              </div>
            </th>
            <th class="headercell">{{ 'i18n.ft.equipment-title' | translate }}</th>
            <th class="headercell">{{ 'i18n.ft.cable-reserve-m' | translate }}</th>
            <th class="headercell">{{ 'i18n.ft.gps-km' | translate }}</th>
            <th class="headercell">{{ 'i18n.ft.gps-section-km' | translate }}</th>
            <th class="headercell">{{ 'i18n.ft.optical-km' | translate }}</th>
            <th class="headercell">{{ 'i18n.ft.optical-section-km' | translate }}</th>
            <th class="headercell">{{ 'i18n.ft.event' | translate }}</th>
            <th class="headercell">{{ 'i18n.ft.coordinates' | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let landmark of model.landmarks"  
            [ngClass]="{ 'bg-blue-100 dark:bg-slate-700': landmark.isSelected }"
            (click)="onLandmarkClick(landmark)" (contextmenu)="openContextMenu($event, landmark)"
            class="cursor-pointer">
            <td class="min-w-8  max-w-8  gridcell">{{ landmark.number }}</td>
            <td class="min-w-32 max-w-32 gridcell">{{ landmark.nodeTitle }}</td>
            <td class="min-w-32 max-w-32 gridcell">{{ landmark.equipmentType | equipmentPipe | translate }}</td>
            <td class="min-w-32 max-w-32 gridcell">{{ landmark.equipmentTitle }}</td>
            <td class="min-w-16 max-w-16 gridcell">{{ landmark.cableReserveString() }}</td>
            <td class="min-w-16 max-w-16 gridcell">{{ landmark.gpsDistance | numberFormat : 3 }}</td>
            <td class="min-w-16 max-w-16 gridcell" [ngClass]="{'bg-gray-200 dark:bg-gray-700' : landmark.isUserInput}">{{ landmark.gpsSection | numberFormat : 3 }}</td>
            <td class="min-w-16 max-w-16 gridcell">{{ landmark.opticalDistance | numberFormat : 3 : false }}</td>
            <td class="min-w-16 max-w-16 gridcell">{{ landmark.opticalSection | numberFormat : 3 : false }}</td>
            <td class="min-w-12 max-w-12 gridcell">{{ landmark.eventNumberString() | translate | lowercase }}</td>
            <td class="min-w-56 max-w-56 gridcell">{{ landmark.gpsCoors | geoCoordinates : false }}</td>
          </tr>
        </tbody>
      </table>
    </div>
   
    <!-- input fields -->
    <ng-container *ngIf="inputModel$ | async as landmark">
      <rtu-landmark-input class="w-full" [landmark]="landmark" (applyLandmark)="updateTable($event)"></rtu-landmark-input>
    </ng-container>

    <!-- buttons -->
    <div class="mb-2 px-1 monospace w-full flex justify-between">
      <button class="button-extra w-56" (click)="cancelAllChanges()">
        {{ 'i18n.ft.cancel-all-changes' | translate }}
      </button>
       <button class="button-extra w-56" (click)="saveChanges()">
        {{ 'i18n.ft.save-changes' | translate }}
      </button>
    </div>

  </ng-container>
</div>

<rtu-one-landmark-menu
  [isOpen]="showContextMenu"
  [position]="menuPosition"
  [menuItems]="contextMenuItems"
  (actionSelected)="handleMenuAction($event)"
></rtu-one-landmark-menu>
