<!-- <div *ngFor="let emulatedOtauId of objectKeys(portChanges)">
  <div *ngFor="let portIndex of objectKeys(portChanges[emulatedOtauId])">
    <div>Emulated Otau ID: {{ emulatedOtauId }}, Port Index: {{ portIndex }}</div>
  </div>
</div> -->

<div class="flex flex-1">
  <table class="min-w-full text-sm">
    <thead class="text-center text-gray-600 dark:text-zinc-400">
      <tr>
        <th class="whitespace-nowrap pb-1 font-thin">{{ 'i18n.common.otau' | translate }}</th>
        <th class="whitespace-nowrap pb-1 font-thin">{{ 'i18n.common.port' | translate }}</th>
        <th class="whitespace-nowrap pb-1 font-thin">5 {{ 'i18n.common.units.km' | translate }}</th>
        <th class="whitespace-nowrap pb-1 font-thin">
          10 {{ 'i18n.common.units.km' | translate }}
        </th>
        <th class="whitespace-nowrap pb-1 font-thin">
          15 {{ 'i18n.common.units.km' | translate }}
        </th>
        <th class="whitespace-nowrap pb-1 font-thin">
          20 {{ 'i18n.common.units.km' | translate }}
        </th>
        <th class="whitespace-nowrap pb-1 font-thin">{{ 'i18n.common.enabled' | translate }}</th>
        <th class="whitespace-nowrap pb-1 pl-3 text-left font-thin"></th>
      </tr>
    </thead>
    <tbody class="text-center text-gray-700 dark:text-zinc-300">
      <ng-container *ngFor="let emulatedOtauId of objectKeys(portChanges)">
        <ng-container *ngFor="let portIndex of objectKeys(portChanges[emulatedOtauId])">
          <tr class="rounded-sm odd:bg-rtu-second-bg dark:odd:bg-rtu-dark-second-bg">
            <td class="w-0 whitespace-nowrap py-2 pl-3 pr-3 text-left uppercase">
              {{ normalizeEnulatedOtauId(emulatedOtauId) }}
            </td>
            <td class="w-0 whitespace-nowrap py-4 pl-3 pr-3">
              <div class="font-bold text-blue-600 dark:text-blue-400">
                {{ portIndex }}
              </div>
            </td>
            <td class="w-0 min-w-36 py-4 pl-3 pr-3">
              <rtu-select
                [cols]="3"
                #select5
                [minimalistic]="true"
                [items]="portChangeTypes"
                [disabled]="isAfterFiberBreak(portChanges[emulatedOtauId][+portIndex], 5000)"
                [selectedItem]="findSelection(portChanges[emulatedOtauId][+portIndex], 5000)"
                (selectedItemChange)="
                  changeChanged(select5, $event, portChanges[emulatedOtauId][+portIndex], 5000)
                "
              >
                <ng-template rtuSelectLabel let-selectedItem>
                  <div class="m-auto">
                    <ng-container
                      *ngTemplateOutlet="portChangeTemplate; context: { $implicit: selectedItem }"
                    ></ng-container>
                  </div>
                </ng-template>
                <ng-template rtuSelectItem let-item>
                  <ng-container
                    *ngTemplateOutlet="portChangeTemplate; context: { $implicit: item }"
                  ></ng-container>
                </ng-template>
              </rtu-select>
            </td>
            <td class="w-0 min-w-36 py-4 pl-3 pr-3">
              <rtu-select
                [cols]="3"
                #select10
                [minimalistic]="true"
                [items]="portChangeTypes"
                [disabled]="isAfterFiberBreak(portChanges[emulatedOtauId][+portIndex], 10000)"
                [selectedItem]="findSelection(portChanges[emulatedOtauId][+portIndex], 10000)"
                (selectedItemChange)="
                  changeChanged(select10, $event, portChanges[emulatedOtauId][+portIndex], 10000)
                "
              >
                <ng-template rtuSelectLabel let-selectedItem>
                  <div class="m-auto">
                    <ng-container
                      *ngTemplateOutlet="portChangeTemplate; context: { $implicit: selectedItem }"
                    ></ng-container>
                  </div>
                </ng-template>
                <ng-template rtuSelectItem let-item>
                  <ng-container
                    *ngTemplateOutlet="portChangeTemplate; context: { $implicit: item }"
                  ></ng-container>
                </ng-template>
              </rtu-select>
            </td>
            <td class="w-0 min-w-36 py-4 pl-3 pr-3">
              <rtu-select
                [cols]="3"
                #select15
                [minimalistic]="true"
                [items]="portChangeTypes"
                [disabled]="isAfterFiberBreak(portChanges[emulatedOtauId][+portIndex], 15000)"
                [selectedItem]="findSelection(portChanges[emulatedOtauId][+portIndex], 15000)"
                (selectedItemChange)="
                  changeChanged(select15, $event, portChanges[emulatedOtauId][+portIndex], 15000)
                "
              >
                <ng-template rtuSelectLabel let-selectedItem>
                  <div class="m-auto">
                    <ng-container
                      *ngTemplateOutlet="portChangeTemplate; context: { $implicit: selectedItem }"
                    ></ng-container>
                  </div>
                </ng-template>
                <ng-template rtuSelectItem let-item>
                  <ng-container
                    *ngTemplateOutlet="portChangeTemplate; context: { $implicit: item }"
                  ></ng-container>
                </ng-template>
              </rtu-select>
            </td>
            <td class="w-0 min-w-36 py-4 pl-3 pr-3">
              <rtu-select
                [cols]="3"
                #select20
                [minimalistic]="true"
                [disabled]="isAfterFiberBreak(portChanges[emulatedOtauId][+portIndex], 20000)"
                [items]="portChangeTypes"
                [selectedItem]="findSelection(portChanges[emulatedOtauId][+portIndex], 20000)"
                (selectedItemChange)="
                  changeChanged(select20, $event, portChanges[emulatedOtauId][+portIndex], 20000)
                "
              >
                <ng-template rtuSelectLabel let-selectedItem>
                  <div class="m-auto">
                    <ng-container
                      *ngTemplateOutlet="portChangeTemplate; context: { $implicit: selectedItem }"
                    ></ng-container>
                  </div>
                </ng-template>
                <ng-template rtuSelectItem let-item>
                  <ng-container
                    *ngTemplateOutlet="portChangeTemplate; context: { $implicit: item }"
                  ></ng-container>
                </ng-template>
              </rtu-select>
            </td>
            <td class="w-0 min-w-36 whitespace-nowrap py-4 pl-3 pr-3">
              <label class="toggle">
                <input
                  type="checkbox"
                  [checked]="portChanges[emulatedOtauId][+portIndex].Enabled"
                  (change)="toggleEnabled(portChanges[emulatedOtauId][+portIndex])"
                />
                <div class="slider"></div>
              </label>
            </td>
            <td class="py-2 pl-3 pr-3 text-left"></td>
          </tr>
        </ng-container>
      </ng-container>
    </tbody>
  </table>
</div>

<ng-template #portChangeTemplate let-item>
  <ng-container *ngIf="emulatorPortChangeTypeToNameLevel(item) as portChange">
    <div class="flex items-start gap-x-1">
      <ng-container *ngIf="portChange.level !== null && !portChange.showLevel; else withoutColor">
        <div [rtuColorizeByAlarmLevel]="portChange.level">{{ portChange.name }}</div>
      </ng-container>
      <ng-template #withoutColor>
        <div>{{ portChange.name }}</div>
      </ng-template>
      <div
        *ngIf="portChange.level !== null && portChange.showLevel"
        [rtuColorizeByAlarmLevel]="portChange.level"
      >
        {{ levels[portChange.level] }}
      </div>
    </div>
  </ng-container>
</ng-template>
