<div class="">
  <div class="grid grid-cols-[auto_auto_1fr] grid-rows-[auto_1fr] gap-x-5 gap-y-2 text-sm">
    <div class="m-auto text-gray-600 dark:text-zinc-400">
      {{ 'i18n.common.last-test' | translate }}
    </div>
    <div class="m-auto text-gray-600 dark:text-zinc-400">
      {{ 'i18n.common.current-test' | translate }}
    </div>
    <div></div>

    <div class="grouped-border items-left flex min-h-[6rem] min-w-[18rem] flex-col">
      <ng-container *ngIf="last$ | async as last; else noLast">
        <div class="mb-2 flex justify-between">
          <div class="flex justify-start gap-x-3">
            <div *ngIf="getOtauPortPathByMonitoringPortId(last.monitoringPortId) as otauPortPath">
              <rtu-otau-port-path-title [otauPortPath]="otauPortPath"></rtu-otau-port-path-title>
            </div>
            <rtu-port-alarm-status
              [monitoringPortId]="last.monitoringPortId"
            ></rtu-port-alarm-status>
          </div>
          <rtu-otdr-task-simple-status
            *ngIf="last.status !== 'completed'"
            [status]="last.status"
          ></rtu-otdr-task-simple-status>
        </div>
        <div class="grid grid-cols-[auto_auto] gap-x-3 gap-y-1">
          <div class="text-gray-600 dark:text-zinc-400">
            {{ 'i18n.common.measurement' | translate }}
          </div>
          <div>{{ convertUtils.taskTypeToString(last.taskType) | translate }}</div>
          <div class="text-gray-600 dark:text-zinc-400">
            {{ 'i18n.common.source' | translate }}
          </div>
          <div>
            <ng-container *ngIf="last.createdByUserId as userId; else itIsMonitoring">
              {{ getUserById(userId)?.fullName }}
            </ng-container>
          </div>
        </div>
      </ng-container>
      <ng-template #noLast>
        <div class="flex flex-1 items-center justify-center">--</div>
      </ng-template>
    </div>
    <div class="grouped-border items-left flex min-h-[6rem] min-w-[18rem] flex-col">
      <ng-container *ngIf="current$ | async as current; else noCurrent">
        <div class="mb-2 flex justify-between">
          <div class="flex gap-x-3">
            <div
              *ngIf="getOtauPortPathByMonitoringPortId(current.monitoringPortId) as otauPortPath"
            >
              <rtu-otau-port-path-title [otauPortPath]="otauPortPath"></rtu-otau-port-path-title>
            </div>
            <rtu-port-alarm-status
              [monitoringPortId]="current.monitoringPortId"
            ></rtu-port-alarm-status>
          </div>

          <div class="text-green-700 dark:text-green-500">
            <span
              class="mr-1 text-xs"
              *ngIf="convertUtils.getStepNameId(current.stepName) as stepNameId"
            >
              {{ stepNameId | translate }}
            </span>
            <span class="inline-block w-[3ch]" *ngIf="current.progress !== 0"
              >{{ current.progress * 100 | number : '1.0-0' }}%</span
            >
          </div>
        </div>
        <div class="grid grid-cols-[auto_auto] gap-x-3 gap-y-1">
          <div class="text-gray-600 dark:text-zinc-400">
            {{ 'i18n.common.measurement' | translate }}
          </div>
          <div>{{ convertUtils.taskTypeToString(current.taskType) | translate }}</div>
          <div class="text-gray-600 dark:text-zinc-400">
            {{ 'i18n.common.source' | translate }}
          </div>
          <div>
            <ng-container *ngIf="current.createdByUserId as userId; else itIsMonitoring">
              {{ getUserById(userId)?.fullName }}
            </ng-container>
          </div>
        </div>
      </ng-container>
      <ng-template #noCurrent>
        <div class="flex flex-1 items-center justify-center">--</div>
      </ng-template>
    </div>
    <div></div>
  </div>
</div>

<ng-template #itIsMonitoring>
  {{ 'i18n.common.test-scheduler' | translate }}
</ng-template>
