<rtu-single-error-popup
  [errorMessageId$]="errorMessageId$"
  [resetErrorAction]="rtuAccidentsActions.resetError()"
></rtu-single-error-popup>
<rtu-loading-centered-big-spinner *ngIf="loading$ | async"></rtu-loading-centered-big-spinner>

<div class="flex h-full w-full flex-col pl-5 pt-5">
  <div class="mb-3 flex justify-between">
    <div class="mx-2 flex items-center">
      <label class="mr-2 text-base">{{ 'i18n.ft.current-accidents' | translate }}</label>
      <label class="toggle">
        <input type="checkbox" [checked]="currentEvents" (change)="onCurrentEventsToggle()" />
        <div class="slider"></div>
      </label>
    </div>
  </div>

  <div class="text-small h-full w-full pr-1" style="overflow-y: scroll">
    <ng-container *ngIf="rtuAccidents$ | async as rtuAccidents">
      <table class="events-table text-center">
        <thead>
          <tr>
            <th class="w-16 font-thin">{{ 'i18n.ft.event-id' | translate }}</th>
            <th class="w-40 font-thin">
              <div class="flex gap-x-2">
                <div>{{ 'i18n.ft.event-registered-at' | translate }}</div>
                <rtu-order-button [orderDescending]="orderDescending" (click)="onOrderChanged()" />
              </div>
            </th>
            <th class="font-thin">{{ 'RTU' }}</th>
            <th class="font-thin">{{ 'i18n.ft.trace' | translate }}</th>
            <th class="w-40 font-thin">{{ 'i18n.ft.state' | translate }}</th>
            <th class="w-96 font-thin">{{ 'i18n.ft.additional-information' | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let rtuAccident of rtuAccidents">
            <td class="text-center">{{ rtuAccident.id }}</td>
            <td class="text-center">{{ rtuAccident.registeredAt | rtuDateTime : 'medium' }}</td>
            <td class="text-center">{{ rtuAccident.rtuTitle }}</td>
            <td class="text-center">{{ rtuAccident.traceTitle }}</td>
            <td class="text-center">
              <div [rtuColorizeBgByIsAvailable]="isGoodAccident(rtuAccident)" class="py-0.5">
                <div>{{ getAccidentState(rtuAccident) }}</div>
              </div>
            </td>
            <td class="text-center">{{ getAccidentInfo(rtuAccident) }}</td>
          </tr>
        </tbody>
      </table>
      <ng-container *ngIf="rtuAccidents.length > 0 && rtuAccidents.length % portionSize === 0">
        <div
          class="my-2 flex cursor-pointer justify-center"
          (click)="loadNextPage(rtuAccidents[rtuAccidents.length - 1])"
        >
          {{ 'i18n.ft.load-more' | translate }}
        </div>
      </ng-container>
    </ng-container>
  </div>
</div>
