<rtu-single-error-popup
  [errorMessageId$]="errorMessageId$"
  [resetErrorAction]="opticalEventsActions.resetError()"
></rtu-single-error-popup>
<rtu-loading-centered-big-spinner *ngIf="loading$ | async"></rtu-loading-centered-big-spinner>

<div class="flex h-full w-full flex-col pl-5 pt-5">
  <div class="mb-3 flex justify-between">
    <div class="mx-2 flex items-center">
      <label class="mr-2 text-base">{{ 'i18n.ft.current-accidents' | translate }}</label>
      <label class="toggle">
        <input type="checkbox" [checked]="currentEvents" (change)="onCurrentEventsToggle()" />
        <div class="slider"></div>
      </label>
    </div>
    <rtu-relative-time-refresh
      class="mr-3 pr-3"
      [loadedTime]="loadedTime$ | async"
      (refresh)="refreshV2()"
    ></rtu-relative-time-refresh>
  </div>

  <div class="text-small h-full w-full pr-1" style="overflow-y: scroll">
    <ng-container *ngIf="opticalEvents$ | async as opticalEvents">
      <table class="events-table text-center">
        <thead>
          <tr>
            <th class="w-16 font-thin">
              {{ 'i18n.ft.event-id' | translate }}
            </th>
            <th class="w-40 font-thin">
              <div class="flex gap-x-2">
                <div>
                  {{ 'i18n.ft.measurement-terminated-at' | translate }}
                </div>
                <rtu-order-button [orderDescending]="orderDescending" (click)="onOrderChanged()" />
              </div>
            </th>
            <th class="w-40 font-thin">
              {{ 'i18n.ft.event-registered-at' | translate }}
            </th>
            <th class="font-thin">{{ 'RTU' }}</th>
            <th class="font-thin">{{ 'i18n.ft.trace' | translate }}</th>
            <th class="w-36 font-thin">
              {{ 'i18n.ft.trace-state' | translate }}
            </th>
            <th class="w-36 font-thin">
              {{ 'i18n.ft.event-status' | translate }}
            </th>
            <th class="w-40 font-thin">
              {{ 'i18n.ft.status-changed-at' | translate }}
            </th>
            <th class="w-40 font-thin">
              {{ 'i18n.ft.status-changed-by' | translate }}
            </th>
            <th class="pr-5"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let opticalEvent of opticalEvents">
            <td class="text-center">{{ opticalEvent.eventId }}</td>
            <td class="text-center">{{ opticalEvent.measuredAt | rtuDateTime : 'medium' }}</td>
            <td class="text-center">{{ opticalEvent.registeredAt | rtuDateTime : 'medium' }}</td>
            <td class="text-center">{{ opticalEvent.rtuTitle }}</td>
            <td class="text-center">{{ opticalEvent.traceTitle }}</td>
            <td class="text-center">
              <div [rtuColorizeBgByOpticalTraceState]="opticalEvent" class="py-0.5">
                {{ opticalEvent | opticalTraceStatePipe | translate }}
              </div>
            </td>
            <td class="text-center">
              <div [rtuColorizeBgByEventStatus]="opticalEvent.eventStatus" class="py-0.5">
                {{ opticalEvent.eventStatus | eventStatusPipe | translate }}
              </div>
            </td>
            <ng-container *ngIf="opticalEvent.statusChangedByUser === 'system'">
              <td></td>
              <td></td>
            </ng-container>
            <ng-container *ngIf="opticalEvent.statusChangedByUser !== 'system'">
              <td class="text-center">
                {{ opticalEvent.statusChangedAt | rtuDateTime : 'medium' }}
              </td>
              <td class="text-center">{{ opticalEvent.statusChangedByUser }}</td>
            </ng-container>
            <td class="pr-3">
              <rtu-navigate-button
                class="ml-2 h-6 w-6 text-blue-500"
                [routerLink]="['./', opticalEvent.eventId]"
              />
            </td>
          </tr>
        </tbody>
      </table>
      <ng-container *ngIf="opticalEvents.length % 150 === 0">
        <div
          class="my-2 flex cursor-pointer justify-center"
          (click)="loadNextPage(opticalEvents[opticalEvents.length - 1])"
        >
          {{ 'i18n.ft.load-more' | translate }}
        </div>
      </ng-container>
    </ng-container>
  </div>
</div>
