<rtu-single-error-popup
  [errorMessageId$]="errorMessageId$"
  [resetErrorAction]="opticalEventsActions.resetError()"
></rtu-single-error-popup>
<rtu-loading-centered-big-spinner *ngIf="loading$ | async"></rtu-loading-centered-big-spinner>

<div class="relative h-full">
  <div class="absolute right-4 top-0">
    <div class="mx-2 flex items-center">
      <label class="mr-2 text-base">{{ 'i18n.ft.current-accidents' | translate }}</label>
      <label class="toggle">
        <input type="checkbox" [checked]="checked" (change)="onToggle()" />
        <div class="slider"></div>
      </label>
    </div>
  </div>

  <div class="flex h-full w-full flex-col py-4 pt-8">
    <div #cdkvirtscroll class="h-full w-full" style="overflow-y: scroll">
      <table class="events-table min-w-full text-sm">
        <thead class="text-center text-gray-600 dark:text-zinc-400">
          <tr class="">
            <th class="w-0"></th>
            <th class="w-16 font-thin">{{ 'i18n.ft.event-id' | translate }}</th>
            <th class="w-40 font-thin">{{ 'i18n.ft.measurement-terminated-at' | translate }}</th>
            <th class="w-40 font-thin">{{ 'i18n.ft.event-registered-at' | translate }}</th>
            <th class="font-thin">{{ 'RTU' }}</th>
            <th class="font-thin">{{ 'i18n.ft.trace' | translate }}</th>
            <th class="w-36 font-thin">{{ 'i18n.ft.trace-state' | translate }}</th>
            <th class="w-36 font-thin">{{ 'i18n.ft.event-status' | translate }}</th>
            <th class="w-40 font-thin">{{ 'i18n.ft.status-changed-at' | translate }}</th>
            <th class="w-40 font-thin">{{ 'i18n.ft.status-changed-by' | translate }}</th>
          </tr>
        </thead>
        <tbody *ngIf="opticalEvents$ | async as opticalEvents">
          <tr
            *ngFor="let opticalEvent of opticalEvents"
            class="odd:bg-rtu-second-bg dark:odd:bg-rtu-dark-second-bg"
          >
            <td class="pr-3">
              <rtu-navigate-button
                class="ml-2 h-6 w-6 text-blue-500"
                [routerLink]="['./', opticalEvent.eventId]"
              />
            </td>
            <td class="text-center">{{ opticalEvent.eventId }}</td>
            <td class="text-center">{{ opticalEvent.measuredAt | rtuDateTime : 'medium' }}</td>
            <td class="text-center">{{ opticalEvent.registeredAt | rtuDateTime : 'medium' }}</td>
            <td class="text-center">{{ opticalEvent.rtuTitle }}</td>
            <td class="text-center">{{ opticalEvent.traceTitle }}</td>
            <td class="text-center">
              <div [rtuColorizeBgByFiberState]="opticalEvent.traceState" class="py-0.5">
                {{ opticalEvent.traceState | fiberStatePipe | translate }}
              </div>
            </td>
            <td class="text-center">
              <div [rtuColorizeBgByEventStatus]="opticalEvent.eventStatus" class="py-0.5">
                {{ opticalEvent.eventStatus | eventStatusPipe | translate }}
              </div>
            </td>
            <td class="text-center">{{ opticalEvent.statusChangedAt | rtuDateTime : 'medium' }}</td>
            <td class="text-center">{{ opticalEvent.statusChangedByUser }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
