<rtu-single-error-popup
  [errorMessageId$]="errorMessageId$"
  [resetErrorAction]="monitoringPortActions.resetError()"
></rtu-single-error-popup>
<rtu-loading-centered-big-spinner *ngIf="loading$ | async"></rtu-loading-centered-big-spinner>

<div class="mx-2 mt-4 text-xs" *ngIf="otau$ | async as otau">
  <div class="flex animate-pulse justify-center text-lg text-red-500" *ngIf="otau.offlineAt">
    <rtu-otau-title [otauId]="otau.id"></rtu-otau-title>
    <div class="ml-2">{{ 'i18n.common.offline' | translate }}</div>
  </div>
  <table class="min-w-full text-sm">
    <thead class="text-center text-gray-600 dark:text-zinc-400">
      <tr>
        <th class="whitespace-nowrap pb-1 font-thin">{{ 'i18n.common.port' | translate }}</th>
        <th class="pb-1 pl-3 text-left font-thin">{{ 'i18n.common.baseline' | translate }}</th>

        <th class="w-72 min-w-72 pb-1 pl-3 text-left font-thin">
          {{ 'i18n.monitoring.monitoring-schedule' | translate }}
        </th>
        <!-- <th class="pb-1 pl-3 text-left font-thin">
          {{ 'i18n.monitoring.port-health' | translate }}
        </th> -->
        <th class="whitespace-nowrap pb-1 pl-3 text-left font-thin">
          {{ 'i18n.monitoring.port-status' | translate }}
        </th>
      </tr>
    </thead>
    <tbody class="text-center text-gray-700 dark:text-zinc-300">
      <ng-container *ngFor="let combinedPort of combinedOtauPorts$ | async">
        <ng-container *ngIf="combinedPort.monitoringPort">
          <!-- <ng-container *ngIf="combinedPort.otauPort.unavailable">
            <tr class="rounded-sm odd:bg-rtu-second-bg dark:odd:bg-rtu-dark-second-bg">
              <td class="w-0 whitespace-nowrap py-4 pl-3 pr-3">
                <rtu-otau-port-index [otauPort]="combinedPort.otauPort"></rtu-otau-port-index>
              </td>
              <td colspan="100" class="w-0 whitespace-nowrap py-4 pl-3 pr-3 text-left">
                <div>
                  {{ 'i18n.monitoring.port-is-unavailable' | translate }}
                </div>
              </td>
            </tr>
          </ng-container> -->

          <!-- Available & Cascading -->
          <ng-container
            *ngIf="!combinedPort.otauPort.unavailable && combinedPort.cascadeOtau !== null"
          >
            <tr class="rounded-sm odd:bg-rtu-second-bg dark:odd:bg-rtu-dark-second-bg">
              <td class="w-0 whitespace-nowrap py-4 pl-3 pr-3">
                <rtu-otau-port-index [otauPort]="combinedPort.otauPort"></rtu-otau-port-index>
              </td>
              <td colspan="100" class="w-0 whitespace-nowrap py-4 pl-3 pr-3 text-left">
                <div class="flex">
                  <span class="text-data-highlight"
                    >{{ 'i18n.otau-management.port-is-connected-to' | translate }}
                  </span>
                  <rtu-otau-title class="ml-1" [otauId]="combinedPort.cascadeOtau.id" />
                  <rtu-navigate-button
                    class="ml-2 h-5 w-5"
                    (click)="navigateToOtau(combinedPort.otauPort.portIndex)"
                  />
                </div>
              </td>
            </tr>
          </ng-container>
          <!-- Available & No cascading & No baseline -->
          <ng-container
            *ngIf="
              !combinedPort.otauPort.unavailable &&
              combinedPort.cascadeOtau === null &&
              combinedPort.monitoringPort.baseline === null
            "
          >
            <tr class="rounded-sm odd:bg-rtu-second-bg dark:odd:bg-rtu-dark-second-bg">
              <td class="w-0 whitespace-nowrap py-4 pl-3 pr-3">
                <rtu-otau-port-index [otauPort]="combinedPort.otauPort"></rtu-otau-port-index>
              </td>
              <td colspan="100" class="py-2 pl-3 pr-3 text-left">
                <div class="flex items-center">
                  <ng-container *ngIf="hasChangeMonitoringPortSettingsPermisson$ | async">
                    <rtu-baseline-manual-setup-icon
                      class="mr-6"
                      [monitoringPort]="combinedPort.monitoringPort"
                    >
                    </rtu-baseline-manual-setup-icon>
                    <!-- <rtu-baseline-auto-setup-button
                      [monitoringPortId]="combinedPort.monitoringPort.id"
                    ></rtu-baseline-auto-setup-button> -->
                  </ng-container>
                  <div class="relative ml-3">
                    <div class="absolute top-1/2 -translate-y-1/2 transform">
                      <rtu-baseline-status
                        class="whitespace-nowrap text-xs"
                        [monitoringPortId]="combinedPort.monitoringPort.id"
                      ></rtu-baseline-status>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </ng-container>
          <!-- Available & No cascading & Baseline -->
          <ng-container
            *ngIf="
              !combinedPort.otauPort.unavailable &&
              combinedPort.cascadeOtau === null &&
              combinedPort.monitoringPort.baseline !== null
            "
          >
            <tr class="rounded-sm odd:bg-rtu-second-bg dark:odd:bg-rtu-dark-second-bg">
              <td class="w-0 whitespace-nowrap py-4 pl-3 pr-3">
                <rtu-otau-port-index [otauPort]="combinedPort.otauPort"></rtu-otau-port-index>
              </td>
              <td class="w-0 min-w-[16rem] py-2 pl-3 pr-3 text-left">
                <div class="flex items-center">
                  <rtu-baseline-manual-setup-icon [monitoringPort]="combinedPort.monitoringPort">
                  </rtu-baseline-manual-setup-icon>

                  <div class="ml-2">
                    <rtu-baseline-status
                      class="whitespace-nowrap text-xs"
                      [monitoringPortId]="combinedPort.monitoringPort.id"
                    ></rtu-baseline-status>
                  </div>
                </div>
              </td>

              <td class="w-0 py-2 pl-3 pr-3 text-left">
                <rtu-schedule-select
                  [minimalistic]="true"
                  #scheduleSelect
                  [port]="combinedPort.monitoringPort"
                  [timeSlots]="expandedTimeSlots$ | async"
                  [hasPermission]="hasChangeMonitoringPortSettingsPermisson$ | async"
                  (scheduleChanged)="onScheduleChanged(combinedPort.monitoringPort.id, $event)"
                ></rtu-schedule-select>
              </td>
              <!-- <td class="py-2 pl-3 pr-3 text-left"></td> -->
              <td class="min-w-36 py-2 pl-3 pr-3">
                <rtu-select
                  *ngIf="hasChangeMonitoringPortSettingsPermisson$ | async"
                  #statusSelect
                  [minimalistic]="true"
                  [items]="statuses"
                  [selectedItem]="combinedPort.monitoringPort.status"
                  (selectedItemChange)="onPortStatus(combinedPort.monitoringPort.id, $event)"
                >
                  <ng-template rtuSelectLabel let-selectedItem>
                    <rtu-monitoring-port-status
                      [status]="selectedItem"
                    ></rtu-monitoring-port-status>
                  </ng-template>
                  <ng-template rtuSelectItem let-item>
                    {{ convertUtils.monitoringPortStatusToString(item) | translate }}
                  </ng-template>
                </rtu-select>

                <rtu-monitoring-port-status
                  *ngIf="(hasChangeMonitoringPortSettingsPermisson$ | async) === false"
                  [status]="combinedPort.monitoringPort.status"
                ></rtu-monitoring-port-status>
              </td>
            </tr>
          </ng-container>
        </ng-container>
      </ng-container>
    </tbody>
  </table>
</div>
