<div [ngClass]="{ 'modal-backdrop': modal }">
  <div
    cdkDrag
    (cdkDragMoved)="dragWatcher.onDragMoved($event)"
    (cdkDragStarted)="dragWatcher.onDragStarted($event)"
    class="draggable-window"
    (mousedown)="bringToFront()"
    [style.z-index]="zIndex"
  >
    <!-- draggable header -->
    <div cdkDragHandle class="w-full py-2">
      <div class="flex items-center justify-between">
        <div class="ml-3">
          {{ caption | translate }}
        </div>
        <rtu-close-button class="mr-2 h-6 w-6" (click)="close()" />
      </div>
    </div>
    <ng-content></ng-content>
  </div>
</div>
