<ng-container *ngIf="getMonitoringPortById(monitoringPortId) as monitoringPort">
  <div *ngIf="monitoringPort.status === monitoringPortStatuses.On">
    <ng-container *ngIf="portActiveAlarms$ | async as portActiveAlarms">
      <ng-container *ngIf="portActiveAlarms.length > 0; else noAlarm">
        <ng-container *ngIf="getMostSevereAlarm(portActiveAlarms) as mostServereAlarm">
          <div [rtuColorizeByAlarmLevel]="mostServereAlarm.level" class="flex items-center gap-x-1">
            <span *ngIf="portActiveAlarms.length > 1">
              <!-- prettier-ignore -->
              <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" viewBox="0 0 20 20">
                <path fill="currentColor" d="M14 2H4l5 8l-5 8h12v-4h-2v2H8.25L12 10L8.25 4H14v2h2V2z"/>
            </svg>
            </span>
            <span>{{ levels[mostServereAlarm.level] }}</span>
            <span class="lowercase">{{ 'i18n.common.alarm' | translate }}</span>
          </div>
        </ng-container>
      </ng-container>
    </ng-container>
    <ng-template #noAlarm>
      <div class="text-left text-sm text-green-600 dark:text-green-500">
        {{ 'i18n.alarms.no-alarm' | translate }}
      </div>
    </ng-template>
  </div>
</ng-container>
