<rtu-loading-centered-big-spinner *ngIf="spinning$ | async"></rtu-loading-centered-big-spinner>

<div
  cdkDrag
  (cdkDragMoved)="dragWatcher.onDragMoved($event)"
  (cdkDragStarted)="dragWatcher.onDragStarted($event)"
  class="draggable-window"
>
  <!-- header -->
  <div cdkDragHandle class="w-full py-2">
    <div class="flex items-center justify-between">
      <div class="ml-3">
        {{ 'i18n.ft.step-by-step-trace-definition' | translate }}
      </div>
      <rtu-close-button class="mr-2 h-6 w-6" (click)="close()" />
    </div>
  </div>

  <!-- step list -->
  <div class="m-1.5 flex flex-col border border-gray-500 px-1" style="height: 530px; width: 360px">
    <div #scrollContainer class="mt-0.5 overflow-y-auto">
      <ng-container *ngIf="stepList$ | async as steps">
        <ng-container *ngFor="let step of steps">
          <div class="truncate">{{ step.title }}</div>
        </ng-container>
      </ng-container>
    </div>
  </div>

  <!-- buttons -->
  <div class="mx-2 flex flex-col items-stretch">
    <button class="button-extra mb-1" (click)="onSemiautomaticMode()">
      {{ 'i18n.ft.go-to-the-fork' | translate }}
    </button>
    <div class="mb-1 grid grid-cols-3">
      <button class="button-extra mr-1" (click)="onStepForward()">
        {{ 'i18n.ft.step-forward' | translate }}
      </button>
      <button class="button-extra mr-0" (click)="onStepBackward()">
        {{ 'i18n.ft.step-backward' | translate }}
      </button>
      <button class="button-extra ml-1" (click)="onCancelStep()">
        {{ 'i18n.ft.cancel-step' | translate }}
      </button>
    </div>
    <div class="mb-1 grid grid-cols-2 justify-items-stretch">
      <button class="button-extra mr-1" (click)="onApply()">
        {{ 'i18n.ft.apply' | translate }}
      </button>
      <button class="button-extra" (click)="onDiscard()">
        {{ 'i18n.ft.discard' | translate }}
      </button>
    </div>
  </div>
</div>
