<rtu-draggable-window
  [caption]="'i18n.ft.bop-attachment' | translate"
  [modal]="true"
  [zIndex]="zIndex"
  (closeEvent)="close()"
>
  <div class="flex flex-col">
    <div class="grouped-border mb-2 flex flex-col">
      <div class="mb-1">{{ 'i18n.ft.attach-to' | translate }} :</div>
      <div class="flex">
        <div class="min-w-16">{{ 'RTU' }}</div>
        <div>{{ rtu.title }}</div>
      </div>
      <div class="flex">
        <div class="min-w-16">{{ 'i18n.ft.port' | translate }}</div>
        <div>{{ portOfOtau.opticalPort }}</div>
      </div>
    </div>
    <div class="grouped-border mb-1 flex min-h-60 min-w-120 flex-col">
      <div [formGroup]="form">
        <div>
          <div class="mb-4 ml-2">{{ 'i18n.ft.enter-optical-switch-address' | translate }}</div>
        </div>

        <fieldset class="ml-2 mt-2 min-h-48 w-72">
          <div class="mb-2 flex items-center">
            <label class="w-20 text-sm">
              {{ 'i18n.ft.ip' | translate }}
            </label>
            <input
              formControlName="ipAddress"
              [ngClass]="{ 'invalid-border': !isBopAddressValid() }"
              type="text"
              class="input-simple w-full"
            />
          </div>

          <div class="flex items-center">
            <label class="w-20 text-sm">{{ 'i18n.ft.port' | translate }}</label>
            <div class="text-sm">11834</div>
          </div>
        </fieldset>
      </div>
    </div>
    <div class="my-2 flex w-full justify-end">
      <button class="button-cancel min-w-36" (click)="onCancelClicked()">
        {{ 'i18n.ft.cancel' | translate }}
      </button>
      <button class="button-ok mx-2 min-w-36" (click)="onAttachClicked()">
        {{ 'i18n.ft.attach' | translate }}
      </button>
    </div>
  </div>
</rtu-draggable-window>
