<rtu-single-error-popup [errorMessageId$]="popupErrorMessageId$"></rtu-single-error-popup>

<div class="flex h-full items-start">
  <rtu-start-page-sidebar></rtu-start-page-sidebar>

  <!-- min-w-0 class is required for truncating the page title inside the header to work correctly -->
  <div class="flex h-full w-full min-w-0 flex-col">
    <rtu-start-page-header #header></rtu-start-page-header>

    <div *ngIf="selectShowSystemNotifications$ | async" class="relative z-20">
      <div
        [style.top.px]="headerHeight"
        class="pointer-events-none fixed bottom-0 right-0 top-0 flex max-w-full pl-10"
      >
        <div class="pointer-events-auto w-screen max-w-4xl">
          <div
            class="flex h-full flex-col overflow-y-auto rounded-sm bg-rtu-second-bg p-3 dark:bg-rtu-dark-second-bg"
          >
            <div class="flex justify-between">
              <div class="select-none text-blue-600 dark:text-blue-500">
                {{ 'i18n.start-page.notifications' | translate }}
              </div>
              <rtu-close-button class="h-6 w-6" (click)="toggleSystemNotification()" />
            </div>
            <rtu-system-notifications class="mt-2"></rtu-system-notifications>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="selectShowAlarmNotifications$ | async" class="relative z-20">
      <div
        [style.top.px]="headerHeight"
        class="pointer-events-none fixed bottom-0 right-0 top-0 flex max-w-full pl-10"
      >
        <div class="pointer-events-auto w-screen max-w-4xl">
          <div
            class="flex h-full flex-col overflow-y-auto rounded-sm bg-rtu-second-bg p-3 dark:bg-rtu-dark-second-bg"
          >
            <div class="flex justify-between">
              <div class="select-none text-red-500 dark:text-red-400">
                {{ 'i18n.start-page.alarms' | translate }}
              </div>
              <rtu-close-button class="h-6 w-6" (click)="toggleAlarmNotification()" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <router-outlet></router-outlet>

    <ng-container *ngFor="let window of windowService.getWindows()">
      <ng-container *ngIf="window.type === 'RtuState'">
        <rtu-rtu-state-window [rtuId]="window.id" [zIndex]="window.zIndex" />
      </ng-container>
      <ng-container *ngIf="window.type === 'TraceAssignBaseRefs'">
        <rtu-trace-assign-base [traceId]="window.id" [zIndex]="window.zIndex" />
      </ng-container>
      <ng-container *ngIf="window.type === 'RftsEvents'">
        <rtu-rfts-events-window
          [windowId]="window.id"
          [rftsEvents]="window.payload"
          [zIndex]="window.zIndex"
        />
      </ng-container>
      <ng-container *ngIf="window.type === 'NetworkSettings'">
        <rtu-rtu-initialization [rtuId]="window.id" [zIndex]="window.zIndex" />
      </ng-container>
      <ng-container *ngIf="window.type === 'Landmarks'">
        <rtu-landmarks [windowId]="window.id" [payload]="window.payload" [zIndex]="window.zIndex" />
      </ng-container>

      <ng-container *ngIf="window.type === 'TraceDefine'">
        <rtu-trace-define [rtuId]="window.id" [zIndex]="window.zIndex" />
      </ng-container>
      <ng-container *ngIf="window.type === 'RtuInfo'">
        <rtu-add-rtu-dialog
          [nodeId]="window.id"
          [zIndex]="window.zIndex"
          [payload]="window.payload"
        />
      </ng-container>
      <ng-container *ngIf="window.type === 'BopInfo'">
        <rtu-bop-info [windowId]="window.id" [zIndex]="window.zIndex" [payload]="window.payload" />
      </ng-container>
      <ng-container *ngIf="window.type === 'TraceAttach'">
        <rtu-trace-attach
          [windowId]="window.id"
          [zIndex]="window.zIndex"
          [payload]="window.payload"
        />
      </ng-container>
      <ng-container *ngIf="window.type === 'BopAttach'">
        <rtu-bop-attach
          [windowId]="window.id"
          [zIndex]="window.zIndex"
          [payload]="window.payload"
        />
      </ng-container>

      <ng-container *ngIf="window.type === 'TraceInfo'">
        <rtu-trace-info-dialog [traceId]="window.id" [zIndex]="window.zIndex" />
      </ng-container>

      <ng-container *ngIf="window.type === 'OutOfTurnMeasurement'">
        <rtu-out-of-turn-measurement
          [traceId]="window.id"
          [zIndex]="window.zIndex"
          [payload]="window.payload"
        />
      </ng-container>
    </ng-container>
  </div>
</div>
