<rtu-single-error-popup
  [errorMessageId$]="errorMessageId$"
  [resetErrorAction]="networkEventsActions.resetError()"
></rtu-single-error-popup>
<rtu-loading-centered-big-spinner *ngIf="loading$ | async"></rtu-loading-centered-big-spinner>

<div class="flex h-full w-full flex-col pl-5 pt-5">
  <div class="mb-3 flex justify-between">
    <div class="mx-2 flex items-center">
      <label class="mr-2 text-base">{{ 'i18n.ft.current-accidents' | translate }}</label>
      <label class="toggle">
        <input type="checkbox" [checked]="currentEvents" (change)="onCurrentEventsToggle()" />
        <div class="slider"></div>
      </label>
    </div>
    <rtu-relative-time-refresh
      class="mr-3 pr-3"
      [loadedTime]="loadedTime$ | async"
      (refresh)="refreshV2()"
    ></rtu-relative-time-refresh>
  </div>

  <div class="text-small h-full w-full pr-1" style="overflow-y: scroll">
    <ng-container *ngIf="networkEvents$ | async as networkEvents">
      <table class="events-table text-center">
        <thead>
          <tr>
            <th class="w-16 font-thin">{{ 'i18n.ft.event-id' | translate }}</th>
            <th class="w-40 font-thin">
              <div class="flex gap-x-2">
                <div>{{ 'i18n.ft.event-registered-at' | translate }}</div>
                <rtu-order-button [orderDescending]="orderDescending" (click)="onOrderChanged()" />
              </div>
            </th>
            <th class="font-thin">{{ 'RTU' }}</th>
            <th class="w-36 font-thin">{{ 'i18n.ft.state' | translate }}</th>
            <th class="w-40 font-thin">{{ 'i18n.ft.main' | translate }}</th>
            <th class="w-40 font-thin">{{ 'i18n.ft.reserve' | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let networkEvent of networkEvents">
            <td class="text-center">{{ networkEvent.eventId }}</td>
            <td class="text-center">{{ networkEvent.registeredAt | rtuDateTime : 'medium' }}</td>
            <td class="text-center">{{ networkEvent.rtuTitle }}</td>
            <td class="text-center">
              <div [rtuColorizeBgByIsAvailable]="networkEvent.isRtuAvailable" class="py-0.5">
                <ng-container *ngIf="networkEvent.isRtuAvailable">
                  <div>{{ 'i18n.ft.available' | translate }}</div>
                </ng-container>
                <ng-container *ngIf="!networkEvent.isRtuAvailable">
                  <div>{{ 'i18n.ft.not-available' | translate }}</div>
                </ng-container>
              </div>
            </td>
            <td class="text-center">
              <div [rtuColorizeBgByChannelEvent]="networkEvent.onMainChannel" class="py-0.5">
                {{ networkEvent.onMainChannel | channelEventPipe | translate }}
              </div>
            </td>
            <td class="text-center">
              <div [rtuColorizeBgByChannelEvent]="networkEvent.onReserveChannel" class="py-0.5">
                {{ networkEvent.onReserveChannel | channelEventPipe | translate }}
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <ng-container *ngIf="networkEvents.length > 0 && networkEvents.length % portionSize === 0">
        <div
          class="my-2 flex cursor-pointer justify-center"
          (click)="loadNextPage(networkEvents[networkEvents.length - 1])"
        >
          {{ 'i18n.ft.load-more' | translate }}
        </div>
      </ng-container>
    </ng-container>
  </div>
</div>
