[Unit]			
Description=Fibertest 3.0 Api			
			
[Service]			
WorkingDirectory=/var/fibertest			
ExecStart=/usr/bin/dotnet /var/fibertest/Fibertest30.Api			
Restart=no			
# Restart service after 10 seconds if the dotnet service crashes:			
RestartSec=10			
KillSignal=SIGINT			
SyslogIdentifier=dotnet-example			
User=root			
Environment=ASPNETCORE_ENVIRONMENT=			
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false			
			
[Install]			
WantedBy=multi-user.target			
