<div class="flex-1">
  <table *ngIf="changes && changes.length > 0; else noAlarms" class="min-w-full text-sm">
    <thead class="text-center text-gray-600 dark:text-zinc-400">
      <tr>
        <th class="pb-1 pl-3 text-left font-thin">{{ 'i18n.common.level' | translate }}</th>
        <th class="pb-1 pl-3 text-left font-thin">{{ 'i18n.common.type' | translate }}</th>
        <th class="pb-1 pl-3 font-thin">
          {{ 'i18n.common.distance' | translate }}
        </th>
        <th class="pb-1 pl-3 text-left font-thin">{{ 'i18n.common.units' | translate }}</th>
        <th class="whitespace-nowrap pb-1 pl-3 text-left font-thin">
          {{ 'i18n.common.threshold' | translate }}
        </th>
        <th class="pb-1 pl-3 text-left font-thin">{{ 'i18n.common.result' | translate }}</th>
        <th class="pb-1 pl-3 text-left font-thin">{{ 'i18n.common.baseline' | translate }}</th>

        <th class="pb-1 pl-2 text-left font-thin"></th>
      </tr>
    </thead>
    <tbody class="text-center text-gray-700 dark:text-zinc-300">
      <tr
        *ngFor="let change of changes; let i = index"
        class="rounded-sm odd:bg-rtu-second-bg dark:odd:bg-rtu-dark-second-bg"
      >
        <td class="w-0 whitespace-nowrap px-3 py-1 text-left">
          <div [rtuColorizeByAlarmLevel]="change.level">
            {{ levels[change.level] }}
          </div>
        </td>
        <td class="w-0 whitespace-nowrap px-3 py-1 text-left">
          {{ converterUtils.monitoringAlarmTypeToString(change.type) | translate }}
        </td>
        <td class="w-0 min-w-[5ch] whitespace-nowrap px-3 py-1">
          {{ converterUtils.toKmOrM(change.distanceMeters) }}
        </td>
        <td class="w-0 px-3 py-1">
          <ng-container
            *ngIf="converterUtils.monitoringAlarmTypeToUnits(change.type) as units; else noValue"
          >
            <span> {{ units | translate }}</span>
          </ng-container>
        </td>
        <td class="w-0 py-1 pl-5 pr-3 text-left">
          <div class="flex items-center gap-x-1">
            <ng-container *ngIf="change.threshold && change.thresholdExcessDelta; else noValue">
              <span>{{ change.threshold }}</span>
              <span>/</span>
              <div [rtuColorizeByAlarmLevel]="change.level">
                <rtu-monitoring-change-value
                  [showSing]="true"
                  [value]="converterUtils.getThresholdExceedValue(change.type, change)"
                ></rtu-monitoring-change-value>
              </div>
            </ng-container>
          </div>
        </td>
        <td class="w-0 px-3 py-1">
          <ng-container
            *ngIf="
              converterUtils.monitoringChangeEventToValue(change.type, change.current) as value;
              else noValue
            "
          >
            <button
              class="min-h-0 p-1"
              [ngClass]="{ 'button-extra': i % 2 === 0, 'button-extra-primary': i % 2 !== 0 }"
              (click)="clickMeasurement(change.current!.keyEventIndex)"
            >
              <rtu-monitoring-change-value [value]="value"></rtu-monitoring-change-value>
            </button>
          </ng-container>
        </td>
        <td class="w-0 px-3 py-1">
          <ng-container
            *ngIf="
              converterUtils.monitoringChangeEventToValue(change.type, change.baseline) as value;
              else noValue
            "
          >
            <button
              class="min-h-0 p-1"
              [ngClass]="{ 'button-extra': i % 2 === 0, 'button-extra-primary': i % 2 !== 0 }"
              (click)="clickBaseline(change.baseline!.keyEventIndex)"
            >
              <rtu-monitoring-change-value [value]="value"></rtu-monitoring-change-value>
            </button>
          </ng-container>
        </td>
        <td class="pr-1" colspan="100">
          <!-- <rtu-monitoring-changes-distances [change]="change"></rtu-monitoring-changes-distances> -->
        </td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #noValue> <div class="py-1">--</div> </ng-template>
<ng-template #noAlarms>
  <div class="pl-2 pt-1 text-green-600 dark:text-green-500">
    {{ 'i18n.alarms.no-alarms' | translate }}
  </div>
</ng-template>
