<rtu-loading-centered-big-spinner *ngIf="spinning$ | async"></rtu-loading-centered-big-spinner>

<div class="modal-backdrop">
  <div cdkDrag class="draggable-window absolute left-[290px] top-[75px] flex flex-col p-2 text-sm">
    <!-- draggable header -->
    <div cdkDragHandle class="my-2 w-full">
      <div class="flex items-center justify-between">
        <div class="ml-3">
          {{ 'i18n.ft.trace-component-selection' | translate }}
        </div>
        <rtu-close-button class="mr-2 h-6 w-6" (click)="close()" />
      </div>
    </div>

    <!-- content -->
    <div class="grouped-border m-1 flex flex-col" [formGroup]="form">
      <div class="mb-4 flex items-center justify-between">
        <label class="w-40">{{ 'i18n.ft.node-title' | translate }}</label>
        <div class="">
          <input type="text" formControlName="title" class="input-simple w-[232px]" />
        </div>
      </div>
      <ng-container *ngIf="buttons.length > 1">
        <div class="flex justify-end">
          <span class="mr-1 w-32">{{ 'i18n.ft.title' | translate }}</span>
          <span class="mr-1 w-12">{{ 'i18n.ft.l-m' | translate }}</span>
          <span class="w-11">{{ 'i18n.ft.r-m' | translate }}</span>
        </div>
      </ng-container>

      <ng-container *ngFor="let button of buttons; let i = index">
        <ng-container *ngIf="i !== buttons.length - 1">
          <div class="mb-1 flex items-center text-sm">
            <rtu-radio-button [button]="button" (click)="onRadioButtonClick(i)" class="mt-1 w-40" />
            <rtu-equipment-edit [form]="childForms[i]" />
          </div>
        </ng-container>
        <ng-container *ngIf="i === buttons.length - 1">
          <div class="mt-4 flex items-center text-sm">
            <rtu-radio-button [button]="button" (click)="onRadioButtonClick(-1)" />
          </div>
        </ng-container>
      </ng-container>

      <div class="mt-4 flex flex-row justify-end">
        <button class="button-cancel mr-2 min-w-36" (click)="onExit()">
          {{ 'i18n.ft.discard' | translate }}
        </button>
        <button class="button-ok mr-0 min-w-36" (click)="onNext()">
          {{ 'i18n.ft.next' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
