<button
  class="cursor-pointer"
  cdkOverlayOrigin
  #selectButton="cdkOverlayOrigin"
  type="button"
  (click)="onBopNameClicked()"
>
  <span class="ml-2">{{ lineContent }}</span>
</button>

<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="selectButton"
  [cdkConnectedOverlayOpen]="open"
>
  <div
    class="min-w-40 rounded-sm border border-gray-300 bg-rtu-second-bg p-2 dark:border-[#575859] dark:bg-rtu-dark-second-bg"
    (click)="onOverlayClick($event)"
  >
    <!-- prettier-ignore -->
    <div class="flex flex-col">
      <button class="context-menu-line" (click)="onRemoveClicked()" [disabled]="!canRemove()">{{ 'i18n.ft.remove' | translate }}</button>
    
    </div>
  </div>
</ng-template>
