<button
  class="flex w-full cursor-pointer justify-start"
  cdkOverlayOrigin
  #selectButton="cdkOverlayOrigin"
  type="button"
  (click)="onBopNameClicked($event)"
  (contextmenu)="onBopNameClicked($event)"
>
  <div class="flex items-center">
    <rtu-rtu-part-state-pictogram [state]="bop.bopState"></rtu-rtu-part-state-pictogram>
    <span class="ml-2">{{ lineContent }}</span>
  </div>
</button>

<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="selectButton"
  [cdkConnectedOverlayOpen]="open"
  [cdkConnectedOverlayOffsetX]="overlayX"
  [cdkConnectedOverlayOffsetY]="overlayY"
>
  <div
    class="min-w-40 rounded-sm border border-gray-300 bg-rtu-second-bg p-2 dark:border-[#575859] dark:bg-rtu-dark-second-bg"
    (click)="onOverlayClick($event)"
  >
    <!-- prettier-ignore -->
    <div class="flex flex-col">
      <button class="context-menu-line" (click)="onInformationClicked()" >{{ 'i18n.ft.information' | translate }}</button>
      <button class="context-menu-line" (click)="onRemoveClicked()" [disabled]="!canRemove()">{{ 'i18n.ft.remove' | translate }}</button>
    
    </div>
  </div>
</ng-template>
