<div class="dialog">
  <div style="min-height: 360px">
    <div class="relative flex justify-center text-base">
      <span class="font-semibold">{{ 'i18n.otau-management.add-otau' | translate }}</span>
      <span class="absolute right-0">
        OCM <span class="ml-1 font-bold text-blue-600 dark:text-blue-400"> {{ ocmPort }}</span>
      </span>
    </div>

    <div class="mt-4 flex h-full w-full flex-1 flex-col">
      <div>{{ 'i18n.otau.choose-otau-type' | translate }}</div>
      <div class="mt-2 flex">
        <button
          class="button-extra mx-4 w-48"
          [ngClass]="{ 'font-bold text-green-500': otauType === 'OSM' }"
          (click)="onOsmClicked()"
        >
          OSM
        </button>
        <button
          class="button-extra mx-4 w-48"
          [ngClass]="{ 'font-bold text-green-500': otauType === 'OXC' }"
          (click)="onOxcClicked()"
        >
          OXC
        </button>
      </div>

      <div class="mt-4 flex w-full flex-col">
        <ng-container *ngIf="otauType !== ''">
          <ng-container *ngIf="otauType === 'OSM'">
            <div class="max-w-sm">
              {{ 'i18n.otau.dip-switch-displayed' | translate }}
            </div>
            <rtu-binary-switch-figure class="mt-2" [port]="ocmPort"></rtu-binary-switch-figure>
          </ng-container>
          <div *ngIf="otauType === 'OXC'">
            <div>
              {{ 'i18n.otau.enter-oxc-switch-address' | translate }}
            </div>
            <rtu-oxc-address-input
              class="ml-4 mt-2"
              #oxcAddressInput
              (changedValueEvent)="onChangedOxcAddress()"
            ></rtu-oxc-address-input>
          </div>

          <div *ngIf="showCheck" class="mt-4 flex flex-col">
            <p class="">3. {{ 'i18n.otau.check-connection' | translate }}</p>
            <div class="ml-4 mt-2 flex items-center">
              <button
                class="button-extra w-48 self-start"
                [disabled]="discovering"
                (click)="onCheckConnectionClicked()"
              >
                {{ 'i18n.otau.check-connection' | translate }}
              </button>
              <rtu-loading-spinner *ngIf="discovering" class="ml-3 h-6 w-6"></rtu-loading-spinner>
              <div *ngIf="discoveredOtau" class="flex text-sm">
                <div class="flex flex-col">
                  <span class="ml-4 text-green-600 dark:text-green-500"
                    >{{ 'i18n.common.serial-number' | translate }}:</span
                  >
                  <span class="ml-4 text-green-600 dark:text-green-500"
                    >{{ 'i18n.common.port-count' | translate }}:</span
                  >
                </div>
                <div class="flex flex-col">
                  <span class="ml-4 text-green-600 dark:text-green-500">{{
                    discoveredOtau.serialNumber
                  }}</span>
                  <span class="ml-4 text-green-600 dark:text-green-500"
                    >{{ discoveredOtau.portCount }}
                  </span>
                </div>
              </div>
              <div *ngIf="errorMessage" class="ml-4 w-48 text-red-700 dark:text-red-600">
                {{ errorMessage | translate }}
              </div>
            </div>
          </div>
        </ng-container>
      </div>

      <!-- <div *ngIf="discoveredOtau" class="mt-4 flex w-full flex-col">
        <p class="">{{ '4. Connect patchcord' }}</p>
      </div> -->
    </div>
  </div>
  <div class="mt-6 flex w-full justify-end">
    <button class="button-cancel min-w-36" (click)="onCancelClicked()">
      {{ 'i18n.common.cancel' | translate }}
    </button>
    <button
      class="button-ok ml-2 min-w-36"
      (click)="onAddOtauClicked()"
      [disabled]="!discoveredOtau"
    >
      {{ 'i18n.common.add' | translate }}
    </button>
  </div>
</div>
