<rtu-single-error-popup
  [errorMessageId$]="errorMessageId$"
  [resetErrorAction]="rtuMgmtActions.resetError()"
></rtu-single-error-popup>

<div class="flex h-full">
  <div class="mx-2 flex w-full flex-col">
    <ng-container *ngIf="traces$ | async as traces">
      <rtu-select
        [items]="otaus"
        [selectedItem]="selectedOtau"
        (selectedItemChange)="selectedOtauChanged($event)"
      >
        <ng-template rtuSelectLabel let-selectedItem>{{ selectedItem.title }} </ng-template>
        <ng-template rtuSelectItem let-item>{{ item.title }} </ng-template>
      </rtu-select>

      <rtu-otau-monitoring-settings
        [traces]="traces"
        (portChecked)="onPortChecked($event)"
      ></rtu-otau-monitoring-settings>
    </ng-container>
  </div>
  <div class="mx-2 flex w-72 flex-col" [formGroup]="form">
    <fieldset [disabled]="isDisabled()">
      <div class="mb-6 w-64 text-sm">
        <label class="ml-2 text-xs" [ngClass]="{ 'disabled-label': isDisabled() }">{{
          'i18n.ft.precise-monitoring' | translate
        }}</label>

        <div class="mb-2 mt-1">
          <rtu-select formControlName="preciseMeas" [items]="frequencies">
            <ng-template rtuSelectLabel let-selectedItem>
              <rtu-description-label
                [description]="'i18n.ft.measurement-frequency' | translate"
                [label]="selectedItem | frequencyPipe | translate"
              ></rtu-description-label>
            </ng-template>
            <ng-template rtuSelectItem let-item>
              {{ item | frequencyPipe | translate }}
            </ng-template>
          </rtu-select>
        </div>

        <rtu-select formControlName="preciseSave" [items]="frequencies">
          <ng-template rtuSelectLabel let-selectedItem>
            <rtu-description-label
              [description]="'i18n.ft.storage-frequency' | translate"
              [label]="selectedItem | frequencyPipe | translate"
            ></rtu-description-label>
          </ng-template>
          <ng-template rtuSelectItem let-item>
            {{ item | frequencyPipe | translate }}
          </ng-template>
        </rtu-select>
      </div>
      <div class="mb-6 w-64 text-sm">
        <label class="ml-2 text-xs" [ngClass]="{ 'disabled-label': isDisabled() }">{{
          'i18n.ft.fast-monitoring' | translate
        }}</label>

        <div class="mb-2 mt-1">
          <rtu-select formControlName="fastMeas" [items]="onlyPerm">
            <ng-template rtuSelectLabel let-selectedItem>
              <rtu-description-label
                [description]="'i18n.ft.measurement-frequency' | translate"
                [label]="selectedItem | translate"
              ></rtu-description-label>
            </ng-template>
            <ng-template rtuSelectItem let-item>
              {{ item | translate }}
            </ng-template>
          </rtu-select>
        </div>

        <rtu-select formControlName="fastSave" [items]="frequencies">
          <ng-template rtuSelectLabel let-selectedItem>
            <rtu-description-label
              [description]="'i18n.ft.storage-frequency' | translate"
              [label]="selectedItem | frequencyPipe | translate"
            ></rtu-description-label>
          </ng-template>
          <ng-template rtuSelectItem let-item>
            {{ item | frequencyPipe | translate }}
          </ng-template>
        </rtu-select>
      </div>

      <div class="mb-6 w-64">
        <label class="ml-2 text-xs" [ngClass]="{ 'disabled-label': isDisabled() }">{{
          'i18n.ft.cycle-full-time' | translate
        }}</label>
        <div class="ml-2 text-sm">{{ cycleFullTime }}</div>
      </div>

      <div class="mb-6 ml-2 w-64">
        <div class="flex">
          <label class="toggle">
            <input type="checkbox" formControlName="isMonitoringOn" />
            <div class="slider"></div>
          </label>
          <label class="ml-3 text-sm" [ngClass]="{ 'disabled-label': isDisabled() }">{{
            'i18n.ft.automatic-mode' | translate
          }}</label>
        </div>
      </div>
    </fieldset>
    <button class="button-ok mt-4 w-64" (click)="onApplyClicked()">Apply</button>
  </div>
</div>
