<rtu-single-error-popup
  [errorMessageId$]="errorMessageId$"
  [resetErrorAction]="rtuMgmtActions.reset()"
></rtu-single-error-popup>

<div class="flex h-full">
  <div class="mx-2 flex w-full flex-col">
    <ng-container *ngIf="rtu$ | async as rtu">
      <ng-container *ngIf="traces$ | async as traces">
        <rtu-select
          [items]="otaus"
          [selectedItem]="selectedOtau"
          (selectedItemChange)="selectedOtauChanged($event)"
        >
          <ng-template rtuSelectLabel let-selectedItem>{{ selectedItem.title }} </ng-template>
          <ng-template rtuSelectItem let-item>{{ item.title }} </ng-template>
        </rtu-select>

        <rtu-otau-monitoring-settings
          [traces]="traces"
          (portChecked)="onPortChecked($event)"
        ></rtu-otau-monitoring-settings>
      </ng-container>
    </ng-container>
  </div>

  <!-- right panel -->
  <div class="mx-2 flex w-72 flex-col" [formGroup]="form">
    <fieldset [disabled]="isDisabled()">
      <div class="mb-6 w-64 text-sm">
        <label class="ml-2 text-xs" [ngClass]="{ 'disabled-label': isDisabled() }">{{
          'i18n.ft.precise-monitoring' | translate
        }}</label>

        <div class="mb-2 mt-1">
          <rtu-select formControlName="preciseMeas" [items]="frequencies">
            <ng-template rtuSelectLabel let-selectedItem>
              <rtu-description-label
                [description]="'i18n.ft.measurement-frequency' | translate"
                [label]="selectedItem | frequencyPipe | translate"
              ></rtu-description-label>
            </ng-template>
            <ng-template rtuSelectItem let-item>
              {{ item | frequencyPipe | translate }}
            </ng-template>
          </rtu-select>
        </div>

        <rtu-select formControlName="preciseSave" [items]="frequencies">
          <ng-template rtuSelectLabel let-selectedItem>
            <rtu-description-label
              [description]="'i18n.ft.storage-frequency' | translate"
              [label]="selectedItem | frequencyPipe | translate"
            ></rtu-description-label>
          </ng-template>
          <ng-template rtuSelectItem let-item>
            {{ item | frequencyPipe | translate }}
          </ng-template>
        </rtu-select>
      </div>
      <div class="mb-6 w-64 text-sm">
        <label class="ml-2 text-xs" [ngClass]="{ 'disabled-label': isDisabled() }">{{
          'i18n.ft.fast-monitoring' | translate
        }}</label>

        <div class="mb-2 mt-1">
          <rtu-select formControlName="fastMeas" [items]="onlyPerm">
            <ng-template rtuSelectLabel let-selectedItem>
              <rtu-description-label
                [description]="'i18n.ft.measurement-frequency' | translate"
                [label]="selectedItem | translate"
              ></rtu-description-label>
            </ng-template>
            <ng-template rtuSelectItem let-item>
              {{ item | translate }}
            </ng-template>
          </rtu-select>
        </div>

        <rtu-select formControlName="fastSave" [items]="frequencies">
          <ng-template rtuSelectLabel let-selectedItem>
            <rtu-description-label
              [description]="'i18n.ft.storage-frequency' | translate"
              [label]="selectedItem | frequencyPipe | translate"
            ></rtu-description-label>
          </ng-template>
          <ng-template rtuSelectItem let-item>
            {{ item | frequencyPipe | translate }}
          </ng-template>
        </rtu-select>
      </div>

      <div class="mb-6 w-64">
        <label class="ml-2 text-xs" [ngClass]="{ 'disabled-label': isDisabled() }">{{
          'i18n.ft.cycle-full-time' | translate
        }}</label>
        <div class="ml-2 text-sm">{{ cycleFullTime }}</div>
      </div>

      <div class="mb-6 ml-2 w-64">
        <div class="flex">
          <label class="toggle">
            <input type="checkbox" formControlName="isMonitoringOn" />
            <div class="slider"></div>
          </label>
          <label class="ml-3 text-sm" [ngClass]="{ 'disabled-label': isDisabled() }">{{
            'i18n.ft.automatic-mode' | translate
          }}</label>
        </div>
      </div>
    </fieldset>

    <div class="flex flex-col items-center">
      <button class="button-ok mt-4 w-64" (click)="onApplyClicked()">
        {{ 'i18n.ft.apply' | translate }}
      </button>

      <div class="mt-4">
        <div *ngIf="inProgress$ | async" class="flex items-center">
          <rtu-loading-spinner class="ml-2 h-4 w-4"></rtu-loading-spinner>
          <span class="text-data-highlight ml-3">{{ 'i18n.ft.in-progress' | translate }}</span>
        </div>
        <ng-container *ngIf="operationSuccess$ | async as opSuccess">
          <div *ngIf="opSuccess">
            <span class="ml-3 text-green-600">{{ 'i18n.ft.success' | translate }}</span>
          </div>
          <div *ngIf="!opSuccess">
            <span class="ml-3 text-red-600">{{ 'i18n.ft.failed' | translate }}</span>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
