<ng-container *ngIf="changesCount > 0; else noChanges">
  <ng-container *ngIf="mostServerChangeLevel !== null">
    <div [rtuColorizeByAlarmLevel]="mostServerChangeLevel" class="flex items-center gap-x-1">
      <span *ngIf="changesCount > 1">
        <!-- prettier-ignore -->
        <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" viewBox="0 0 20 20">
                <path fill="currentColor" d="M14 2H4l5 8l-5 8h12v-4h-2v2H8.25L12 10L8.25 4H14v2h2V2z"/>
            </svg>
      </span>
      <span>{{ levels[mostServerChangeLevel] }}</span>
      <span class="lowercase">{{ 'i18n.common.alarm' | translate }}</span>
    </div>
  </ng-container>
</ng-container>
<ng-template #noChanges>
  <div class="text-left text-sm text-green-600 dark:text-green-500">
    {{ 'i18n.alarms.no-alarms' | translate }}
  </div>
</ng-template>
