<rtu-draggable-window
  [caption]="
    addMode ? ('i18n.ft.add-equimpent' | translate) : ('i18n.ft.update-equimpent' | translate)
  "
  [modal]="true"
  [left]="400"
  [top]="200"
  (closeEvent)="close()"
>
  <div class="grouped-border m-1 flex flex-col" [formGroup]="form">
    <div class="mb-2 flex items-center">
      <label class="w-28 text-sm">{{ 'i18n.ft.title' | translate }}</label>
      <div>
        <input #titleInput formControlName="title" type="text" class="input-simple peer" />
      </div>
    </div>
    <div class="mb-2 flex text-sm">
      <label class="w-28">{{ 'i18n.ft.type' | translate }}</label>
      <rtu-equipment-type-selector
        [startValue]="selectedType"
        (changedValueEvent)="onEquipmentTypeChanged($event)"
      />
    </div>
    <div class="mb-2 flex flex-col text-sm">
      <div class="mb-2">{{ 'i18n.ft.with-cable-reserve' | translate }}</div>
      <div class="mb-1 flex items-center">
        <label class="w-28 pl-2">{{ 'i18n.ft.to-the-left' | translate }}</label>
        <input
          #titleInput
          formControlName="leftReserve"
          type="text"
          class="input-simple peer w-16"
          [ngClass]="{
            'invalid-border': isleftReserveInvalid()
          }"
        />
      </div>
      <div class="flex items-center">
        <label class="h-[38px] w-28 pl-2">{{ 'i18n.ft.to-the-right' | translate }}</label>
        <ng-container
          *ngIf="
            selectedType !== equipmentType.Terminal && selectedType !== equipmentType.CableReserve
          "
        >
          <input
            #titleInput
            formControlName="rightReserve"
            type="text"
            class="input-simple peer w-16"
            [ngClass]="{
              'invalid-border': isRightReserveInvalid()
            }"
          />
        </ng-container>
      </div>
    </div>
    <div class="flex items-center">
      <label class="w-28 text-sm">{{ 'i18n.ft.comment' | translate }}</label>
      <div>
        <input #titleInput formControlName="comment" type="text" class="input-simple peer" />
      </div>
    </div>
  </div>
  <!-- buttons -->
  <div class="mb-1 mt-2 flex flex-row justify-end">
    <button
      class="button-cancel mr-2 min-w-36"
      (click)="onDiscardClicked()"
      [disabled]="isDiscardDisabled()"
      cdkFocusInitial
    >
      {{ 'i18n.ft.discard' | translate }}
    </button>
    <button
      class="button-ok mr-2 min-w-36"
      [disabled]="isApplyDisabled()"
      (click)="onApplyClicked()"
    >
      {{ 'i18n.ft.apply' | translate }}
    </button>
  </div>
</rtu-draggable-window>
